FORMAT: 1A
HOST: https://api.ehealth.gov.ua

# Electronic Healthcare System of Ukraine

**Version: 9.8.8 V3** 2025-02-12

## General Information

Electronic healthcare system of Ukraine (ESOZ) consists of central database and medical information systems (MIS).
Central database belongs to Ukrainian state, represented by the National Healthcare Service of Ukraine (NHSU).

Users of the electronic healthcare system of Ukraine are individuals and
legal entities who are registered in the electronic health system and
have access rights in accordance with the Procedure for the Operation of the electronic healthcare system.

## Abbreviations, acronyms, explanations

See <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17536909481">link to Confluence ESOZ Glossary page</a>.

## Interacting with API

Our API is organized around [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer).
It has predictable, resource-oriented URLs, and uses HTTP response codes to indicate API errors.
We use built-in HTTP features, like HTTP authentication and HTTP verbs, which are understood by off-the-shelf HTTP clients.

### Verbs

As per RESTful design patterns, API implements following HTTP verbs:

- `HEAD` - Can be issued against any resource to get just the HTTP header info.
- `GET` - Read resources. Should hever change resources on server (idempotency) since most of http proxies and services may reply same request multiple times.
- `POST` - Create new resources.
- `PUT` - Replace resources. Idempotent. (Can be used as `insert or update` method, when we want clients to don't care whenever entity is exists in our system.)
- `PATCH` - Same as `PUT`, but replaces subset of fields instead of full entity. Should never be used as `insert of update` pattern.
- `DELETE` - Remove resources.

### Status codes

Code  | Description
----- | -----------
`200` | Everything worked as expected.
`201` | Created.
`202` | Accepted.
`400` | Bad Request. 
`401` | Unauthorized. No valid API key provided or API key doesn't match project.
`402` | The parameters were valid but the request failed.
`403` | Source or destination account is disabled.
`404` | Not Found. The requested resource doesn't exist.
`415` | Incorrect ```Content-Type``` HTTP header.
`422` | Semantic error or similar. For example, value is not included in enum of allowed values.
`409` | Logical error. For example, odject in current status can not be modified. 
`429` | Too Many Requests. Rate limit is exceeded.
`500` `502` `503` `504` | Server Errors. Something went wrong on our end.

### Field naming

Fields are named in `snake_case` since it's more common for
our stack and [20% easier to read](http://ieeexplore.ieee.org/xpl/articleDetails.jsp?tp=&arnumber=5521745).

### Authentication 

In general there is 3-phase authentication routine:

1) Issuing Session Token (OAuth);
2) Issuing Approval Token (ABAC);
3) Issuing Access Token (JWT).

### Request identifier

Each API request has an associated request identifier.
You can find it in `X-Request-ID` response header or inside `meta.request_id` property of returned JSON.

You can also find request identifiers in the URLs of individual request logs in your Dashboard.
If you need to contact us about a specific request, providing the request identifier will
ensure the fastest possible resolution.

All Request ID's are prefixed with a human-readable name of server that served your request.

```
X-Request-ID: flash-99spDSoim3i
```

### Content Type

`Content-Type` header should be always `application/json`

### Request structure

Request consist with a root object that contain resource and metadata as it's childs:

```
{
  "resource": {
    "name": "Alex",
    "surname": "Gray",
    "email": "me@example.com",
    "credentials: [
      {"method": "passsword", "password": "notasecret"}
    ]
  },
  "format_response": true,
  "redirect_browser": true
}
```

### Response structure

Response can consist of 5 root properties:

* `meta` - contains: 1) URL of the requested resource `url`;
                     2) requested response type `type`, may be either list or object;
                     3) HTTP status `code`;
                     4) idempotency key (`idempotency_key`);
                     5) request id (`request_id`).
* `urgent` - Notifications and counters.
* `errors` - Error description. MUST be present when status code is not 2XX, 3XX. CAN NOT be present when data is present.
* `data` - Requested resource. MUST be present when status code is 2XX, 3XX. CAN NOT be present when error is present.
* `paging` - Pagination data.
* `sandbox` - Optional data provided by sandbox environment, for development purposes.

```
{
  "meta": {
    "url": "https://qbill.ly/transactions/",
    "type": "list",
    "code": "200",
    "idempotency_key": "iXXekd88DKqo",
    "request_id": "qudk48fFlaP"
  },
  "urgent": {
    "notifications": ["Read new emails!"],
    "unseen_payments": 10
  },
  "data": {
    "type": "resource_name",
    <...>
  },
  "paging": {
    "limit": 50,
    "cursors": {
      "starting_after": "MTAxNTExOTQ1MjAwNzI5NDE=",
      "ending_before": "NDMyNzQyODI3OTQw"
    },
    "has_more": true
  },
  "sandbox": {
    "debug_varibale": "39384",
    "live": "false"
  }
}
```

### Errors

All errors is returned in JSON format if another `Content-Type` is not specified.
This means that your will receive JSON for requests with HTTP 415 code when incorrect `Content-Type` is provided.

#### Error Object Properties

You can find all necessary information about occurred error in a response `error` property. It can have following fields:

Fields | Required | Description
--------- | ----------- | -----------
`type` | true | General error type. You should return human-readable error message based on this field as a key. Type descriptions is listed in next section.
`invalid` | false | Collection of validation errors for your request.
`invalid[].entry_type` | true | Type of invalid field.
`invalid[].entry` | false | Name or JSON path to invalid data property.
`invalid[].rules` | false| Failed rules for invalid property. You can find supported validation rules at [Request Validators](#request-validators) table. Server may optinally skip this field, when validation rules is perefferd to stay secret or hard to extract from validator.
`invalid[].params` | false| Optional parameters that can be used in a human-readable error message, to make it easier to understand. Usually it contains limit values for failed validator.
`message` | false | Human readable message for API developer.

Example error response:

```
{
    "data": {
        "error": {
            "invalid": [
                {
                    "entry": "$.type",
                    "entry_type": "json_data_property",
                    "rules": [
                        {
                            "description": "Value AMB/ not found in the dictionary eHealth/episode_types",
                            "params": [],
                            "rule": "invalid"
                        }
                    ]
                }
            ],
            "message": "Validation failed. You can find validators description at our API Manifest: http://docs.apimanifest.apiary.io/#introduction/interacting-with-api/errors.",
            "type": "validation_failed"
        },
        "eta": "2019-04-23T09:13:02.415",
        "status": "failed",
        "status_code": 422
    },
    "meta": {
        "code": 200,
        "request_id": "806e0f81-ac97-470e-988f-6391e9abf642#28157",
        "type": "object",
        "url": "http://api-medical-events.me.svc.cluster.local/api/jobs/5cbed6e2ed59d30001e54b92"
    }
}
```

#### Error Types

Parameter | Description
--------- | -----------
`access_denied` | Authorization not passed
`forbidden` | User does not have permissions to access the resource
`content_type_invalid` | Invalid HTTP request `content-type`.
`validation_failed` | Failed validation on JSON request body or form data. 
`request_too_large` | Request body was to large to process it.
`request_conflict`| Request causes logical errors
`internal error`| Error on the server

#### Error Entry Types

Entry Type | Description
--------- | -----------
`json_data_proprty` | JSON document is invalid. `entry` will contain JSON Path to invalid property.
`form_data_field` | HTTP request field (for `form-data` requests) is invalid. 
`query_param` | HTTP query parameter is invalid.
`body` | Mailformed request body.
`header` | HTTP request header is invalid.

#### Validation Rules

List of possible validation rules:

Rule | Params | Description
-------------- | ----------- | -----------
`cast` | `[types]` | The field type should be in `types`.
`required` | `[]` | The field is required and should not be `nil`.
`format` | `[patterns]` | The field should match all regular expressions in `patterns` list.
`inclusion` | `[enum]` | Field value should be in `enum`.
`invalid`| `[]` | Field value is not valid according to specification
`exclusion` | `[enum]` | Field value should NOT be in `enum`.
`subset` | `[set]` | Field value should be subset of `set`.
`length` | `{min:_, max:_, is:_, exclusive:true|false}` | List or string length should be equal to `is` value, less than `max` and bigger than `min` value. Params is optional, but one of them should always be present. `exclusive` is false by default.
`number` | `{greater_than:_, less_than:_, greater_than_or_equal_to:_, less_than_or_equal_to:_, multiple_of:_}` | The field value must be a number that is greater than `greater_than` and less than `less_than`.
`confirmation` | `[]` | The field value of field must match confirmed field (eg. `password_confirmation` should match `password`).
`acceptance` | `[]` | The field value should be true.
`email` | `[patterns]` | The field value must be a valid email address respectively to `patterns`.
`phone_number` | `[patterns]` | The field value must be a valid phone number respectively to `patterns`. *Usually it means that is should be in international format (with `+3`).*
`card_number` | `[]` | The field value should be a valid Visa or MasterCard card number. (By luhn algoryghm.)
`metadata` | `[]` | The field must be a [valid metadata object](http://docs.apimanifest.apiary.io/#introduction/optional-features/metadata).
`unique` | `[]` | The field must be a list with all it's items unique.
`schemata` | `[]` | JSON Schema specific error core.
`schema` | `[]` | JSON Schema specific error core.
`dependency` | `[json_paths]` | Property expects another property to exist.
`json` | `[]` | The field under validation must be a valid JSON string.
`authentification_code` | `{resent: true}` | OTP or other authentification code was invalid. User should retry with re-entering it. `resent` property will tel is code was automatically resent upon failed validation.
`date`, `datetime`, `timestamp` | `[after:_, before:_, after_or_at:_, before_or_at:_]` | Invalid datetime representation.
`url` | `[patterns]` | Field should contain a valid URL.

### Pagination

You can use next search parameters to operate pagination:

Arguments:

- `page_number` (optional) - A number of a page in the list;
- `page_size` (optional) -  A limit on the number of objects to be returned, between 1 and 100. Default: 50;

### HTTP Redirects

API uses HTTP redirection where appropriate. Clients should assume that any request may result in a redirection. Receiving an HTTP redirection is not an error and clients should follow that redirect. Redirect responses will have a Location header field which contains the URI of the resource to which the client should repeat the requests.

Status codes:

- `301` - Permanent redirection. The URI you used to make the request has been superseded by the one specified in the Location header field. This and all future requests to this resource should be directed to the new URI.
- `302`, `307` - Temporary redirection. The request should be repeated verbatim to the URI specified in the Location header field but clients should continue to use the original URI for future requests.
- `303` - The request was successfully performed, the result can be found by the redirect URI.
Other redirection status codes may be used in accordance with the HTTP 1.1 spec.

### File Uploads

#### For files less than 10 MB

For small files it's appropriate to send base64 encoded file contents as JSON field:

```
{
    name: "My Name",
    image: "sdasdpjoijhwhwe83280u2380wef=="
}
```

#### For larger files - Multi-Stage Uploads (Network Transactions)

Multi-stage process:

1). User initiates uploading;
2). Server provides the link to media storage;
3). User upload file using provided link.

## Optional Features

### Rate Limits (Throttling)

We throttle our APIs by default to ensure maximum performance for all developers.

Rate limiting of the API is primarily considered on a per-consumer basis.
All your projects share a same rate limit, to avoid API-consuming fraud.
Rate limits depend on your account type.

Currently free accounts is rate limited to 1000 API calls every 15 minutes,
but this value may be adjusted at our discretion.

### Idempotent Requests

From a RESTful service standpoint, for an operation (or service call) to be idempotent,
clients can make that same call repeatedly while producing the same result.
In other words, making multiple identical requests has the same effect as
making a single request. However, if you are working with async methods,
new job will not be created before previous identical request is not performed.

### Ordering Lists and Collections

By default, all collections are ordered in ascending chronological order.

# Group General

## Dictionaries [/gen/dictionaries]

## Addresses [/gen/addresses]

## User Authentication [/gen/userauth]

Different environments are using different hosts in endpoints:

Environmnet | Host
------------|-----
DEMO        | https://auth-demo.ehealth.gov.ua
PREPROD     | https://auth-preprod.ehealth.gov.ua
PROD        | https://auth.ehealth.gov.ua

In general 3 stage authentication purpose is to get active JWT Bearer which
can be obtained using the folling example:

```
var user      = __ENV.USER;
var data      = JSON.parse(open("./assets/" + user));
var authorize = JSON.parse(open("./assets/authorize@" + user));
var grant     = JSON.parse(open("./assets/grant@" + user));

export function setupAuth() {

   let res1 = http.post("https://auth-demo.ehealth.gov.ua/auth/login",
       JSON.stringify(data), { headers: { 'Content-Type': 'application/json' } });
       check(res1, { "User is entered: ": r => r.json().meta.code < 300, });

   let res2 = http.post("https://auth-demo.ehealth.gov.ua/oauth/apps/authorize",
       JSON.stringify(authorize), { headers:
          { 'Content-Type': 'application/json',
            'Authorization' : 'Bearer ' + res1.json().data.value } });
       check(res2, { "User is authorized by app: ": r => r.json().meta.code < 300, });

   grant.token.code = res2.json().data ? res2.json().data.value : 'error';
   let res3 = http.post("https://auth-demo.ehealth.gov.ua/oauth/tokens",
       JSON.stringify(grant), { headers:
          { 'Content-Type': 'application/json',
            'Authorization' : 'Bearer ' + res1.json().data.value } });
       check(res3, { "User is granted: ": r => r.json().meta.code < 300, });

   return { data: res3 };
}
```

### Login [PUT /auth/login]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-009-001-001-0323
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571446858/Login">Login</a>

Create Session Token by Object.

+ Request (application/json)
    + Attributes (object)
        + token (object)
            + `grant_type`: `password` (string, required) - authentication type
            + `email`: `user@company.com` (string) - email address of ESOZ user
            + `client_id`: `00` (string, required) - MIS identifier
            + `scope`: `app:authorize' (string, required) - ABAС rule

+ Response 201 (application/json)
    + Attributes (`Response_OK`)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (`Access_Token`)

### Sign-in [GET /sign-in{?client_id,redirect_uri,scope,email,user_data,state}]

Key                | Value
-------------------|-----------
ESOZ API ID        | N/A
Link to Confluence | N/A

Create Session Token by Params. You MUST redirect your users to this URL to obtain OAuth
Code Grant (which is later exchanged to Access Token).

User will see rendered login page, which structure differ by a list of requested
scopes and security measures applied by DevOps team.

For security purposes, we will set `X-Frame-Options: deny` header that will disallow opening this page in an iframe.

+ Parameters
    + `client_id`: `6498d88e-97fb-47e2-85a5-99e884f888aa` (string, required) - Medical Service provider ID issued after legal_entity registration. Used to identify the context of the MSP/Pharmacy.
    + `redirect_uri`: https://example.com/ (string, required) - URL where user will be redirected after authentification. This url will receive `code` and `state` parameters in query string.
    + scope: `capitation_contracts:view capitation_contracts:create patients:view patients:create` (string, required) - List of scopes that is required in application business logic, separated by space. Different login forms will be shown based on scopes that you requested.
    + email: email@example.com
    + `user_data`: `base64_string` - Auth request signed on client side
    + state: `eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9` (string, optional) - Randomly generated, opaque, and non-guessable string generated by client that will be transferred to client with grant code

+ Response 200 (text/html; charset=UTF-8)
    + Headers

### Issuing Approval Token [POST /oauth/apps/authorize]

Key                | Value
-------------------|-----------
ESOZ API ID        | N/A
Link to Confluence | N/A

```
{
    "app": {
        "client_id": "00000000-0000-0000-0000-000000000000",
        "redirect_uri": "https://test.com",
        "scope": "division:read client:read app:read_pis employee:read employee_request:approve employee_request:reject employee_request:read legal_entity:read otp:read otp:write person:read patient_summary:read encounter:write encounter:read encounter:cancel episode:write episode:read job:read condition:read condition:write observation:read observation:write immunization:read immunization:write allergy_intolerance:read allergy_intolerance:write medication_statement:read medication_statement:write device:read device:write risk_assessment:read risk_assessment:write medication_dispense:read drugs:read medication_request:details medication_request:read medication_request:reject medication_request:resend medication_request_request:read medication_request_request:reject medication_request_request:sign medication_request_request:write diagnostic_report:read diagnostic_report:write diagnostic_report:cancel procedure:read procedure:write procedure:cancel service_request:makeinprogress service_request:complete service_request:recall service_request:cancel service_request:write service_request:read service_request:use approval:create program_service:read medication_administration:read medication_administration:write healthcare_service:read employee_role:read person_request:write person_request:read preperson:read preperson:write authentication_method_request:write merge_request:write merge_request:sign merge_request:read composition:create composition:search composition:read composition:sign composition:cancel care_plan:write care_plan:read approval:read approval:cancel license:read clinical_impression:read rule_engine_rule:read medical_event_context:read clinical_impression:write person_verification:details person_verification:write person_emergency_contact:read device_definitions:read device_request:write device_request:read device_request:resend device_request:revoke specimen:write specimen:read specimen:reject"
    }
}
```

+ Request (application/json)
    + Headers
        Authorization: Bearer 432fsdfg543252345tfgdsgdft2345 - access_token with the `app:authorize` scope
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

    + Attributes
        + app (required)
            + client_id: `client-1380df72-275a-11e7-93ae-92361f002671` (string, required) - ID of client that is granted with access to user's resources.
            + scope: `notebooks:read notebooks:create patients:read` (string, required) - List of scopes that are granted to the client on the user's behalf.
            + `redirect_uri`: `http://example.com/my_success_login_page` (string, required) - URL of client where user will be redirected on Approval creation.

+ Response 201 (application/json)
    + Headers
        Location: http://example.com/my_success_login_page?code=authorization_code-cTdHUE9jN29yWHo0VTAwL3lwSVRoUT09
    + Attributes (`Response_OK`)
        + meta (`Response__Meta`)
            + code: 201 (number)
        + data (`Response_OK`)
        + urgent
            + `redirect_uri`: `http://example.com/my_success_login_page?code=authorization_code-cTdHUE9jN29yWHo0VTAwL3lwSVRoUT09`

### Issuing Grant Access Token [POST /oauth/tokens]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-009-001-001-0324
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571807257/Exchange+oAuth+Code+Grant+to+Access+Token">Issuing Grant Access Token</a>

```
{
    "token": {
        "grant_type": "authorization_code",
        "code": "00000000000000000000000000000000",
        "client_id": "00000000-0000-0000-0000-000000000000",
        "scope": "division:read employee:read employee_request:approve employee_request:reject employee_request:read legal_entity:read division:activate division:deactivate division:details division:read division:write employee:deactivate employee:details employee:read employee:write employee_request:approve employee_request:read employee_request:reject employee_request:write legal_entity:read healthcare_service:read healthcare_service:write employee_role:read employee_role:write"
    }
}
```

+ Request (application/json)
    + Headers
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
    + Attributes (object)
        + token (object)
            + `client_id`: `6498d88e-97fb-47e2-85a5-99e884f888aa` (string, required) - Medical Service provider ID issued after legal_entity registration. Used to identify the context of the MSP/Pharmacy.
            + client_secret: `msp-001-secret-key` (string, required) - Medical Information System secret key issued upon integration request. Used to identify application developer.
            + code: 299383828 (string, required) - oAuth code grant.
            + `grant_type`: authorization_code (string, fixed, required) - oAuth Grant Type. Currently only `authorization_code` is supported.
            + redirect_uri: https://example.com/ (string, required) - URL where user will be redirected after authentification. This url will receive `code` and `state` parameters in query string.
            + scope: `capitation_contracts:view capitation_contracts:create patients:view patients:create` (string, required) - List of scopes that is required in application business logic, separated by space. Different login forms will be shown based on scopes that you requested.

+ Response 201 (application/json)
    + Attributes (`Response_OK`)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (`Access_Token`)

### Reissuing Session Token [POST /oauth/tokens]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-009-001-001-0325
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571315778/Use+Refresh+Token+for+Access+Token+extension">Reissuing Session Token</a>

```
{
    "token": {
        "grant_type": "refresh_token",
        "code": "00000000000000000000000000000000",
        "client_secret": "...",
        "client_id": "00000000-0000-0000-0000-000000000000",
        "scope": "division:read employee:read employee_request:approve employee_request:reject employee_request:read legal_entity:read division:activate division:deactivate division:details division:read division:write employee:deactivate employee:details employee:read employee:write employee_request:approve employee_request:read employee_request:reject employee_request:write legal_entity:read healthcare_service:read healthcare_service:write employee_role:read employee_role:write"
    }
}
```

+ Request (application/json)
    + Headers
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
    + Attributes (object)
        + token (object)
            + `client_id`: `6498d88e-97fb-47e2-85a5-99e884f888aa` (string, required) - Medical Service provider ID issued after legal_entity registration. Used to identify the context of the MSP/Pharmacy.
            + client_secret: `msp-001-secret-key` (string, required) - Medical Information System secret key issued upon integration request. Used to identify application developer.
            + code: 299383828 (string, required) - oAuth code grant.
            + `grant_type`: authorization_code (string, fixed, required) - oAuth Grant Type. Currently only `authorization_code` is supported.
            + redirect_uri: https://example.com/ (string, required) - URL where user will be redirected after authentification. This url will receive `code` and `state` parameters in query string.
            + scope: `capitation_contracts:view capitation_contracts:create patients:view patients:create` (string, required) - List of scopes that is required in application business logic, separated by space. Different login forms will be shown based on scopes that you requested.

+ Response 201 (application/json)
    + Attributes (`Response_OK`)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (`Access_Token`)

### Logout [POST /auth/logout]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-009-001-001-0326
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/18448646240/DRAFT+PIS.+Logout">Logout</a>


+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)

### Issuing Nonce Token [POST /oauth/nonce]

Key                | Value
-------------------|-----------
ESOZ API ID        | N/A
Link to Confluence | N/A

This access point allows you to get a nonce (one-time JWT) for an
active client of the system. The `client_secret` field must be passed if the
`client type` = TRUSTED_PIS. An example of an encoded JWT information message in the token field:

```
{
   "aud": "mithril-login",
   "exp": 1523439201,
   "iat": 1523438301,
   "iss": "EHealth",
   "jti": "efe1f08e-d4b4-4cef-a02c-78ea4a1dda25",
   "nbf": 1523438300,
   "nonce": 123,
   "sub": 123,
   "typ": "доступ"
}
```

+ Request (application/json)
    + Headers
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
    + Attributes (object)
        + `client_id`: `30074b6e-fbab-4dc1-9d37-88c21dab1847` (string, required)
        + `client_secret`: `c2778f3064753ea70de870a53795f5c9` (string, optional)


+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (object)
           + token: 'eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJtaXRocmlsLWxvZ2luIiwiZXhwIjoxNTIzNDM5MjAxLCJpYXQiOjE1MjM0MzgzMDEsImlzcyI6IkVIZWFsdGgiLCJqdGkiOiJlZmUxZjA4ZS1kNGI0LTRjZWYtYTAyYy03OGVhNGExZGRhMjUiLCJuYmYiOjE1MjM0MzgzMDAsIm5vbmNlIjoxMjMsInN1YiI6MTIzLCJ0eXAiOiJhY2Nlc3MifQ.UZ6S92h3nAG-GKY_XUE1Rc6uR_BuqR8ufUJfMhhKtNmt7DkkQlU49qPXjL0LFddVz1E2DXi2a-BQ0FG-DHsTHA' (string, required)

# Group Administration

## Divisions [/admin/divisions]

### Get Divisions [GET /api/divisions]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-005-006-001-0087
Scope              | related_legal_entities:read
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570889841/DRAFT+Get+divisions">Get Divisions</a>

+ Response 200 (application/json)

### Update Division [PATCH /api/divisions/{id}]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-005-006-001-0088
Scope              | related_legal_entities:read
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570136296/DRAFT+Update+division">Update Division</a>

This method must be used to update existing division in the system.
Note that different legal entity types can register specific division types and address types accordingly
More details can be found [here](https://e-health-ua.atlassian.net/wiki/x/GQB7Iw).

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)

+ Request (application/json)
    + Attributes (`crud_division_post`)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`crud_division_get`)

### Create Division [POST /api/divisions]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-005-006-001-0089
Scope              | related_legal_entities:read
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570431096/DRAFT+Create+division">Create Division</a>

This method must be used to create new division in the system.
Note that different legal entity types can register specific division types and address types accordingly.
More details can be found [here](https://e-health-ua.atlassian.net/wiki/x/GQB7Iw).

+ Request (application/json)
    + Attributes (`crud_division_post`)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`crud_division_get`)

### Deactivate Division [PATCH /api/divisions/{id}/actions/deactivate]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-005-006-001-0090
Scope              | related_legal_entities:read
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570922579/DRAFT+Deactivate+division">Deactivate Division</a>

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`crud_division_get`)

### Activate Division [PATCH /api/divisions/{id}/actions/activate]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-005-006-001-0091
Scope              | related_legal_entities:read
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570693263/DRAFT+Activate+division">Activate Division</a>

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`crud_division_get`)


## Legal Entities [/admin/legal_entities]

### Get Legal Entities [GET /api/v2/legal_entities{?edrpou,legal_entity_id,settlement_id,type,status,nhs_verified,page,page_size}]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-005-009-002-0176
Scope              | legal_entity:read
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570824360/DRAFT+Get+Legal+Entities+V2">Get Legal Entities</a>

Use this method to get list of legal entities filtering by parameters.
List consists of legal entities with parameter `is_active = true`.

+ Parameters
    + `edrpou`: `341086` (string, optional)
    + `legal_entity_id`: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, optional)
    + settlement_id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, optional)
    + type: MSP (enum, optional)
        - MSP
        + Default: MSP
    + status: ACTIVE (enum, optional)
        - ACTIVE
        - CLOSED
    + `nhs_verified`: false (boolean, optional)
    + page: 2 (number, optional) - Page number.
    + page_size: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 300. Default: 50

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection_V2`)
        + data (array)
            + (object)
                + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)
                + include (`Legal_Entity_Response_Public_V2`)
                + status: ACTIVE (enum, required)
                    - ACTIVE
                    - CLOSED
                    - SUSPENDED


### Get Legal Entity by Id [GET /api/v2/legal_entities/{id}]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-005-009-002-0177
Scope              | legal_entity:read
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570562268/DRAFT+Get+Legal+Entity+by+ID+V2">Get Legal Entity by Id</a>

+ Parameters
    + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response__Process_OK`)
        + data (object)
            + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)
            + include (`Legal_Entity_Response_Public_V2`)
            + status: ACTIVE (enum, required)
                - ACTIVE
                - CLOSED
                - SUSPENDED
            + `nhs_verified`: false (boolean, required)
            + `nhs_reviewed`: false (boolean, required) - flag that shows whether legal entity was reviewed by nhs
            + nhs_comment: `comment` (string, optional) - nhs's comment
        + urgent (object, optional)
            + security (object)
                + `secret_key`: `secret_key` (string, required)
                + `client_id`: `client_id` (string, required)
                + `redirect_uri`: `redirect_uri` (string, required, fixed) - Redirect uri

### Create or Update Legal Entity [PUT /api/v2/legal_entities]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-005-009-002-0178
Scope              | legal_entity:write
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570857172/DRAFT+Create+Update+Legal+Entity+V2">Create or Update Legal Entity</a>

Key features and main differences from V1:

* legal entity types and licenses are created/updated one by one, i.e. one legal entity type and one license are accepted in one call;
* medical_services_providers structure is removed, accreditation and license parameters are moved to the root;
* added EDR integration in order to validate and enrich legal entity data;
* it can be also used to update owner data. In this case `employee_id` should be passed in the payload in the owner block.

User may accept or decline Invitation.
For changes to take effect employee must confirm the changes.

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

    + Attributes (object)
        + include (`Legal_Entity_Request_Public_V2`)

+ Response 200 (application/json)
    + Attributes (`Response__Process_OK`)
        + data (object)
            + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)
            + include (`Legal_Entity_Response_Public_V2`)
            + status: ACTIVE (enum, required)
                - ACTIVE
                - CLOSED
                - SUSPENDED
            + `nhs_verified`: false (boolean, required)
            + `nhs_reviewed`: false (boolean, required) - flag that shows whether legal entity was reviewed by nhs
            + nhs_comment: `comment` (string, optional) - nhs's comment
        + urgent (object, optional)
            + security (object)
                + `secret_key`: `secret_key` (string, required)
                + `client_id`: `client_id` (string, required)
                + `redirect_uri`: `redirect_uri` (string, required, fixed) - Redirect uri
            + employee_request_id: `d098aee7-5ab3-4a24-a6ba-811f9cf94c6d` - Employee request identifier

+ Response 201 (application/json)
    + Attributes (`Response__Process_OK`)
        + data (object)
            + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)
            + include (`Legal_Entity_Response_Public_V2`)
            + status: ACTIVE (enum, required)
                - ACTIVE
                - CLOSED
                - SUSPENDED
        + urgent (object, optional)
            + security (object)
                + `secret_key`: `secret_key` (string, required)
                + `client_id`: `client_id` (string, required)
                + `redirect_uri`: `redirect_uri` (string, required, fixed) - Redirect uri
            + employee_request_id: `d098aee7-5ab3-4a24-a6ba-811f9cf94c6d` - Employee request identifier

### Verify Legal Entity by NHS [PATCH /api/legal_entities/{id}/actions/nhs_verify]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-005-009-002-0179
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570464009/DRAFT+Verify+Legal+Entity+by+NHS">Verify Legal Entity by NHS</a>

Use this method to verify legal entity by NHS.
Available transition: `nhs_verified` false --> true.

+ Parameters
    + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response__Process_OK`)
        + data (object)
            + include `Legal_Entity_Request_Public_Short`

### Deactivate Legal Entity [PATCH /api/legal_entities/{id}/actions/deactivate]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-005-009-002-0180
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570824371/DRAFT+Deactivate+Legal+Entity">Deactivate Legal Entity</a>

Use this method to deactivate MSP:
1). Deactivate emploees by legal entity.
2). Deactivate legal entity Update status on CLOSED.

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)

+ Request (application/json)

    + Headers

            Authorization: Bearer c2778f3064753ea70de870a53795f5c9
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (object)
            + include `Legal_Entity_Request_Public_Short`

+ Response 200 (application/json)

### Get Related Legal Entities [GET /api/legal_entities/{id}/related]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-005-009-002-0186
Scope              | related_legal_entities:read
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570922693/DRAFT+Get+legators+Legal+Entities">Get Legators Legal Entities</a>

Use this method to get the list of child legal entities which are related to current legal entity.

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)
    + `page`: 2 (number) - Page number.
    + `page_size`: 50 (number) - A limit on the number of objects to be returned, between 1 and 300. Default: 50.

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection_V2`)
        + meta (Response__Meta)
            + code: 200 (number)
        + data (array[`Legal_Entity_Related`])

### Licenses [/admin/licenses]

### Get Licenses [GET /api/licenses{?id,license_number,type,is_primary,page,page_size}]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-005-009-003-0187
Scope              | license:read
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570824387/DRAFT+Get+licenses">Get Licenses</a>

Use this end-point to obtain all Licenses of the legal entity.

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, optional)
    + license_number: `fd12344344` (string, optional)
    + type: MSP (string, optional) - Dictionary LICENSE_TYPE
    + is_primary: true (boolean, optional) - primary or additional license flag
    + `page`: 2 (number) - Page number.
    + `page_size`: 50 (number) - A limit on the number of objects to be returned, between 1 and 300. Default: 50

+ Response 200 (application/json)
    + Attributes (`Response_Collection_V2`)
        + data (array[`crud_licenses_get`])

+ Response 200 (application/json)

### Create License [POST /api/licenses]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-005-009-003-0188
Scope              | license:write
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570758930/DRAFT+Create+license">Create License</a>

This method must be used to create additional licenses for legal entity (`is_primary=false`) in the system.
Primary license must be added with `Create or Update Legal Entity` method.

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

    + Attributes (`crud_licenses_post`)
        + `is_primary`: false (boolean, required)

+ Response 201 (application/json)
    + Attributes (`Response_OK`)
        + data (`crud_licenses_get`)

+ Response 200 (application/json)

### Update License [PATCH /api/licenses]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-005-009-003-0188
Scope              | license:write
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570136425/DRAFT+Update+license">Update License</a>

This method must be used to update additional license (`is_primary=false`) for legal entity in the system.
Primary license must be updated with `Create or Update Legal Entity` method.

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

    + Attributes (`crud_licenses_post`)
        + is_primary: false (boolean, required)

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`crud_licenses_get`)

# Group Medical Events

Medical events API is a set of web services designed to provide methods of communication
between eHealth Medical Data Storage and medical information systems (MIS). Medical events
API is based on the international framework for exchanging digital health
records - FHIR Release 3 (STU). Most of major resources, data types, data
structures and their way of interpretation are inherited from FHIR. However,
there are minor сhanges described in Apiary. To find out more about business
logic behind the API read this.

### Sequence diagram

In order to provide a consistency of submitted data the established flow should be followed:
![Contract request flow](https://www.websequencediagrams.com/cgi-bin/cdraw?lz=dGl0bGUgU3VibWl0dGluZyBtZWRpY2FsIGRhdGEgcGFja2FnZQoKcGFydGljaXBhbnQgTUlTIGFzIG1zcAAKDWVIZWFsdGggYXMgZWgABgUAKQ1Eb2N1bWVudCBzdG9yYWdlIGFzAAMICgoKbXNwLT4AMAc6IDw8U2VhcmNoIGZvciBhIHBlcnNvbj4-CgBRBy0-bXNwOiA8PFJlc3BvbnNlIHdpdGgAIAdzIGlkcz4-Cm9wdABIDjw8Q3JlYXRlIGVwaXNvZGUARAwAgSoHIDoAHAdhc3luYyBqb2IAZQ4AaghkAGsGam9iIGlkADUTOiAAXQ4AgU4RR2V0ADkFYnkAMg8AgUwNAFwLZGV0YWlscz4-CmVuZACBSBRVcGQAdGgAXQ4AgQxQAIQFBgCDXAUAgygIbmNvdW50ZXIAhQYJABkKU2lnbgAJGACEQwwAhVsFADgSAIMwVACFWQc6IFNhdmUgc2lnbmVkIGNvbnRlbnQgdG8AhWwJAIQjElByb2Nlc3MAgS0ZAIN7OwCFehRsb3MAhSZnAF4MAIVATAoKCgoKCgoK&s=modern-blue)

## Episode of Care [/me/episode]

Episode of care is a resource that contains general information about a patient`s medical case, such as care manager and diagnoses history.

### Create Episode [POST /api/patients/{id}/episodes]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-007-006-001-0267
Scope              | episode:write
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571905741/DRAFT+REST+API+Create+Episode">Create Episode</a>

+ Request (application/json)
    + Headers
        Authorization: Bearer mF_9.B5f-4.1JqM
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
    + Attributes (object)
        + include `Episode_Of_Care_Request`

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

+ Response 404 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 404 (number)
        + error (Response__Error)
            + type: NOT_FOUND (string)
            + message: `Patient not found` (string)

### Get Episodes by Search Params [GET /api/patients/{patient_id}/episodes{?period_from,period_to,status,page,page_size}]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-007-006-001-0268
Scope              | episode:read
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571610885/DRAFT+REST+API+Get+Episodes+by+search+params">Get Episodes by Search Params</a>


Use period_from period_to to find episodes that were active in a certain period of time

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `period_from`: `2017-01-01` (string, optional)
    + `period_to`: `2018-01-01` (string, optional)
    + `code`: `R80` (string, optional)
    + `status`: `active` (string, optional)
    + `managing_organization_id`: `80a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, optional)    
    + `page`: 2 (number, optional) - Page number
    + `page_size`: 50 (number,optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)
    + Headers
        Authorization: Bearer mF_9.B5f-4.1JqM
        api-key: aFBLVTZ6Z2dON1V
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data(array[`Episode_Of_Care_Response`])

### Get Episode by Id [GET /api/patients/{patient_id}/episodes/{episode_id}]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-007-006-001-0269
Scope              | episode:write
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571610896/DRAFT+REST+API+Get+Episode+by+id">Get Episode by Id</a>

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `episode_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Episode identifier

+ Request (application/json)
    + Headers
        Authorization: Bearer mF_9.B5f-4.1JqM
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data(`Episode_Of_Care_Response`)

### Get Approved Episodes [GET /api/patients/{patient_id}/episodes/approved]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-007-006-001-270
Scope              | episode:read
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571873026/DRAFT+REST+API+Get+Approved+Episodes">Get Approved Episodes</a>

This web service returns episodes, that patient gave approvals to read by a current employee.
**Scopes required:** `episode:read`

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `page`: 2 (number, optional) - Page number
    + `page_size`: 50 (number,optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50
    + `code` : `R80` (string, optional) - current diagnosis code

+ Request (application/json)
    + Headers
        Authorization: Bearer mF_9.B5f-4.1JqM
        api-key: aFBLVTZ6Z2dON1V
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data(array[`Episode_Of_Care_Response`])

### Update Episode [PATCH /api/patients/{patient_id}/episodes/{episode_id}]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-007-006-001-271
Scope              | episode:write
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571873037/DRAFT+REST+API+Update+Episode">Update Episode</a>

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `episode_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Episode identifier

+ Request Package (application/json)
    + Headers
        Authorization: Bearer mF_9.B5f-4.1JqM
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
    + Attributes (object)
        + include `Update_Episode`

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

+ Response 404 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 404 (number)
        + error (Response__Error)
            + type: NOT_FOUND (string)
            + message: `Patient not found` (string)

### Close Episode [PATCH /api/patients/{patient_id}/episodes/{episode_id}/actions/close]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-007-006-001-272
Scope              | episode:write
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571873054/DRAFT+REST+API+Close+Episode">Close Episode</a>

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `episode_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Episode identifier

+ Request  (application/json)
    + Headers
        Authorization: Bearer mF_9.B5f-4.1JqM
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
    + Attributes (object)
        + include `Close_Episode`

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

+ Response 404 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 404 (number)
        + error (Response__Error)
            + type: NOT_FOUND (string)
            + message: `Patient not found` (string)

### Cancel Episode [PATCH /api/patients/{patient_id}/episodes/{episode_id}/actions/cancel]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-007-006-001-273
Scope              | episode:write
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570759203/DRAFT+REST+API+Cancel+Episode">Cancel Episode</a>

+ Request  (application/json)
    + Headers
        Authorization: Bearer mF_9.B5f-4.1JqM
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
    + Attributes (object)
        + include `Cancel_Episode`

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

+ Response 404 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 404 (number)
        + error (Response__Error)
            + type: NOT_FOUND (string)
            + message: `Patient not found` (string)

### Get Encounters in Episode Context [GET /api/patients/{patient_id}/episodes/{episode_id}/encounters{?date_from,date_to,page,page_size}]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-007-004-004-0258
Scope              | episode:write
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/18022334586/DRAFT+REST+API+Get+Encounter+context">Get Encounters in Episode Context</a>

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `episode_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Episode identifier
    + `incoming_referral`: `f10aeafb-0df2-4091-bc83-f07e92a100ae` (string, optional)
    + `period_start_from`: `2000-01-01`(string, optional) - Start date of the period of encounter initiation period. Format DATE '2017-08-16'. Example: 2017-08-16
    + `period_start_to`: `2000-01-10`(string, optional) - End date of the period of encounter initiation period. Format DATE '2017-09-16'. Example: 2017-09-16.
    + `period_end_from`: `2000-01-05`(string, optional) - Start date of the period of encounter ending period. Format DATE '2017-08-20'. Example: 2017-08-20.
    + `period_end_to`: `2000-01-15`(string, optional) - End date of the period of treatment ending period. Format DATE '2017-09-20'. Example: 2017-09-20.
    + `page`: `2` (number, optional) - Page number
    + `page_size`: `50` (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50
    + `origin_episode_id`: `d11aeafb-0df2-4091-bc83-f07e92a100af` (string, optional)

+ Request (application/json)
    + Headers
        Authorization: Bearer mF_9.B5f-4.1JqM
        api-key: aFBLVTZ6Z2dON1V
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data (array[`Encounter_Response`], fixed-type)

### Get Short Episodes by Diagnoses Groups [GET /api/patients/{patient_id}/diagnoses_groups/episodes{?period_from,period_to,diagnoses_group_id,managing_organization_id,page,page_size}]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-007-006-001-0274
Scope              | episode:write
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/18023055421/DRAFT+REST+API+Get+Short+Episodes+by+Diagnoses+Groups">Get Short Episodes by Diagnoses Groups</a>

## Compositions [/me/compositions]

### Create Composition Title [GET /api/patients/{patient_id}/composition_title]

Key                | Value
-------------------|-----------
ESOZ API ID        |
Scope              | legal_entity:read
Auth               | yes
Link to Confluence | N/A

+ Response 200 (application/json)

### Submit Composition [GET /api/patients/{patient_id}/compositions]

Key                | Value
-------------------|-----------
ESOZ API ID        |
Scope              | legal_entity:read
Auth               | yes
Link to Confluence | N/A

+ Response 200 (application/json)

### Get Medication Request From Composition [GET /api/persons/{person_id}/compositions/{composition_id}/medication_requests/{id}]

Key                | Value
-------------------|-----------
ESOZ API ID        |
Scope              | legal_entity:read
Auth               | yes
Link to Confluence | N/A

+ Response 200 (application/json)

## Specimen [/me/specimen]

### Create Specimen [POST /api/patients/{patient_id}/specimens]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-007-012-001-0493
Scope              | specimen:write
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/18679365633/DRAFT+REST+API+Create+Specimen">Create Specimen</a>

This endpoint allows to register Specimen by its own.
Also Specimen can be registered as a part of Encounter Data Package.
The required scope is `specimen:write`.
The `signed_data` attribute is the only required.
The structure of PKCS-7 payload of `signed_data` attribute is described in Specimen Payload section.

+ Parameters
    + patient_id: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, required) - Unique patient identifier

+ Request (application/json)
    + Headers
        Authorization: Bearer mF_9.B5f-4.1JqM
        api-key: aFBLVTZ6Z2dON1V
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
    + Attributes (object)
        + `signed_data`:`ew0KICAicGVyaW9kIjogew0KIC...` (string, required, fixed-type)

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

### Dummy Create Specimen [POST /api/patients/{patient_id}/specimens/payload]

This chapter describes the structure of a single Specimen creation. This is not an actual web-service.

+ Request (application/json)
    + Headers
        api-key: aFBLVTZ6Z2dON1V
        Authorization: Bearer mF_9.B5f-4.1JqM
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
    + Attributes (`Specimen_Request`)

### Get Specimen by Search Params [GET /api/patients/{patient_id}/specimens{?type,status,registered_by,collected_from,collected_to,container_identifier,container_type,parent,request,encounter,page,page_size}]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-007-012-001-0495
Scope              | specimen:read
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/18680283137/DRAFT+REST+API+Get+Specimen+by+search+params">Get Specimen by Search Params</a>

+ Parameters
    + status: available (string, optional) - status of the Specimen
    + type: ABP (string, optional) - kind of material that forms the Specimen
    + `registered_by`: `ef30f210-5328-4f48-bfe6-c7150d4737a6` (string, optional) - identifier of employee who registered the specimen
    + `collected_from`: `2023-12-25` (string, optional) - the date from which the Specimen was collected
    + `collected_to`: `2023-12-28` (string, optional)  - the date to which the Specimen was collected
    + `container_identifier`: `1-ABC-4311` (string, optional) - identifier of the container in the Specimen
    + `container_type`: tube (string, optional) - type of the container in the Specimen
    + parent: `9075e0e2-6b57-47fd-aff7-324806efa7e6` (string, optional) - parent Specimen 
    + request: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, optional) - service request identifier linked to the Specimen
    + encounter: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, optional) - encounter/context identifier linked to the Specimen
    + page: 2 (number, optional) - Page number.    
    + `page_size`: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)
    + Headers
        Authorization: Bearer mF_9.B5f-4.1JqM
        api-key: aFBLVTZ6Z2dON1V
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_Collection)
        + data (array[`Specimen_Response`])

### Get Specimen Details [GET /api/patients/{patient_id}/specimens/{id}]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-007-012-001-0495
Scope              | specimen:read
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/18680381441/DRAFT+REST+API+Get+Specimen+details">Get Specimen Details</a>

+ Parameters
    + patient_id: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, required) - Unique patient identifier
    + id: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, required) - Unique specimen identifier

+ Request (application/json)
    + Headers
        Authorization: Bearer mF_9.B5f-4.1JqM
        api-key: aFBLVTZ6Z2dON1V
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Specimen_Response`)

### Get Specimen by Accession Identifier [GET /api/specimens/{accession_identifier}]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-007-012-001-0496
Scope              | specimen:read
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/18680381488/DRAFT+REST+API+Get+Specimen+by+accession+identifier">Get Specimen by Accession Identifier</a>

+ Parameters
    + accession_identifier: `1234-3224-2342-1233` (string, required) - human readable Specimen number
    
+ Request (application/json)
    + Headers
        Authorization: Bearer mF_9.B5f-4.1JqM
        api-key: aFBLVTZ6Z2dON1V
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Specimen_Response`)
            + identity (object, required)
                + gender: MALE (enum, required) - gender of the patient, value from the dictionary GENDER
                    - MALE
                    - FEMALE
                + age: 35 (number, required) - full years between inserted_at and birth date
    
### Process Specimen [PATCH /api/patients/{patient_id}/specimens/{id}/actions/process]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-007-012-001-0497
Scope              | specimen:process
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/18680381533/DRAFT+REST+API+Process+Specimen">Process Specimen</a>

This method is used to set a received_time for a Specimen.

It can be processed in async way only, so Server might answer with:
http code| processing method | Client recommendations
--|--|--
202 | async: **default** method | use Get Async Job Processing Details endpoint from Encounter Data Package to get processing result. Response payload will be returned in the job details

+ Parameters
    + patient_id: `aff00bf6-68bf-4b49-b66d-f031d48922b3` (string, required) - Unique patient identifier
    + id: `aff00bf6-68bf-4b49-b66d-f031d48922b3` (string, required) - Unique Specimen identifier

+ Request (application/json)
    + Headers
            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

    + Attributes (object)
        + `received_time`: `2023-04-20T19:14:13Z` (string, required) - The time when Specimen was received for processing

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

### Reject Specimen [PATCH /api/patients/{patient_id}/specimens/{id}/actions/reject]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-007-012-001-0498
Scope              | specimen:reject
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/18680414209/DRAFT+REST+API+Reject+Specimen">Reject Specimen</a>

This method is used to mark Specimen as unsatisfactory.

It can be processed in async way only, so Server might answer with:
http code| processing method | Client recommendations
--|--|--
202 | async: **default** method | use Get Async Job Processing Details endpoint from Encounter Data Package to get processing result. Response payload will be returned in the job details

+ Parameters
    + patient_id: `aff00bf6-68bf-4b49-b66d-f031d48922b3` (string, required) - Unique patient identifier
    + id: `aff00bf6-68bf-4b49-b66d-f031d48922b3` (string, required) - Unique Specimen identifier

+ Request (application/json)
    + Headers
            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

    + Attributes (object)    
        + `status_reason` (Codeable_Concept, required)
            + coding (array, fixed-type)
                + (Coding)
                    + system: `specimen_reject_reasons` (string)
                    + code: `default` (string)

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

### Cancel Specimen [PATCH /api/patients/{patient_id}/specimens/{id}/actions/cancel]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-007-012-001-0499
Scope              | specimen:cancel
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/18680381577/DRAFT+REST+API+Cancel+Specimen">Cancel Specimen</a>

This method must be used to cancel existing Specimen. Method receives signed message (pkcs7) that consists of signed content,
digital signature and signer public key. All signature fields will be validated (including signer certificate authority).

**Important**

1. Signed content of a Specimen must be equal to the Specimen stored in DB. See Get Specimen details
2. status_reason must be added to signed content
3. status must be changed to `entered_in_error` for the purpose of displaying in the signed content

It can be processed in async way only, so Server might answer with:
http code| processing method | Client recommendations
--|--|--
202 | async: **default** method | use Get Async Job Processing Details endpoint from Encounter Data Package to get processing result. Response payload will be returned in the job details

+ Parameters
    + patient_id: `aff00bf6-68bf-4b49-b66d-f031d48922b3` (string, required) - Unique patient identifier
    + id: `aff00bf6-68bf-4b49-b66d-f031d48922b3` (string, required) - Unique Specimen identifier
    
+ Request (application/json)
    + Headers
        Authorization: Bearer mF_9.B5f-4.1JqM
        api-key: aFBLVTZ6Z2dON1V
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
    + Attributes (object)
        + `signed_data`:`ew0KICAicGVyaW9kIjogew0KIC...` (string, required, fixed-type)

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

### Cancel Specimen Payload [PATCH /api/patients/{patient_id}/specimens/{id}/actions/cancel/payload]

This chapter describes the structure of a single Specimen creation. This is not an actual web-service.

+ Parameters
    + patient_id: `aff00bf6-68bf-4b49-b66d-f031d48922b3` (string, required) - Unique patient identifier
    + id: `aff00bf6-68bf-4b49-b66d-f031d48922b3` (string, required) - Unique Specimen identifier

+ Request (application/json)
    + Headers
        Authorization: Bearer mF_9.B5f-4.1JqM
        api-key: aFBLVTZ6Z2dON1V
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
    + Attributes (Specimen_Response)
        + `status_reason` (Codeable_Concept, required)
            + coding (array, fixed-type)
                + (Coding)
                    + system: `specimen_cancel_reasons` (string)
                    + code: `default` (string)
        + `status`: `entered_in_error` (string, required)

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

### Invalidate Specimen [PATCH /api/patients/{patient_id}/specimens/{id}/actions/invalidate]

Key                | Value
-------------------|-----------
ESOZ API ID        | API-007-012-001-0500
Scope              | specimen:invalidate
Auth               | yes
Link to Confluence | <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/18680381622/DRAFT+REST+API+Invalidate+Specimen">Invalidate Specimen</a>

This method is used to mark Specimen as unavailable.

It can be processed in async way only, so Server might answer with:
http code| processing method | Client recommendations
--|--|--
202 | async: **default** method | use Get Async Job Processing Details endpoint from Encounter Data Package to get processing result. Response payload will be returned in the job details

**Scopes required:** `specimen:invalidate`

+ Parameters
    + patient_id: `aff00bf6-68bf-4b49-b66d-f031d48922b3` (string, required) - Unique patient identifier
    + id: `aff00bf6-68bf-4b49-b66d-f031d48922b3` (string, required) - Unique Specimen identifier
    
+ Request (application/json)
    + Headers
            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

    + Attributes (object)    
        + `status_reason` (Codeable_Concept, required)
            + coding (array, fixed-type)
                + (Coding)
                    + system: `specimen_invalidate_reasons` (string)
                    + code: `default` (string)

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

# Group Personal Data

## Persons [/personal/persons]

### Get Person [GET]

Key                | Value
-------------------|-----------
ESOZ API ID        |
Scope              | legal_entity:read
Auth               | yes
Link to Confluence | 

+ Response 200 (application/json)

## Prepersons [/personal/prepersons]

### Get Preperson  [GET]

Key                | Value
-------------------|-----------
ESOZ API ID        | 
Scope              | legal_entity:read
Auth               | yes
Link to Confluence | 

+ Response 200 (application/json)

# Data Structures

## Responses
### `Response_Collection`
+ meta (Response__Meta, fixed-type)
+ data (array[], fixed-type)
+ paging (Response__Pagination, fixed-type)

### `Response_Collection_V2`
+ meta (Response__Meta, fixed-type)
+ data (array[], fixed-type)
+ paging (`Response__Pagination__V2`, fixed-type)

### `Response_Collection_OK`
+ meta (Response__Meta, fixed-type)
+ data (array[], fixed-type)

### `Response_OK`
+ meta (Response__Meta, fixed-type)
+ data (object, fixed-type)

### `Response__Process_OK`
+ meta (Response__Meta, fixed-type)

### `Response_verification_by_phone`
+ `phone_number`: `+380508887700` (string, required)

### `Response_Error`
+ meta (Response__Meta, fixed-type)
    + code: 400 (number)
+ error (Response__Error, fixed-type)

### `Response__Meta`
+ code: 200 (number) - HTTP response code.
+ url: https://example.com/resource (string) - URL to requested resource.
+ type (enum) - Type of data that is located in `data` attribute.
    - object (string) - `data` attribute is a JSON object.
    - list (string) - `data` attribute is a list.
+ `request_id`: `6617aeec-15e2-4d6f-b9bd-53559c358f97#17810` (string) - [Request ID](https://docs.apimanifest.apiary.io/#introduction/interacting-with-api/request-id). Send it with `X-Request-ID` header.

### `Response__Error`
+ type: type_atom (string) - Atom that represents error type.
+ message: Error description (string) - Human-readable error message. This is for developers, not end-users.

### `Response__Error_DuplicateEntity`
+ type: `object_already_exists` (string) - Atom that represents error type.
+ message: This API already exists (string) - Human-readable error message. This is for developers, not end-users.

### `Response__Error_ValidationFailed`
+ type: validation_failed (string) - type of an error.
+ message: Validation failed. You can find validators description at our API Manifest: https://docs.apimanifest.apiary.io/#introduction/interacting-with-api/errors. (string)
+ invalid (array)
    + `entry_type`: `json_data_proprty` (string) - Type of error.
    + entry: $.cvv (string) - JSON Path to an invalid property.
    + rules (array)
        + rule: required (string) - String constant that represents validation rule type. List of all types can be found in [API Manifest](https://docs.apimanifest.apiary.io/#introduction/interacting-with-api/errors).
        + params (array) - Validation Parameters.
        
### `Response__Error_ValidationFailed_Extended`
+ `error` (object)
    + type: validation_failed (string) - type of an error.
    + message: Validation failed. You can find validators description at our API Manifest: https://docs.apimanifest.apiary.io/#introduction/interacting-with-api/errors. (string)
    + invalid (array)
        + (object)
            + `entry`: `$.cvv` (string, required) - JSON Path to an invalid property.
            + `entry_type`: `json_data_property` (string, required) - Type of error.
            + `rules` (array)
                + (object)
                    + `description`: `value is not allowed in enum` (string, required) - value of error might be different
                    + params (object) - Validation Parameters.
                        + `values` (array)
                    + `raw_description`: `value is not allowed in enum` (string, required) - value of error might be different
                    + `rule`: required (string) - String constant that represents validation rule type. List of all types can be found in [API Manifest](https://docs.apimanifest.apiary.io/#introduction/interacting-with-api/errors).
                            - required
                            - inclusion

### `Response__Pagination`
+ limit: 20 (number) - A limit on the number of objects to be returned, between 1 and 100. Default: 50.
+ cursors (object)
    + `starting_after`: 56c31536a60ad644060041af (string) - A cursor for use in pagination. An object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.
    + `ending_before`: 56c31536a60ad644060041aa (string) - A cursor for use in pagination. An object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.
+ size: 50 (number) - Total number of objects in collection.
+ has_more: false (boolean) - Is this collection have more data to load in the same style as last request loaded it.

### `Response__Pagination__V2`
+ page_number: 2 (number) - Page number.
+ page_size: 50 (number) - A limit on the number of objects to be returned, between 1 and 300. Default: 50
+ total_entries: 1000 (number) - Total number of objects in collection.
+ total_pages: 23 (number) - Total number of pages.

## `Access_Tokens`

### `Access_Token`
+ value: `SnNRdCtvU0tTOENBV2dLRUZwNmIzZz09` (string, required) - OAuth токен доступу
+ user_id: `3ff33ced-69dc-415a-b231-c6446898335a` (string, required) - Ідентифікатор користувача
+ name: `access_token` (string, required) - Ім'я токена
+ id: `3ff33ced-69dc-415a-b231-c6446898335a` - Ідентифікатор токена
+ expires_at: 1498749591 (number, required) - Час, коли токен стає невалідним
+ details (object)
    + scope: `capitation_contracts:view capitation_contracts:create patients:view patients:create` (string, required) - перелік необхідних доступв через пробіл
    + refresh_token: `my-oauth-refresh-token` (string, required) - Оовлюючий токен
    + redirect_uri: `https://example.com/` (string, required) - URI перенаправлення
    + `grant_type`: `authorization_code`
    + client_id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required) - Ідентифкатор авторизованого користувача

### `Access_Token_1`
+ value: `SnNRdCtvU0tTOENBV2dLRUZwNmIzZz09` (string, required) - oAuth access token.
+ user_id: `3ff33ced-69dc-415a-b231-c6446898335a` (string, required) - Ідентифікатор користувача
+ name: `change_password_token` (string, required) - Ім'я токена
+ id: `3ff33ced-69dc-415a-b231-c6446898335a` - Ідентифікатор токена
+ expires_at: 1498749591 (number, required) - Час, коли токен стає невалідним
+ details (object)
    + scope: `capitation_contracts:view capitation_contracts:create patients:view patients:create` (string, required) - перелік необхідних доступв через пробіл
    + `grant_type`: `refresh_token`
    + client_id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required) - Ідентифкатор авторизованого користувача

### `Legal_Entity_Request_Public_Short`
+ name: Клініка Ноунейм (string, required) - full official name of legal entity
+ short_name: Ноунейм (string, optional) - short name of legal entity
+ public_name: Ноунейм (string, optional) - the name to show on public sources
+ type: MSP (string, required) - type of legal entity [MSP/PHARMACY]. MIS can't be created using this WS.
+ `owner_property_type`: STATE (string, required) - `Dictionary OWNER_PROPERTY_TYPE`
+ `legal_form`: 140 (string, required) - `Dictionary LEGAL_FORM`
+ edrpou: 5432345432 (string, required) -  Unified Register of Businesses and Organizations
+ kveds: 86.1 (array, required) - Ukrainian Industry Classification System, there is a check for required kved: 86.10, 86.21, 47.73
+ addresses (array[`Address`], required)
+ phones (array[`Phone`], required)
+ email: email@example.com (string, required) - email to contact person in charge from legal entity
+ website: `www.msp.com.ua` (string, optional) - legal entity website
+ receiver_funds_code: `12345` (string, optional) - treasure code [Код одержувача/розпорядника бюджетних коштів для Казначейства. Вказується за наявності.]
+ beneficiary: `Борисов Борис Борисович` (string, optional) - legal owner of legal entity [нформація про власника ЗОЗ, для ФОП не заповнюється]
+ `medical_service_provider` (MSP)
+ `archive`(array[`Archive`], optional)
+ security (object, fixed-type)
    + `redirect_uri`: `redirect_uri` (string, required, fixed) - Redirect uri is used in oauth2.0 flow
+ is_active: true (boolean, required)
+ inserted_by: `A65C8369-CE3A-44D6-839B-8856E3DC4CA3` (string, required)
+ inserted_at: `2005-10-30 10:45` (string, required) - timestamp
+ created_by_mis_client_id:  `A65C8369-CE3A-44D6-839B-8856E3DC4CA3` (string, required)
+ updated_at: `1991-08-19T00:00:00.000Z` (string, required)
+ updated_by: `userid` (string, required)

### `Legal_Entity_Request_Public_V2`
+ edrpou: 32323454 (string, required) - Unified Register of Businesses and Organizations
+ type: PRIMARY_CARE (string, required) - type of legal entity
+ residence_address (Address, optional, required) - address where the legal entity is physically located
+ phones (array[`Phone`], required)
+ email: email@example.com (string, required) - email to contact person in charge from legal entity
+ website: `www.msp.com.ua` (string, optional) - legal entity website
+ receiver_funds_code: `12345` (string, optional) - treasury registration code [Код одержувача/розпорядника бюджетних коштів для Казначейства. Вказується за наявності.]
+ beneficiary: `Борисов Борис Борисович` (string, optional) - legal owner of legal entity [нформація про власника ЗОЗ, для ФОП не заповнюється]
+ owner(`Owner_V2`,required)
+ accreditation (MSP_Accreditation, optional)
- One of
    + license (object, required)
        + type: MSP (string, required) - License type `Dictionary LICENSE_TYPE`
        + license_number: fd123443 (string, optional)
        + issued_by: Кваліфікацйна комісія (string, required)
        + issued_date: `2017-02-28` (string, required)
        + expiry_date: `2017-02-28` (string, optional)
        + `active_from_date`: `2017-02-28` (string, required)
        + what_licensed: реалізація наркотичних засобів (string, optional)
        + order_no: ВА43234 (string, required) - номер наказу
    + license (object, required)
        + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)
+ `archive`(array[`Archive`], optional)
+ security (object, required, fixed-type)
    + `redirect_uri`: `https://example.com` (string, required, fixed) - Redirect uri is used in oauth2.0 flow
+ public_offer(object, fixed-type, required)
    + `consent_text`: `Consent text` (string, required)
    + `consent`: `true` (boolean, required)

### `Legal_Entity_Response_Public_V2`
+ `edr` (edr_data, required)
+ edrpou: 32323454 (string, required) - Unified Register of Businesses and Organizations
+ type: PRIMARY_CARE (string, required) - type of legal entity [PRIMARY_CARE/OUTPATIENT/PHARMACY]. MIS can't be created using this WS.
+ residence_address (Address, optional, required) - address where the legal entity is physically located
+ phones (array[`Phone`], required)
+ email: email@example.com (string, required) - email to contact person in charge from legal entity
+ website: `www.msp.com.ua` (string, optional) - legal entity website
+ receiver_funds_code: `12345` (string, optional) - treasury registration code [Код одержувача/розпорядника бюджетних коштів для Казначейства. Вказується за наявності.]
+ beneficiary: `Борисов Борис Борисович` (string, optional) - legal owner of legal entity [нформація про власника ЗОЗ, для ФОП не заповнюється]
+ accreditation (MSP_Accreditation, optional)
+ license (object)
    + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string)
    + type: MSP (string, optional) - License type `Dictionary LICENSE_TYPE`
    + license_number: fd123443 (string, optional)
    + issued_by: Кваліфікацйна комісія (string)
    + issued_date: `2017-02-28` (string)
    + expiry_date: `2017-02-28` (string)
    + `active_from_date`: `2017-02-28` (string)
    + what_licensed: реалізація наркотичних засобів (string, optional)
    + order_no: ВА43234 (string) - номер наказу
+ `archive`(array[`Archive`], optional)
+ public_offer(object, fixed-type, required)
    + `consent_text`: `Consent text` (string, required)
    + `consent`: `true` (boolean, required)

### `Archive`
+ date: `2017-02-28` (string, required) - the date when paper documents were transferred to archive
+ place: `вул. Грушевського 15` (string, required) - the address of building where paper documents are

### Phone
+ type: MOBILE (string, required) - `Dictionary PHONE_TYPE` type of phone Land Line or Mobile. At least one of type must be present. Each type can be represented only once.
+ number: `+380503410870` (string, required) - phone number in format '+38/'

### Email
+ type: PERSONAL, PUBLIC (enum[string], required)
+ email: `email@example.com` (string, required)

### Address
+ type: RESIDENCE (string, required) - `Dictionary ADDRESS_TYPE`. 
+ country: UA (enum[string], required) - `Dictionary COUNTRY`
+ area: Житомирська (string, required) - one of Ukraianian area
+ region: Бердичівський (string, optional) - district of area
+ settlement: Київ (string, required) - city name
+ `settlement_type`: CITY (string, required) - `Dictionary SETTLEMENT_TYPE` - type of settlement as city/town/village etc
+ `settlement_id`: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required) - settlement identificator from uaadresses
+ `street_type`: STREET (string, optional) - `Dictionary STREET_TYPE` - type of street as street/road/line etc
+ street: `вул. Ніжинська` (string, optional) - street name
+ building: 15 (string, optional) - number of building
+ apartment: 23 (string, optional) - number of appartment
+ zip: 02090 (string, optional) - system of postal codes

### `edr_data`
+ id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)
+ name: Клініка Ноунейм (string, required) - full official name of legal entity also the name to show on public sources [as map, portal etc]
+ short_name: Ноунейм (string, optional) - short name of legal entity
+ public_name: Ноунейм (string, optional)
+ `legal_form`: 140 (string, optional) - `Business form of legal entity received from edr - Use dictionary LEGAL_FORM to show the name`
+ edrpou: 54323454 (string, required) -  Unified Register of Businesses and Organizations
+ kveds (array, required)
    + (object)
        + name: `Діяльність лікарняних закладів` (string, required)
        + code: `86.10` (string, required)
        + is_primary: true (boolean, required)
+ `registration_address` (`registration_address`, required)
+ state: 1 (number, required)

### `registration_address`
+ zip: `02090`
+ country: `УКРАЇНА`
+ address: `Волинська обл., місто Луцьк ВУЛИЦЯ КОНЯКІНА буд. 14 кв. 144`
+ parts (object)
    + atu: `Волинська обл., місто Луцьк`
    + atu_code: `0710100000`
    + street: `ВУЛИЦЯ КОНЯКІНА`
    + house_type: `буд.`
    + house: `14`
    + building_type: null
    + building: ``
    + num_type: `кв.`
    + num: `144`

## `Divisions`

### `Division`
+ name: Бориспільське відділення Клініки Ноунейм (string, required) - the full name of division
+ addresses (array[`Address`], required)
+ phones (array[`Phone`], required)
+ email: email@example.com (string, required) - division's email
+ working_hours (`workinghours`) - optional field, business hours by each day weekly, doesn't make any influence on business process and will be shown on portal and map.
+ type: CLINIC (enum, required) - `Dictionary DIVISION_TYPE`
+ legal_entity_id: `c8aadb87-ecb9-41ca-9ad4-ffdfe1dd89c9` (string, optional)
+ external_id: `3213213` (string, optional)
+ location (Location, optional) - optional field. geographical location, if it's empty, division won't be shown on a map.

### workinghours
+ mon (array, optional)
    - 08.00,12.00 (array[string])
    - 14.00,18.00 (array[string])
+ tue (array, optional)
    - 08.00,12.00 (array[string])
+ wed (array, optional)
    - 08.00,12.00 (array[string])
+ thu (array, optional)
    - 08.00,12.00 (array[string])
+ fri (array, optional)
    - 08.00,12.00 (array[string])
+ sat (array, optional)
+ sun (array, optional)

### `Division_Details`
+ id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)
+ legal_entity_id: `c8aadb87-ecb9-41ca-9ad4-ffdfe1dd89c9` (string, required)
+ include (`Division`)
+ dls_id: `2872985` (string, optional)
+ dls_verified: true (boolean, optional)

### `Division_Declaration`
+ id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)
+ `legal_entity_id`: `c8aadb87-ecb9-41ca-9ad4-ffdfe1dd89c9` (string, required)
+ name: Бориспільське відділення Клініки Ноунейм (string, required) - the full name of division
+ addresses (array[`Address`], required)
+ phones (array[`Phone`], required)
+ email: email@example.com (string, required) - division's email
+ type: clinic (enum, required) - division type
    - CLINIC
    - AMBULANT_CLINIC
    - FAP
+ external_id: `3213213` (string, optional)
+ dls_id: `2872985` (string, optional)
+ dls_verified: true (boolean, optional)


### `Division_Details_Cabinet`
+ id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)
+ name: Бориспільське відділення Клініки Ноунейм (string, required) - the full name of division
+ addresses (array[`Address`], required)
+ phones (array[`Phone`], required)
+ email: email@example.com (string, required) - division's email
+ location (Location, optional) - geographical location, if it's empty, division won't be shown on a map.


### `Division_Short_List`
+ id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)
+ name: Бориспільське відділення Клініки Ноунейм (string, required)
+ type: clinic (enum, required)
    - CLINIC
    - AMBULANT_CLINIC
    - FAP
+ status: ACTIVE (enum, required)
    - ACTIVE
    - INACTIVE
+ dls_id: `2872985` (string, optional)
+ dls_verified: true (boolean, optional)

### `Division_Short`
+ id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)
+ name: Бориспільське відділення Клініки Ноунейм (string, required)
+ `legal_entity_id`: d290f1ee-6c54-4b01-90e6-d701748f0851 (string, required)
+ type: CLINIC (enum, required)
    - CLINIC
    - AMBULANT_CLINIC
    - FAP
+ status: ACTIVE (enum, required)
    - ACTIVE
    - INACTIVE
+ mountain_group: false (boolean, optional)
+ dls_id: `2872985` (string, optional)
+ dls_verified: true (boolean, optional)

### `crud_division_post`
+ include `Division`

### `crud_division_get`
+ id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)
+ include `Division`
+ status: ACTIVE (enum, required)
    - ACTIVE
    - INACTIVE
+ mountain_group: false (boolean, optional)
+ dls_id: `2872985` (string, optional)
+ dls_verified: true (boolean, optional)

### Location
+ latitude: 30.1233 (number, required)
+ longitude: 50.32423 (number, required)

## `Medical_Service_Providers`

### `crud_msp`
+ `legal_entity_id`: 5432345432 (string, required)
+ accreditation (MSP_Accreditation, optional)
+ licenses (array[`MSP_License`], required)

### `crud_msp_get`
+ include `crud_msp`

### `crud_msp_post`
+ include `crud_msp`

### `crud_msp_patch`
+ accreditation (MSP_Accreditation, optional)
+ licenses (array[`MSP_License`], required)

### `Medical_Service_Provider`
+ name: Клініка Ноунейм (string, required)
+ short_name: Ноунейм (string, required)
+ `legal_form`: 140 (string, required) - `Dictionary LEGAL_FORM`
+ public_name: ЦПМСД №1 (string, optional)
+ edrpou: 5432345432 (string, required)
+ licenses (array[`MSP_License`], required)
+ accreditation (MSP_Accreditation, optional)
+ addresses (array[`Address`], required)
+ phones (array[`Phone`], required)
+ email: `email@example.com` (string, required)

### `MSP_Short`
+ id: d290f1ee-6c54-4b01-90e6-d701748f0851
+ name: Клініка Ноунейм (string, required)
+ short_name: Ноунейм (string, required)
+ `legal_form`: 140 (string, required) - `Dictionary LEGAL_FORM`
+ edrpou: 5432345432 (string, required)

### `MSP_Details`
+ id: d290f1ee-6c54-4b01-90e6-d701748f0851
+ name: Клініка ЦПМСД №1 (string, required)
+ short_name: ЦПМСД №1 (string, required)
+ `legal_form`: 140 (string, required) - `Dictionary LEGAL_FORM`
+ public_name: ЦПМСД №1 (string, optional)
+ edrpou: 5432345432 (string, required)
+ status: `ACTIVE` (enum, required)
    + ACTIVE
    + CLOSED
+ email: `email@example.com` (string, required)
+ phones (array[`Phone`], required)
+ addresses (array[`Address`], optional)

### `MSP`
+ licenses (array[`MSP_License`], required)
+ accreditation (MSP_Accreditation, optional)

### `MSP_V2`
+ licenses (array[`MSP_License_V2`], required)
+ accreditation (MSP_Accreditation, optional)

### `MSP_Accreditation`
+ category: SECOND (string, required) - `Dictionary ACCREDITATION_CATEGORY` category of accreditation legal entity. At least one of type must be present. Each type can be represented only once.
+ issued_date: `2017-02-28` (string, optional) - дата видачі
+ expiry_date: `2017-02-28` (string, optional)
+ order_no: fd123443 (string, required) - номер наказу МОЗ
+ order_date: `2017-02-28` (string, required) - дата наказу МОЗ

### `MSP_License`
+ license_number: fd123443 (string, optional)
+ issued_by: Кваліфікацйна комісія (string, required)
+ issued_date: `2017-02-28` (string, required)
+ expiry_date: `2017-02-28` (string, optional)
+ `active_from_date`: `2017-02-28` (string, required)
+ what_licensed: реалізація наркотичних засобів (string, optional)
+ order_no: ВА43234 (string, required) - номер наказу

### `MSP_License_V2`
+ license_number: fd123443 (string, optional)
+ type: MSP (string, required) - License type `Dictionary LICENSE_TYPE`
+ kveds: 86.10 (array, required) - Ukrainian Industry Classification System, there is a check that at least one of required kveds provided for specific license type
+ issued_by: Кваліфікацйна комісія (string, required)
+ issued_date: `2017-02-28` (string, required)
+ expiry_date: `2017-02-28` (string, optional)
+ `active_from_date`: `2017-02-28` (string, required)
+ what_licensed: реалізація наркотичних засобів (string, optional)
+ order_no: ВА43234 (string, required) - номер наказу

### `Bank_Details`
+ MFO: `351005` (string, required) - bank code
+ name: `Публічне акціонерне товариство «УкрСиббанк»` (string, required) - bank name
+ account_number(array, required)
    + `32009102701026` (string, required) - banks account number

### `Owner_V2`
+ first_name: Петро (string, required)
+ last_name: Іванов (string, required)
+ second_name: Миколайович (string, optional)
+ tax_id: 3015492563 (string, required)
+ employee_id: `229d6b67-fc18-49ca-be96-7468fc4e1745` (string, optional)
+ `no_tax_id`: false (boolean, optional) - true if owner doesn't have tax_id and false otherwise
+ birth_date: `1991-08-19` (string, required)
+ gender: MALE (string, required) - `Dictionary GENDER`
+ email: `email@example.com` (string, required)
+ documents (array[`PartyDocument`], required)
+ phones (array[`Phone`], required)
+ position (string, required): `P6`- `Dictionary POSITION`

### PartyDocument
+ type: PASSPORT (string, required) - `Dictionary DOCUMENT_TYPE`
+ number: АА120518 (string, required) - document issue number
+ issued_by: `Рокитнянським РВ ГУ МВС Київської області` (string, optional) - authority which issued the document
+ issued_at: `2017-02-28` (string, optional) - the date when document was issued

### `Legal_Entity_Related`
+ merged_from_legal_entity (object, required)
    + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required) - merged_from legal entity id
    + name: Клініка Ноунейм (string, required) - full official name of legal entity
    + edrpou: 5432345432 (string, required) -  Unified Register of Businesses and Organizations
+ reason: на підставі наказу №1111 (string, required) - the legit documents which prove the relationship between legal entities
+ reason_date: `2022-02-10` (string, optional) - the legit documents date
+ type: `ACCESSION` (enum, required) - reorganization type, dictionary `LEGAL_ENTITY_REORGANIZATION_TYPES`
+ is_active: true (boolean, required) - whether relationship between legal entities is active
    - Default: true
+ inserted_at: `2005-10-30 10:45` (string, required) - timestamp
+ inserted_by: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required) - user id

## `Licenses`

### `License`
+ type: MSP (enum, required) - License type `Dictionary LICENSE_TYPE`
+ license_number: fd123443 (string, optional)
+ issued_by: Кваліфікацйна комісія (string, required)
+ issued_date: `2022-02-28` (string, required)
+ expiry_date: `2026-02-28` (string, optional)
+ active_from_date: `2022-02-28` (string, required)
+ what_licensed: реалізація наркотичних засобів (string, optional)
+ order_no: ВА43234 (string, optional)

### `crud_licenses_get`
+ id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)
+ include `License`
+ legal_entity_id: `28d9c1be-08f0-403b-aa76-bff228c9904f` (string, required)    
+ is_primary: true (boolean, required)

### `crud_licenses_post`
+ include `License`
+ is_primary: false (boolean, required)

### Job
+ status: `pending` (string, required) - status of request processing.
+ eta: `2018-08-02T10:45:16.000Z` (string, optional) - estimated time of arrivals
+ links (array[Link], optional) - links to resources that has been impactedas a job processing result

### Link
+ entity: `job` (string, required) - name of the entity that link follows to
+ href: `/Jobs/NBXk9EyErUZv1RhXgyvgg` (string, required) - link to entity

### `Reference_request`
+ identifier (Identifier)

### `Reference_response`
+ identifier (Identifier)
+ display_value: `null` (string, required) - This field is required in the Reference, so it may be returned empty.

### `Identifier`
+ `type`(Codeable_Concept, required) - Description of identifier
+ `value` : `9183a36b-4d45-4244-9339-63d81cd08d9c` (string, required)- The value that is unique

### `Codeable_Concept`
+ `coding` (array, required, fixed-type)
    + (object)
        + include `Coding`
+ text (string, optional)

### `Coding`
+ system : `eHealth/resources` (string, required)
+ code : `patient` (string, required) - Symbol in syntax defined by the system

### `Period`
+ start : `2018-08-02T10:45:16.000Z`(string, required) - Starting time with inclusive boundary
+ end : `2018-08-02T11:00:00.000Z`(string, optional) - End time with inclusive boundary, if not ongoing

### `Quantity`
+ value : `13,5` (number, required)
+ comparator : `>` (string, optional)
+ unit : `kg` (string, optional) - for future use
+ system : `eHealth/ucum/units` (string, required)
+ code: `kg` (string, required)

### `Range`
+ low (Quantity, required)
+ high (Quantity, required)

### `Timing`
+ event: `2018-08-02T10:45:16.000Z`
+ repeat (object)
    + include `Repeat`
+ code: `TIMING_ABBREVIATION` (string, optional)

### `Repeat`
+ count: 10 (string, optional) - Number of times to repeat
- One Of
    + `bounds_duration` (Quantity, optional)
    + bounds_range (Range, optional)
    + bounds_period (Period, optional)
+ `count_max`: 20 (string, optional) - Maximum number of times to repeat
+ duration: 15 (string, optional) - How long when it happens
+ `duration_max`: 25 (string, optional) - How long when it happens
+ `duration_unit`: `UNITS_OF_TIME` (string, optional) - unit of time dictionary
+ frequency: 1 (string, optional) - Event occurs frequency times per period
+ `requency_max`: 4 (string, optinal) - Event occurs up to requency max times per period
+ `period`: 1 (string, optinal) - Event occurs frequency times per period
+ `period_max`: 3 (string, optional) - Upper limit of period, 3-4 hours
+ `period_unit`: `UNITS_OF_TIME` (string, optional) - unit of time dictionary
+ `day_of_week`: `DAYS_OF_WEEK` (string, optinal) - DAYS OF WEEK dictionary
+ `time_of_day`: `15:30` (string, optinal) - Time of day for action
+ when: `EVENT_TIMING` (optional) - Code for time period of occurrence
+ offset: 20 (string, optinal) - Minutes from event, before or after

## `Specimen`

### `Specimen_Collection_Request`
[...]
