FORMAT: 1A
HOST: https://api.ehealth.gov.ua

# ESOZ

**Version: 9.11 V3** 2026-01-08

## General Information

Electronic healthcare system of Ukraine (ESOZ) consists of central database and medical information systems (MIS).
Central database belongs to Ukrainian state,represented by the National Healthcare Service of Ukraine (NHSU).

Users of the electronic healthcare system of Ukraine are individuals and
legal entities who are registered in the electronic health system and
have access rights in accordance with the Procedure for the Operation of the electronic healthcare system.

## Abbreviations,acronyms,explanations

See <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17536909481">link to Confluence ESOZ Glossary page</a>.

## Interacting with API

Our API is organized around [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer).
It has predictable,resource-oriented URLs,and uses HTTP response codes to indicate API errors.
We use built-in HTTP features,like HTTP authentication and HTTP verbs,which are understood by off-the-shelf HTTP clients.

### Verbs

As per RESTful design patterns,API implements following HTTP verbs:

- HEAD - Can be issued against any resource to get just the HTTP header info.
- GET - Read resources. Should hever change resources on server (idempotency) since most of http proxies and services may reply same request multiple times.
- POST - Create new resources.
- PUT - Replace resources. Idempotent. (Can be used as `insert or update` method,when we want clients to don't care whenever entity is exists in our system.)
- PATCH - Same as PUT,but replaces subset of fields instead of full entity. Should never be used as `insert of update` pattern.
- DELETE - Remove resources.

### Status codes

Code  | Description
----- | -----------
200 | Everything worked as expected.
201 | Created.
202 | Accepted.
400 | Bad Request. 
401 | Unauthorized. No valid API key provided or API key doesn't match project.
402 | The parameters were valid but the request failed.
403 | Source or destination account is disabled.
404 | Not Found. The requested resource doesn't exist.
409 | Logical error. For example,odject in current status can not be modified. 
415 | Incorrect `Content-Type` HTTP header.
422 | Semantic error or similar. For example,value is not included in enum of allowed values.
429 | Too Many Requests. Rate limit is exceeded.
500 502 503 504 | Server Errors. Something went wrong on our end.

### Field naming

Fields are named in snake_case since it's more common for
our stack and [20% easier to read](http://ieeexplore.ieee.org/xpl/articleDetails.jsp?tp=&arnumber=5521745).

### Authentication 

In general there is 3-phase authentication routine:

1) Issuing Session Token (OAuth);
2) Issuing Approval Token (ABAC);
3) Issuing Access Token (JWT).

### Request identifier

Each API request has an associated request identifier.
You can find it in `X-Request-ID` response header or inside `meta.request_id` property of returned JSON.

You can also find request identifiers in the URLs of individual request logs in your Dashboard.
If you need to contact us about a specific request,providing the request identifier will
ensure the fastest possible resolution.

All Request Id's are prefixed with a human-readable name of server that served your request.

`
X-Request-ID: flash-99spDSoim3i
`

### Content Type

`Content-Type` header should be always `application/json`

### Request structure

Request consist with a root object that contain resource and metadata as it's childs:

`
{
  "resource": {
    "name": "Alex",
    "surname": "Gray",
    "email": "me@example.com",
    "credentials: [
      {"method": "passsword","password": "notasecret"}
    ]
  },
  "format_response": true,
  "redirect_browser": true
}
`

### Response structure

Response can consist of 5 root properties:

* meta - contains: 1) URL of the requested resource url;
                     2) requested response type type,may be either list or object;
                     3) HTTP status code;
                     4) idempotency key (idempotency_key);
                     5) request id (request_id).
* urgent - Notifications and counters.
* errors - Error description. MUST be present when status code is not 2XX,3XX. CAN NOT be present when data is present.
* data - Requested resource. MUST be present when status code is 2XX,3XX. CAN NOT be present when error is present.
* paging - Pagination data.
* sandbox - Optional data provided by sandbox environment,for development purposes.

`
{
  "meta": {
    "url": "https://qbill.ly/transactions/",
    "type": "list",
    "code": "200",
    "idempotency_key": "iXXekd88DKqo",
    "request_id": "qudk48fFlaP"
  },
  "urgent": {
    "notifications": ["Read new emails!"],
    "unseen_payments": 10
  },
  "data": {
    "type": "resource_name",
    <...>
  },
  "paging": {
    "limit": 50,
    "cursors": {
      "starting_after": "MTAxNTExOTQ1MjAwNzI5NDE=",
      "ending_before": "NDMyNzQyODI3OTQw"
    },
    "has_more": true
  },
  "sandbox": {
    "debug_varibale": "39384",
    "live": "false"
  }
}
`

### Errors

All errors is returned in JSON format if another `Content-Type` is not specified.
This means that your will receive JSON for requests with HTTP 415 code when incorrect `Content-Type` is provided.

### # Error Object Properties

You can find all necessary information about occurred error in a response error property. It can have following fields:

Fields | Required | Description
--------- | ----------- | -----------
type | true | General error type. You should return human-readable error message based on this field as a key. Type descriptions is listed in next section.
invalid | false | Collection of validation errors for your request.
`invalid[].entry_type` | true | Type of invalid field.
`invalid[].entry` | false | Name or JSON path to invalid data property.
`invalid[].rules` | false| Failed rules for invalid property. You can find supported validation rules at [Request Validators](#request-validators) table. Server may optionally skip this field,when validation rules is perefferd to stay secret or hard to extract from validator.
`invalid[].params` | false| Optional parameters that can be used in a human-readable error message,to make it easier to understand. Usually it contains limit values for failed validator.
message | false | Human readable message for API developer.

Example error response:

`
{
    "data": {
        "error": {
            "invalid": [
                {
                    "entry": "$.type",
                    "entry_type": "json_data_property",
                    "rules": [
                        {
                            "description": "Value AMB/ not found in the dictionary eHealth/episode_types",
                            "params": [],
                            "rule": "invalid"
                        }
                    ]
                }
            ],
            "message": "Validation failed. You can find validators description at our API Manifest: http://esoz.docs.apiary.io/#introduction/interacting-with-api/errors.",
            "type": "validation_failed"
        },
        "eta": "2019-04-23T09:13:02.415",
        "status": "failed",
        "status_code": 422
    },
    "meta": {
        "code": 200,
        "request_id": "806e0f81-ac97-470e-988f-6391e9abf642#28157",
        "type": "object",
        "url": "http://api-medical-events.me.svc.cluster.local/api/jobs/5cbed6e2ed59d30001e54b92"
    }
}
`

### # Error Types

Parameter | Description
--------- | -----------
access_denied | Authorization not passed
forbidden | User does not have permissions to access the resource
content_type_invalid | Invalid HTTP request `content-type`.
validation_failed | Failed validation on JSON request body or form data. 
request_too_large | Request body was to large to process it.
request_conflict| Request causes logical errors
`internal error`| Error on the server

### # Error Entry Types

Entry Type | Description
--------- | -----------
json_data_proprty | JSON document is invalid. entry will contain JSON Path to invalid property.
form_data_field | HTTP request field (for `form-data` requests) is invalid. 
query_param | HTTP query parameter is invalid.
body | Mailformed request body.
header | HTTP request header is invalid.

### # Validation Rules

List of possible validation rules:

Rule | Params | Description
-------------- | ----------- | -----------
cast | `[types]` | The field type should be in types.
required | `[]` | The field is required and should not be nil.
format | `[patterns]` | The field should match all regular expressions in patterns list.
inclusion | `[enum]` | Field value should be in enum.
invalid| `[]` | Field value is not valid according to specification
exclusion | `[enum]` | Field value should NOT be in enum.
subset | `[set]` | Field value should be subset of set.
length | `{min:_,max:_,is:_,exclusive:true|false}` | List or string length should be equal to is value,less than max and bigger than min value. Params is optional,but one of them should always be present. exclusive is false by default.
number | `{greater_than:_,less_than:_,greater_than_or_equal_to:_,less_than_or_equal_to:_,multiple_of:_}` | The field value must be a number that is greater than greater_than and less than less_than.
confirmation | `[]` | The field value of field must match confirmed field (eg. password_confirmation should match password).
acceptance | `[]` | The field value should be true.
email | `[patterns]` | The field value must be a valid email address respectively to patterns.
phone_number | `[patterns]` | The field value must be a valid phone number respectively to patterns. *Usually it means that is should be in international format (with `+3`).*
card_number | `[]` | The field value should be a valid Visa or MasterCard card number. (By luhn algoryghm.)
metadata | `[]` | The field must be a [valid metadata object](http://esoz.docs.apiary.io/#introduction/optional-features/metadata).
unique | `[]` | The field must be a list with all it's items unique.
schemata | `[]` | JSON Schema specific error core.
schema | `[]` | JSON Schema specific error core.
dependency | `[json_paths]` | Property expects another property to exist.
json | `[]` | The field under validation must be a valid JSON string.
authentification_code | `{resent: true}` | OTP or other authentification code was invalid. User should retry with re-entering it. resent property will tel is code was automatically resent upon failed validation.
date,datetime,timestamp | `[after:_,before:_,after_or_at:_,before_or_at:_]` | Invalid datetime representation.
url | `[patterns]` | Field should contain a valid URL.

### Pagination

You can use next search parameters to operate pagination:

Arguments:

- page_number (optional) - A number of a page in the list;
- page_size (optional) -  A limit on the number of objects to be returned,between 1 and 100. Default: 50;

### HTTP Redirects

API uses HTTP redirection where appropriate. Clients should assume that any request may result in a redirection. Receiving an HTTP redirection is not an error and clients should follow that redirect. Redirect responses will have a Location header field which contains the URI of the resource to which the client should repeat the requests.

Status codes:

- 301 - Permanent redirection. The URI you used to make the request has been superseded by the one specified in the Location header field. This and all future requests to this resource should be directed to the new URI.
- 302,307 - Temporary redirection. The request should be repeated verbatim to the URI specified in the Location header field but clients should continue to use the original URI for future requests.
- 303 - The request was successfully performed,the result can be found by the redirect URI.
Other redirection status codes may be used in accordance with the HTTP 1.1 spec.

### File Uploads

### # For files less than 10 MB

For small files it's appropriate to send base64 encoded file contents as JSON field:

`
{
    name: "My Name",
    image: "sdasdpjoijhwhwe83280u2380wef=="
}
`

### # For larger files - Multi-Stage Uploads (Network Transactions)

Multi-stage process:

1). User initiates uploading;
2). Server provides the link to media storage;
3). User upload file using provided link.

## Optional Features

### Rate Limits (Throttling)

We throttle our APIs by default to ensure maximum performance for all developers.

Rate limiting of the API is primarily considered on a per-consumer basis.
All your projects share a same rate limit,to avoid API-consuming fraud.
Rate limits depend on your account type.

Currently free accounts is rate limited to 1000 API calls every 15 minutes,
but this value may be adjusted at our discretion.

### Idempotent Requests

From a RESTful service standpoint,for an operation (or service call) to be idempotent,
clients can make that same call repeatedly while producing the same result.
In other words,making multiple identical requests has the same effect as
making a single request. However,if you are working with async methods,
new job will not be created before previous identical request is not performed.

### Ordering Lists and Collections

By default,all collections are ordered in ascending chronological order.

# Group Authorization

## User [/gen/user]

ESOZ ENT ID: ENT-067
Link to Confluence: <a href="">User</a>

### Get Nonce [GET /oauth/nonce]

ESOZ API ID: API-009-067-0001
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571315797/DRAFT+REST+API+Get+nonce">Get Nonce</a>

This WS allows to get nonce (one time JWT) for active client of the system.
Field client_secret must be passed if client type = TRUSTED_PIS.

Nonce payload example:

`
{
  "aud": "mithril-login",
  "exp": 1523439201,
  "iat": 1523438301,
  "iss": "EHealth",
  "jti": "efe1f08e-d4b4-4cef-a02c-78ea4a1dda25",
  "nbf": 1523438300,
  "nonce": 123,
  "sub": 123,
  "typ": "access"
}
`

+ Request (application/json)
    + Headers
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

    + Attributes (object)
        + client_id: `30074b6e-fbab-4dc1-9d37-88c21dab1847` (string,required)
        + client_secret: c2778f3064753ea70de870a53795f5c9 (string,optional)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (object)
           + token: 'eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJtaXRocmlsLWxvZ2luIiwiZXhwIjoxNTIzNDM5MjAxLCJpYXQiOjE1MjM0MzgzMDEsImlzcyI6IkVIZWFsdGgiLCJqdGkiOiJlZmUxZjA4ZS1kNGI0LTRjZWYtYTAyYy03OGVhNGExZGRhMjUiLCJuYmYiOjE1MjM0MzgzMDAsIm5vbmNlIjoxMjMsInN1YiI6MTIzLCJ0eXAiOiJhY2Nlc3MifQ.UZ6S92h3nAG-GKY_XUE1Rc6uR_BuqR8ufUJfMhhKtNmt7DkkQlU49qPXjL0LFddVz1E2DXi2a-BQ0FG-DHsTHA' (string,required)

### Deprecated Refresh Client Secret [PATCH /api/clients/{id}/connections/{connection_id}/actions/refresh_secret]

ESOZ API ID: API-009-067-0002
Scope: connection:refresh_secret
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571381309/DRAFT+REST+API+Refresh+client+secret+-+Deprecated">Refresh Client Secret</a>

This method is used to refresh client secret for specified client connection
Only legal entity owner can request new client secret for his own legal entity

+ Parameters
    + id: `1380df72-275a-11e7-93ae-92361f002671` (string,required)
    + connection_id: `e5372365-d47a-467f-81d0-f35117864352` (string,required)

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (object)
            + include Connection
            + secret: ZlFOaHBTR0d3Q0hQcDEraHVYdXBVZz09 (string,required)

## User Authentication [/gen/userauth]

ESOZ ENT ID: ENT-068
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17478385835/oAuth">User Authentication</a>

Different environments are using different hosts in endpoints:

Environmnet | Host
------------|-----
DEMO        | https://auth-demo.ehealth.gov.ua
PREPROD     | https://auth-preprod.ehealth.gov.ua
PROD        | https://auth.ehealth.gov.ua

In general 3 stage authentication purpose is to get active JWT Bearer which
can be obtained using the folling example:

`
var user      = __ENV.USER;
var data      = JSON.parse(open("./assets/" + user));
var authorize = JSON.parse(open("./assets/authorize@" + user));
var grant     = JSON.parse(open("./assets/grant@" + user));

export function setupAuth() {

   let res1 = http.post("https://auth-demo.ehealth.gov.ua/auth/login",
       JSON.stringify(data),{ headers: { 'Content-Type': 'application/json' } });
       check(res1,{ "User is entered: ": r => r.json().meta.code < 300,});

   let res2 = http.post("https://auth-demo.ehealth.gov.ua/oauth/apps/authorize",
       JSON.stringify(authorize),{ headers:
          { 'Content-Type': 'application/json',
            'Authorization' : 'Bearer ' + res1.json().data.value } });
       check(res2,{ "User is authorized by app: ": r => r.json().meta.code < 300,});

   grant.token.code = res2.json().data ? res2.json().data.value : 'error';
   let res3 = http.post("https://auth-demo.ehealth.gov.ua/oauth/tokens",
       JSON.stringify(grant),{ headers:
          { 'Content-Type': 'application/json',
            'Authorization' : 'Bearer ' + res1.json().data.value } });
       check(res3,{ "User is granted: ": r => r.json().meta.code < 300,});

   return { data: res3 };
}
`

### Login [PUT /auth/login]

ESOZ API ID: API-009-068-0001
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571446858/Login">Login</a>

Create Session Token by Object.

+ Request (application/json)
    + Attributes (object)
        + token (object)
            + grant_type: password (string,required) - authentication type
            + email: `user@company.com` (string) - email address of ESOZ user
            + client_id: 00 (string,required) - MIS identifier
            + scope: `app:authorize' (string,required) - ABAС rule

+ Response 201 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (Access_Token)

### Sign-in [GET /sign-in{?client_id,redirect_uri,scope,email,user_data,state}]

ESOZ API ID: N/A
Link to Confluence: N/A

Create Session Token by Params. You MUST redirect your users to this URL to obtain OAuth
Code Grant (which is later exchanged to Access Token).

User will see rendered login page,which structure differ by a list of requested
scopes and security measures applied by DevOps team.

For security purposes,we will set `X-Frame-Options: deny` header that will disallow opening this page in an iframe.

+ Parameters
    + client_id: `6498d88e-97fb-47e2-85a5-99e884f888aa` (string,required) - Medical Service provider ID issued after legal_entity registration. Used to identify the context of the MSP/Pharmacy.
    + redirect_uri: https://example.com/ (string,required) - URL where user will be redirected after authentification. This url will receive code and state parameters in query string.
    + scope: `capitation_contracts:view capitation_contracts:create patients:view patients:create` (string,required) - List of scopes that is required in application business logic,separated by space. Different login forms will be shown based on scopes that you requested.
    + email: email@example.com
    + user_data: base64_string - Auth request signed on client side
    + state: eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9 (string,optional) - Randomly generated,opaque,and non-guessable string generated by client that will be transferred to client with grant code

+ Response 200 (text/html; charset=UTF-8)
    + Headers

### Issuing Approval Token [POST /oauth/apps/authorize]

ESOZ API ID: N/A
Link to Confluence: N/A

+ Request (application/json)
    + Headers
        Authorization: Bearer 432fsdfg543252345tfgdsgdft2345 - access_token with the `app:authorize` scope
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

    + Attributes
        + app (required)
            + client_id: `client-1380df72-275a-11e7-93ae-92361f002671` (string,required) - ID of client that is granted with access to user's resources.
            + scope: `notebooks:read notebooks:create patients:read` (string,required) - List of scopes that are granted to the client on the user's behalf.
            + redirect_uri: `http://example.com/my_success_login_page` (string,required) - URL of client where user will be redirected on Approval creation.

+ Response 201 (application/json)
    + Headers
        Location: http://example.com/my_success_login_page?code=authorization_code-cTdHUE9jN29yWHo0VTAwL3lwSVRoUT09
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (Response_OK)
        + urgent
            + redirect_uri: `http://example.com/my_success_login_page?code=authorization_code-cTdHUE9jN29yWHo0VTAwL3lwSVRoUT09`

### Issuing Grant Access Token [POST /oauth/tokens]

ESOZ API ID: API-009-068-0002
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571807257/Exchange+oAuth+Code+Grant+to+Access+Token">Issuing Grant Access Token</a>

+ Request (application/json)
    + Headers
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
    + Attributes (object)
        + token (object)
            + client_id: `6498d88e-97fb-47e2-85a5-99e884f888aa` (string,required) - Medical Service provider ID issued after legal_entity registration. Used to identify the context of the MSP/Pharmacy.
            + client_secret: `msp-001-secret-key` (string,required) - Medical Information System secret key issued upon integration request. Used to identify application developer.
            + code: 299383828 (string,required) - oAuth code grant.
            + grant_type: authorization_code (string,fixed,required) - oAuth Grant Type. Currently only authorization_code is supported.
            + redirect_uri: https://example.com/ (string,required) - URL where user will be redirected after authentification. This url will receive code and state parameters in query string.
            + scope: `capitation_contracts:view capitation_contracts:create patients:view patients:create` (string,required) - List of scopes that is required in application business logic,separated by space. Different login forms will be shown based on scopes that you requested.

+ Response 201 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (Access_Token)

### Reissuing Session Token [POST /oauth/tokens]

ESOZ API ID: API-009-068-0003
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571315778/Use+Refresh+Token+for+Access+Token+extension">Reissuing Session Token</a>

+ Request (application/json)
    + Headers
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
    + Attributes (object)
        + token (object)
            + client_id: `6498d88e-97fb-47e2-85a5-99e884f888aa` (string,required) - Medical Service provider ID issued after legal_entity registration. Used to identify the context of the MSP/Pharmacy.
            + client_secret: `msp-001-secret-key` (string,required) - Medical Information System secret key issued upon integration request. Used to identify application developer.
            + code: 299383828 (string,required) - oAuth code grant.
            + grant_type: authorization_code (string,fixed,required) - oAuth Grant Type. Currently only authorization_code is supported.
            + redirect_uri: https://example.com/ (string,required) - URL where user will be redirected after authentification. This url will receive code and state parameters in query string.
            + scope: `capitation_contracts:view capitation_contracts:create patients:view patients:create` (string,required) - List of scopes that is required in application business logic,separated by space. Different login forms will be shown based on scopes that you requested.

+ Response 201 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (Access_Token)

### Logout [POST /auth/logout]

ESOZ API ID: API-009-068-0004
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/18448646240/DRAFT+PIS.+Logout">Logout</a>


+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_OK)

### Issuing Nonce Token [POST /oauth/nonce]

ESOZ API ID: N/A
Link to Confluence: N/A

This access point allows you to get a nonce (one-time JWT) for an
active client of the system. The client_secret field must be passed if the
`client type` = TRUSTED_PIS. An example of an encoded JWT information message in the token field:

`
{
   "aud": "mithril-login",
   "exp": 1523439201,
   "iat": 1523438301,
   "iss": "EHealth",
   "jti": "efe1f08e-d4b4-4cef-a02c-78ea4a1dda25",
   "nbf": 1523438300,
   "nonce": 123,
   "sub": 123,
   "typ": "доступ"
}
`

+ Request (application/json)
    + Headers
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
    + Attributes (object)
        + client_id: `30074b6e-fbab-4dc1-9d37-88c21dab1847` (string,required)
        + client_secret: c2778f3064753ea70de870a53795f5c9 (string,optional)


+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (object)
           + token: 'eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJtaXRocmlsLWxvZ2luIiwiZXhwIjoxNTIzNDM5MjAxLCJpYXQiOjE1MjM0MzgzMDEsImlzcyI6IkVIZWFsdGgiLCJqdGkiOiJlZmUxZjA4ZS1kNGI0LTRjZWYtYTAyYy03OGVhNGExZGRhMjUiLCJuYmYiOjE1MjM0MzgzMDAsIm5vbmNlIjoxMjMsInN1YiI6MTIzLCJ0eXAiOiJhY2Nlc3MifQ.UZ6S92h3nAG-GKY_XUE1Rc6uR_BuqR8ufUJfMhhKtNmt7DkkQlU49qPXjL0LFddVz1E2DXi2a-BQ0FG-DHsTHA' (string,required)

## User Role

## User Black List

## Client [/gen/client]

ESOZ ENT ID: ENT-007
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/18831213200/Client+ENT-007">Client</a>

### Get Clients [GET /api/clients]

ESOZ API ID: API-009-007-0001
Scope: client:read
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571381320/DRAFT+REST+API+Get+clients">Get Clients</a>

This service returns list of clients filtered by context depending on client type:

* Mithril Admin - receives all client records without context
* MSP - receives only its own client
* MIS - receives only its own client

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_Collection_V2)
        + data (array[Client])

### Get Client Details [GET /api/clients/{id}]

ESOZ API ID: API-009-007-0002
Scope: client:read
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571708960/DRAFT+REST+API+Get+client+details">Get Client Details</a>

This service returns client details.

Service will return authorization error (403) if the requested client doesn't correspond with context.

+ Parameters
    + id: `1380df72-275a-11e7-93ae-92361f002671` (string,required)

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (Client)
            + client_type_name: MSP (string,optional)

## Connection [/gen/connection]

ESOZ ENT ID: ENT-011
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/18832949290/Connection+ENT-011">Connection</a>

### Get Client Connections [GET /api/clients/{id}/connections]

ESOZ API ID: API-009-011-0001
Scope: connection:read
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571381331/DRAFT+REST+API+Get+client+connections">Get Client Connections</a>

Service returns list of connections for specified client

Service will return authorization error (403) if the requested client doesn't correspond with context

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_Collection_V2)
        + data (array[Connection])

### Get Client Connection Details [GET /api/clients/{id}/connections/{connection_id}]

ESOZ API ID: API-009-011-0002
Scope: connection:read
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571610696/DRAFT+REST+API+Get+client+connection+details">Get Client Connection Details</a>

+ Parameters
    + id: `1380df72-275a-11e7-93ae-92361f002671` (string,required)
    + connection_id: `e5372365-d47a-467f-81d0-f35117864352` (string,required)

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (Connection)

### Update Client Connection [PATCH /api/clients/{id}/connections/{connection_id}]

ESOZ API ID: API-009-011-0003
Scope: connection:write
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571676232/DRAFT+REST+API+Update+client+connection">Update Client Connection</a>

Only redirect uri can be updated using this method

+ Parameters
    + id: `1380df72-275a-11e7-93ae-92361f002671` (string,required)
    + connection_id: `e5372365-d47a-467f-81d0-f35117864352` (string,required)

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

    + Attributes (object)
        + redirect_uri: `https://example3.com` (string,required)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (Connection)

### Refresh Client Secret [PATCH /api/clients/{id}/connections/{connection_id}/actions/refresh_secret]

ESOZ API ID: API-009-011-0004
Scope: connection:refresh_secret
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571446869/DRAFT+REST+API+Refresh+client+secret">Refresh Client Secret</a>

This method is used to refresh client secret for specified client connection.
Only legal entity owner can request new client secret for his own legal entity.

+ Parameters
    + id: `1380df72-275a-11e7-93ae-92361f002671` (string,required)
    + connection_id: `e5372365-d47a-467f-81d0-f35117864352` (string,required)

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (object)
            + include Connection
            + secret: ZlFOaHBTR0d3Q0hQcDEraHVYdXBVZz09 (string,required)

### Delete Client Connection [DELETE /api/clients/{id}/connections/{connection_id}]

ESOZ API ID: API-009-011-0005
Scope: connection:delete
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571250278/DRAFT+REST+API+Delete+client+connection">Delete Client Connection</a>

This method is used to **delete** specified client connection.
Deleted connection can't be restored and used again.

+ Parameters
    + id: `1380df72-275a-11e7-93ae-92361f002671` (string,required)
    + connection_id: `e5372365-d47a-467f-81d0-f35117864352` (string,required)

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (object)
        + meta (Response__Meta,fixed-type)

## Approval App [/gen/approval_app]

API for adding authorized applications for ESOZ.

# Group General

## System Dictionary [/gen/system_dictionary]

API for Services and Dictionaries.

ESOZ ENT ID: ENT-065
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17483006257/System+Dictionary+ENT-065">System Dictionary</a>

### Deprecated Get Dictionaries [GET /api/dictionaries{?name,is_active}]

ESOZ API ID: API-011-065-0001
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570889877/DRAFT+REST+API+Get+dictionaries">Get Dictionaries</a>

Each dictionary is an object that contains `{key}:{value}` pairs where: `{key}` is a dictionary record and `{value}` is a dictionary record description.

+ Parameters
    + name: `eHealth/LOINC/observation_codes` (string,optional) - dictionary name
    + is_active: true (boolean,optional) - dictionary status

+ Request (application/json)
    + Headers
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (array[Dictionary])

+ Response 400 (application/json)

### PIS Get Dictionaries V2 [GET /api/v2/dictionaries{?name,is_active,value_code,value_description,value_is_active}]

ESOZ API ID: API-011-065-0005
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/19541983233/REST+API+PIS+Get+Dictionaries+V2">PIS Get Dictionaries V2</a>

Each dictionary is an object that contains not only a code and description of a value,
but also a status of the value. In addition,it can represent hierarchical dictionaries with subordinate (child) values

NOTE:

On all envoronments this endpoint DOESN'T require authentication with `address:read` scope.

+ Parameters
    + name: `eHealth/ICF/classifiers` (string,optional) - dictionary name
    + is_active: true (boolean,optional) - dictionary status
    + value_code: b1142 (string,optional) - code of the dictionary value
    + value_description: `Орієнтація в особі` (string,optional) - description of the dictionary value
    + value_is_active: true (string,optional) - status of the dictionary value

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + data (array[Dictionary_v2])
            + (object)
                + include Dictionary_v2
                + name: `eHealth/ICPC2/condition_codes` (string,required) - Unique dictionary name
                + description: `Коди станів за ICPC2` (string,required) - dictionary description for a user
                + values (array,required)
                    + (Dictionary_value)
                        + code: D88 (string,required) - code of the dictionary value
                        + description: `Апендицит` (string,required) - description of the code

### MIS Get Dictionaries V2 [GET /api/v2/dictionaries{?name,is_active,value_code,value_description,value_is_active}]

ESOZ API ID: API-011-065-0002
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570627706/REST+API+Get+dictionary+v.2">MIS Get Dictionaries V2</a>

Each dictionary is an object that contains not only a code and description of a value,
but also a status of the value. In addition,it can represent hierarchical dictionaries with subordinate (child) values

NOTE:

On all envoronments this endpoint requires authentication with `address:read` scope.

+ Parameters
    + name: `eHealth/ICF/classifiers` (string,optional) - dictionary name
    + is_active: true (boolean,optional) - dictionary status
    + value_code: b1142 (string,optional) - code of the dictionary value
    + value_description: `Орієнтація в особі` (string,optional) - description of the dictionary value
    + value_is_active: true (string,optional) - status of the dictionary value

+ Request (application/json)
    + Headers
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (array[Dictionary_v2])
            + (object)
                + include Dictionary_v2
                + name: `eHealth/ICPC2/condition_codes` (string,required) - Unique dictionary name
                + description: `Коди станів за ICPC2` (string,required) - dictionary description for a user
                + values (array,required)
                    + (Dictionary_value)
                        + code: D88 (string,required) - code of the dictionary value
                        + description: `Апендицит` (string,required) - description of the code

+ Response 400 (application/json)

### Trembita Get Dictionaries [GET /dictionaries{?name,is_active,value_code}]

ESOZ API ID: API-048-065-7003
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/19029196829/TREMBITA+REST+API+Get+Dictionaries">Trembita Get Dictionaries</a>

+ Parameters
    + name: `eHealth/assistive_devices` (string,optional) - Назва довідника
    + is_active: true (boolean,optional) - Статус довідника
    + value_code: 04 (string,optional) - Код значення довідника

+ Response 200 (application/json)
    + Attributes (Response_TIL_GetDictionaries)
        + data (array)
             + object (TIL_GetDictionary)
                 + labels (array)
                     + SYSTEM
                     + EXTERNAL
                 + is_active: true
                 + values (array)
                     + (TIL_ChildValues)
                         + code: 04_06
                         + description: `Допоміжні засоби для лікування кровообігу`
                         + is_active: true
                         + child_values (array)
                     + (TIL_ChildValues)
                         + code: 04_33
                         + description: `Допоміжні засоби,призначені для збереження цілісності тканин`
                         + is_active: true
                         + child_values (array)
                              + (TIL_ChildValues)
                                  + code: 04_33_03
                                  + description: `Подушки для сидіння та підстилки для збереження цілісності тканин`
                                  + is_active: true
                                  + child_values (array)
                              + (TIL_ChildValues)
                                  + code: 04_33_06
                                  + description: `Допоміжні засоби для збереження цілісності тканин у лежачому положенні`
                                  + is_active: true
                                  + child_values (array)
                     + (TIL_ChildValues)
                         + code: 04_48
                         + description: `Обладнання для тренування руху,сили і балансу`
                         + is_active: true
                         + child_values (array)
                              + (TIL_ChildValues)
                                  + code: 04_48_07
                                  + description: `Допоміжні засоби для тренування патерну ходіння`
                                  + is_active: true
                                  + child_values (array)
                              + (TIL_ChildValues)
                                  + code: 04_48_15
                                  + description: `Вироби для тренування рук,вироби для тренування тулуба та вироби для тренування ніг`
                                  + is_active: true
                                  + child_values (array)
                     + (TIL_ChildValues)
                         + code: 22_27
                         + description: `Допоміжні засоби для подавання сигналів тривоги,індикації,нагадування та сигналізації`
                         + is_active: true
                         + child_values (array)
                              + (TIL_ChildValues)
                                  + code: 22_27_04
                                  + description: `Вироби для сигналізації`
                                  + is_active: true
                                  + child_values (array)
                              + (TIL_ChildValues)
                                  + code: 22_27_12
                                  + description: `Годинники і хронометри`
                                  + is_active: true
                                  + child_values (array)
        + error (Response__Error)

## System Configuration

## Addresses [/gen/addresses]

API for searching Ukrainian Addresses.

ESOZ ENT ID: ENT-001
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17478451446/UA+ADRESSES">Addresses</a>

### List Of Districts By Search Params [GET /api/uaddresses/districts{?region_id,region,name,koatuu,page,page_size}]

ESOZ API ID: API-012-001-0001
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570430977/DRAFT+REST+API+List+Of+Districts+By+Search+Params">List Of Districts By Search Params</a>

+ Parameters
    + region_id: `09a33c98-9a5c-447a-8493-da8fcecb6873` (string,optional) - Province id
    + region: Київ (string,optional) - Province name
    + name: `Києво-Святошинський` (string,optional) - Administrative district of province
    + koatuu: 2625286301 (string,optional) - koatuu classifier id
    + page: 2 (number) - Page number. Default: 1.
    + page_size: 50 (number) - A limit on the number of objects to be returned,between 1 and 500. Default: 10.

+ Response 200 (application/json)
    + Attributes (Response_Collection_V2)
        + meta (Response__Meta)
            + code: 200 (number)
        + data (array[Response_District])

+ Response 422 (application/json)

### Districts by Region [GET /api/uaddresses/regions/290f1ee-6c54-4b01-90e6-d701748f0851/districts{?name,koatuu,page,page_size}]

ESOZ API ID: API-012-001-0002
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570234376/DRAFT+REST+API+Districts+by+Region">Districts by Region </a>

+ Parameters
    + name: `Києво-Святошинський` (string,optional) - Filter by district name
    + koatuu: 2625286301 (string,optional) - koatuu classifier id
    + page: 2 (number) - Page number. Default: 1.
    + page_size: 50 (number) - A limit on the number of objects to be returned,between 1 and 500. Default: 10.

+ Response 200 (application/json)
    + Attributes (Response_Collection_V2)
        + meta (Response__Meta)
            + code: 200 (number)
        + data (array[Response_District_Short])

+ Response 400 (application/json)

### Settlements by District [GET /api/uaddresses/districts/290f1ee-6c54-4b01-90e6-d701748f0851/settlements{?name,koatuu,page,page_size}]

ESOZ API ID: API-012-001-0003
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570693121/DRAFT+REST+API+Settlements+by+district">Settlements by district</a>

Get list of cities by district.

+ Parameters
    + name: `Київ` (string,optional) - Filter by settlement name
    + koatuu: 2625286301 (string,optional) - koatuu classifier id
    + page: 2 (number) - Page number. Default: 1.
    + page_size: 50 (number) - A limit on the number of objects to be returned,between 1 and 300. Default: 10.

+ Response 200 (application/json)
    + Attributes (Response_Collection_V2)
        + meta (Response__Meta)
            + code: 200 (number)
        + data (array[Response_Settlement_Short])

+ Response 400 (application/json)

### List Of Regions By Search Params [GET /api/uaddresses/regions{?name,koatuu,page,page_size}]

ESOZ API ID: API-012-001-0004
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570234387/DRAFT+REST+API+List+Of+Regions+By+Search+Params">List Of Regions By Search Params</a>

+ Parameters
    + name: Київ (string,optional) - Province name
    + koatuu: 2625286301 (string,optional) - koatuu classifier id
    + page: 2 (number) - Page number. Default: 1.
    + page_size: 50 (number) - A limit on the number of objects to be returned,between 1 and 500. Default: 10.

+ Response 200 (application/json)
    + Attributes (Response_Collection_V2)
        + meta (Response__Meta)
            + code: 200 (number)
        + data (array[Response_Region])

### List Of Cities By Search Params [GET /api/uaddresses/settlements{?name,region,district,koatuu,page,page_size}]

ESOZ API ID: API-012-001-0005
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570562054/DRAFT+REST+API+List+Of+Cities+By+Search+Params">List Of Cities By Search Params </a>

Use this method to obtain list of cities. If you want to reduce amount of data that is going trough your application,use name,region,district or `koatuu classifier` filters and show only cities you are interested in.

+ Parameters
    + name: Новосілки (string,optional) - Name of searching settlement
    + region: Київ (string,optional) - Province name
    + district: `Києво-Святошинський` (string,optional) - Administrative district of province
    + koatuu: 2625286301 (string,optional) - koatuu classifier id
    + page: 2 (number) - Page number. Default: 1.
    + page_size: 50 (number) - A limit on the number of objects to be returned,between 1 and 500. Default: 50.

+ Response 200 (application/json)
    + Attributes (Response_Collection_V2)
        + meta (Response__Meta)
            + code: 200 (number)
        + data (array[Response_Settlement])

### Get Settlement Details by Id [GET /api/uaddresses/settlements/{id}]

ESOZ API ID: API-012-001-0006
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570660364/DRAFT+REST+API+Get+settlement+details+by+ID">Get Settlement Details by Id</a>

Use this method to obtain city details.

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string,required) - settlement_id

+ Response 200 (application/json)
    + Attributes (Response_Collection_V2)
        + meta (Response__Meta)
            + code: 200 (number)
        + data (Response_Settlement)

+ Response 400 (application/json)

### List of Streets by Search Params [GET /api/uaddresses/streets{?settlement_id,name,type,page,page_size}]

ESOZ API ID: API-012-001-0007
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570758657/DRAFT+REST+API+List+of+Streets+by+Search+Params">List of Streets by Search Params</a>

+ Parameters
    + settlement_id: `eea333b5-e26d-4e3e-92e2-2ab37b131502` (string,required) - Settlement identifier
    + name: `Незалежності` (string,optional) - Street name
    + type: STREET (string,optional) - Street type (Dictionary STREET_TYPE)
    + page: 2 (number) - Page number. Default: 1.
    + page_size: 50 (number) - A limit on the number of objects to be returned,between 1 and 500. Default: 50.

+ Response 200 (application/json)
    + Attributes (Response_Collection_V2)
        + meta (Response__Meta)
            + code: 200 (number)
        + data (array[Response_Street])

+ Response 422 (application/json)

## Event [/api/event]

ESOZ ENT ID: ENT-029
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17481138211/Event+ENT-029">Event</a>

## Job [/api/job]

ESOZ ENT ID: ENT-034
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/18860572724/Job+ENT-034">Job</a>

### Get Async Job Processing Details [GET /api/jobs/{id}]

ESOZ API ID: API-007-034-0001
Scope: job:read
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/18564973547/DRAFT+REST+API+Get+Job+by+id">Get Async Job Processing Details</a>

This resource should be used to get the processing status of the async job.

>Read more about [job processing algorithms.](https://e-health-ua.atlassian.net/wiki/spaces/EH/pages/583402225/Medical+events+Technical+Documentation)

+ Parameters
    + id: NBXk9EyErUZv1RhXgyvgg (string,required) - request identifier

+ Request (application/json)

    + Headers

            Authorization: Bearer 342432fdsfdsgfdt24535422fgds
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 200 (number)
        + data (Job)

+ Response 303 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 303 (number)
        + data (Job)
            + status: processed
            + status_code: 200
            + links (array,required,fixed-type)
                + (object)
                    + entity: encounter (string,required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/encounters/90a9e15b-b71b-4caf-8f2e-ff247e8a5600` (string,required)
                + (object)
                    + entity: condition (string,required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/conditions/df112200-64da-451b-bf77-8e7655bbd48f` (string,required)
                + (object)
                    + entity: observation (string,required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/observations/d118cc02-3b9b-4d1a-b728-eda4e3d58f25` (string,required)
                + (object)
                    + entity: allergy_intolerance (string,required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/allergy_intolerances/5f41c64a-6742-4d6d-9f3b-c6742b2ee0a1` (string,required)
                + (object)
                    + entity: immunization (string,required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/immunizations/12e5985d-2a79-452f-8bc4-ed3a02fdefc5` (string,required)
                + (object)
                    + entity: risk_assessment (string,required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/risk_assessments/22e5985d-2a79-452f-8bc4-ed3a02fdefc5` (string,required)
                + (object)
                    + entity: device (string,required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/devices/32e5985d-2a79-452f-8bc4-ed3a02fdefc5` (string,required)
                + (object)
                    + entity: medication_statemet (string,required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/medication_statemets/42e5985d-2a79-452f-8bc4-ed3a02fdefc5` (string,required)
                + (object)
                    + entity: medication_administration (string,required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/medication_administration/42e5985d-2a79-452f-8bc4-ed3a02fdefc5` (string,required)
                + (object)
                    + entity: diagnostic_report (string,required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/diagnostic_reports/42e5985d-2a79-452f-8bc4-ed3a02fdefc5` (string,required)
                + (object)
                    + entity: procedure (string,required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/procedure/42e5985d-2a79-452f-8bc4-ed3a02fdefc5` (string,required)
                + (object)
                    + entity: specimen (string,required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/specimens/42e5985d-2a79-452f-8bc4-ed3a02fdefc6` (string,required)
                + (object)
                    + entity: device_dispense (string,required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/device_dispenses/42e5985d-2a79-452f-8bc4-ed3a02fdefc6` (string,required)
                + (object)
                    + entity: device_association (string,required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/device_associations/42e5985d-2a79-452f-8bc4-ed3a02fdefc6` (string,required)
                + (object)
                    + entity: detected_issue (string,required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/detected_issues/42e5985d-2a79-452f-8bc4-ed3a02fdefc6` (string,required)
                

+ Response 403 (application/json)
    + Attributes (Response_OK)
        + data (Job_Error_403)
        + meta (Response__Meta)
            + code: 200 (number)

+ Response 409 (application/json)
    + Attributes (Response_OK)
        + data (Job_Error_409)
        + meta (Response__Meta)
            + code: 200 (number)

+ Response 422 (application/json)
    + Attributes (Response_OK)
        + data (Job_Error_422)
        + meta (Response__Meta)
            + code: 200 (number)

+ Response 404 (application/json)
    + Attributes (Response_OK)
        + data (Job_Error_404)
        + meta (Response__Meta)
            + code: 404 (number)
   
+ Response 500 (application/json)
    + Attributes (Response_OK)
        + data (Job_Error_404)
        + meta (Response__Meta)
            + code: 500 (number)


## Medical Program [/api/medical_program]

ESOZ ENT ID: ENT-037
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17359700030/Medical+Program">Medical Program</a>

### Get Medical Programs List [GET /api/medical_programs{?id,name,is_active,mr_blank_type,type,page,page_size}]

ESOZ API ID: API-011-037-0001
Scope: medical_program:read
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570431118/REST+API+Get+medical+programs+list">Get Medical Programs List</a>

Method returns list of medical programs filtering by parameters. By default method returns only active medical programs `is_active=true`

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string,optional) - Medical program identifier
    + name: `Доступні ліки` (string,optional) - Name of the Medical program
    + is_active: true (boolean,optional) - Is medical program active or not. Default: true
    + mr_blank_type: `F-1` (string,optional) - Type of blank required by Program for prescription of Medications
    + page: 2 (number,optional) - Page number.
    + page_size: 50 (number,optional) - A limit on the number of objects to be returned,between 1 and 300. Default: 50
    + type: MEDICATION(string,optional) - medical program type

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_Collection_V2)
        + meta (Response__Meta)
        + data (array[medical_programs_response])

### Get Medical Program by Id [GET /api/medical_programs/id]

ESOZ API ID: API-011-037-0002
Scope: medical_program:read
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570103419/REST+API+Get+Medical+Program+by+id">Get Medical Program by Id</a>

This endpoint returns medical program by id.

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 200 (number)
        + data (medical_programs_response)

### Get Program Services List [GET /api/program_services{?medical_program_id,page,page_size}]

This endpoint returns list of service program members. **Scopes required:** `program_service:read`.

+ Parameters
    + medical_program_id: `1380df72-275a-11e7-93ae-92361f002671` (string,required)
    + page: 2 (number,optional) - Page number
    + page_size: 50 (number,optional) - A limit on the number of objects to be returned,between 1 and 300. Default: 50

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_Collection_V2)
        + meta (Response__Meta)
            + code: 200 (number)
        + data (array[Program_Service_Response])

### Get Program Service by Id [GET /api/program_services/id]

This endpoint returns service program member by id. **Scopes required:** `program_service:read`.

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 200 (number)
        + data (Program_Service_Response)

### Get Services Dictionary [GET /api/services{?code,name,page,page_size}]

This web service returns a catalog of services that could be submitted in eHealth. The catalog has a tree data structure. Each node represents group of services (or sub-group),except end-node,that represents services themselves. Maximum nesting level is 4.

+ Parameters
    + code: `JF2 01` (string,optional) - Service code.
    + name: `Some Name` (string,optional) - Service name.
    + page: 2 (number,optional) - Page number.
    + page_size: 50 (number,optional) - A limit on the number of objects to be returned,between 1 and 300. Default: 50

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 200 (number)
        + data (Service_in_group)

## Medical Program Participant

## Service

## Medication

## Device Definition

## Forbidden Group

## Groups of Diagnoses [/me/groups_of_diagnoses]

ESOZ ENT ID: ENT-031
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17479467181/Groups+of+Diagnoses+ENT-031">Groups of Diagnoses</a>

### Get Active Diagnoses (Summary) [GET /api/patients/{patient_id}/summary/diagnoses]

ESOZ API ID: API-007-031-0001
Scope: patient_summary:read
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17572167687/DRAFT+REST+API+Get+Active+Diagnoses+Patient+Summary">Get Active Diagnoses (Summary)</a>

This endpoint returns current diagnoses related only to active episodes. In order to get specific condition details,use [Get Condition by Id](https://esoz.docs.apiary.io/#reference/medical-events/condition/get-condition-by-id-(summary))

+ Parameters
    + patient_id: `7a489bbd-d8e2-48d9-92fd-fcf0102f7b08` (string,required) - Unique patient identifier
    + page: 1 (number,optional) - Page number.    
    + page_size: 50 (number,optional) - A limit on the number of objects to be returned,between 1 and 100. Default: 50
    + code: A20 (string,optional)

+ Request (application/json)
    + Headers
        Authorization: Bearer mF_9.B5f-4.1JqM
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_Collection)
        + data (array,required,fixed-type)
            + (Diagnosis_Referrence_Condition)
            + (Diagnosis_Referrence_Condition_2)

## Rule Engine Rule

## System Global Parameters

# Group Administrative Info

## Divisions [/admin/divisions]

ESOZ ENT ID: ENT-022
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17358684238/Division+ENT">Division</a>

### Get Divisions [GET /api/divisions]

ESOZ API ID: API-005-022-0001
Scope: division:read
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570889841/DRAFT+Get+divisions">Get Divisions</a>

+ Parameters
    + ids: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string,optional)
    + name: `Бориспільське відділення клініки` (string,optional)
    + legal_entity_id: `d8b5f374-0f3c-46e6-baf1-21d97b4c9ff5` (string,optional)
    + type: CLINIC (string,optional) - Dictionary DIVISION_TYPE
    + status: ACTIVE (string,optional)
        - ACTIVE
        - INACTIVE
    + page: 2 (number) - Page number.
    + page_size: 50 (number) - A limit on the number of objects to be returned,between 1 and 300. Default: 50

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_Collection_V2)
        + data (crud_division_get)

### Update Division [PATCH /api/divisions/{id}]

ESOZ API ID: API-005-022-0002
Scope: division:write
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570136296/DRAFT+Update+division">Update Division</a>

This method must be used to update existing division in the system.
Note that different legal entity types can register specific division types and address types accordingly
More details can be found [here](https://e-health-ua.atlassian.net/wiki/x/GQB7Iw).

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string,required)

+ Request (application/json)
    + Attributes (crud_division_post)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (crud_division_get)

### Create Division [POST /api/divisions]

ESOZ API ID: API-005-022-0003
Scope: division:write
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570431096/DRAFT+Create+division">Create Division</a>

This method must be used to create new division in the system.
Note that different legal entity types can register specific division types and address types accordingly.
More details can be found [here](https://e-health-ua.atlassian.net/wiki/x/GQB7Iw).

+ Request (application/json)
    + Attributes (crud_division_post)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (crud_division_get)

### Deactivate Division [PATCH /api/divisions/{id}/actions/deactivate]

ESOZ API ID: API-005-022-0004
Scope: division:deactivate
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570922579/DRAFT+Deactivate+division">Deactivate Division</a>

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string,required)

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (crud_division_get)

### Activate Division [PATCH /api/divisions/{id}/actions/activate]

ESOZ API ID: API-005-022-0005
Scope: division:activate
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570693263/DRAFT+Activate+division">Activate Division</a>

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string,required)

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (crud_division_get)

### Get Division Details [GET /api/divisions/{id}]

ESOZ API ID: API-005-022-0007
Scope: division:details
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570824251/DRAFT+REST+API+Get+division+details">Get Division Details</a>

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string,required)

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (crud_division_get)

## Legal Entities [/admin/legal_entities]

ESOZ ENT ID: ENT-035
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17359405133/Legal+Entity">Legal Entity</a>

### Get Legal Entities V2 [GET /api/v2/legal_entities{?edrpou,legal_entity_id,settlement_id,type,status,nhs_verified,page,page_size}]

ESOZ API ID: API-005-035-0001
Scope: legal_entity:read
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570824360/DRAFT+Get+Legal+Entities+V2">Get Legal Entities</a>

Use this method to get list of legal entities filtering by parameters.
List consists of legal entities with parameter `is_active = true`.

+ Parameters
    + edrpou: 341086 (string,optional)
    + legal_entity_id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string,optional)
    + settlement_id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string,optional)
    + type: PRIMARY_CARE (enum,optional)
        - PRIMARY_CARE
        - OUTPATIENT
        - EMERGENCY
        - PHARMACY
    + status: ACTIVE (enum,optional)
        - ACTIVE
        - SUSPENDED
        - CLOSED
        - REORGANIZED
    + nhs_verified: false (boolean,optional)
    + page: 2 (number,optional) - Page number.
    + page_size: 50 (number,optional) - A limit on the number of objects to be returned,between 1 and 300. Default: 50

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_Collection_V2)
        + data (array)
            + (object)
                + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string,required)
                + include Legal_Entity_Response_Public_V2
                + status: ACTIVE (enum,required)
                    - ACTIVE
                    - CLOSED
                    - SUSPENDED

### Get Legal Entity by Id V2 [GET /api/v2/legal_entities/{id}]

ESOZ API ID: API-005-035-0002
Scope: legal_entity:read
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570562268/DRAFT+Get+Legal+Entity+by+ID+V2">Get Legal Entity by Id</a>

+ Parameters
    + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string,required)

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + data (object)
            + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string,required)
            + include Legal_Entity_Response_Public_V2
            + status: ACTIVE (enum,required)
                - ACTIVE
                - CLOSED
                - SUSPENDED
            + nhs_verified: false (boolean,required)
            + nhs_reviewed: false (boolean,required) - flag that shows whether legal entity was reviewed by nhs
            + nhs_comment: comment (string,optional) - nhs's comment
        + urgent (object,optional)
            + security (object)
                + secret_key: secret_key (string,required)
                + client_id: client_id (string,required)
                + redirect_uri: redirect_uri (string,required,fixed) - Redirect uri

### Create or Update Legal Entity V2 [PUT /api/v2/legal_entities]

ESOZ API ID: API-005-035-0003
Scope: legal_entity:write
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570857172/DRAFT+Create+Update+Legal+Entity+V2">Create or Update Legal Entity</a>

Key features and main differences from V1:

* *legal entity types and licenses are created/updated one by one,i.e. one legal entity type and one license are accepted in one call*
* *medical_services_providers structure is removed,accreditation and license parameters are moved to the root*
* *added EDR integration in order to validate and enrich legal entity data*
* *it can be also used to update owner data. In this case employee_id should be passed in the payload in the owner block*

User may accept or decline Invitation.
For changes to take effect employee must confirm the changes.
There is a method [**Dummy Create or Update Legal Entity V2**](https://esoz.docs.apiary.io/#reference/administration/legal-entities/dummy-create-or-update-legal-entity-v2)
that describes the latest legal entity data model and can be used as documentation.

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

    + Attributes (object)
        + signed_legal_entity_request: `...` (string,required)
        + signed_content_encoding: base64 (string,required)

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + data (object)
            + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string,required)
            + include Legal_Entity_Response_Public
            + status: ACTIVE (enum,required)
                - ACTIVE
                - CLOSED
                - SUSPENDED
            + nhs_verified: false (boolean,required)
            + nhs_reviewed: false (boolean,required) - flag that shows whether legal entity was reviewed by nhs
            + nhs_comment: comment (string,optional) - nhs's comment
        + urgent (object,optional)
            + security (object)
                + secret_key: secret_key (string,required)
                + client_id: client_id (string,required)
                + redirect_uri: redirect_uri (string,required,fixed) - Redirect uri
            + employee_request_id: `d098aee7-5ab3-4a24-a6ba-811f9cf94c6d` - Employee request identifier

+ Response 201 (application/json)
    + Attributes (Response__Process_OK)
        + data (object)
            + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string,required)
            + include Legal_Entity_Response_Public_V2
            + status: ACTIVE (enum,required)
                - ACTIVE
                - CLOSED
                - SUSPENDED
            + nhs_verified: false (boolean,required)
            + nhs_reviewed: false (boolean,required) - flag that shows whether legal entity was reviewed by nhs
            + nhs_comment: comment (string,optional) - nhs's comment
            + is_active: true (boolean,required)
            + inserted_by: `A65C8369-CE3A-44D6-839B-8856E3DC4CA3` (string,required)
            + inserted_at: `2005-10-30 10:45` (string,required) - timestamp
            + created_by_mis_client_id:  `A65C8369-CE3A-44D6-839B-8856E3DC4CA3` (string,required)
            + updated_at: `1991-08-19T00:00:00.000Z` (string,required)
            + updated_by: userid (string,required)
        + urgent (object,optional)
            + security (object)
                + secret_key: secret_key (string,required)
                + client_id: client_id (string,required)
                + redirect_uri: redirect_uri (string,required,fixed) - Redirect uri
            + employee_request_id: `d098aee7-5ab3-4a24-a6ba-811f9cf94c6d` - Employee request identifier

### Verify Legal Entity by NHS [PATCH /api/legal_entities/{id}/actions/nhs_verify]

ESOZ API ID: API-005-035-0004
Auth: yes
Scope: legal_entity:verify
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570464009/DRAFT+Verify+Legal+Entity+by+NHS">Verify Legal Entity by NHS</a>

Use this method to verify legal entity by NHS.
Available transition: nhs_verified false --> true.

+ Parameters
    + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string,required)

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + data (object)
            + include Legal_Entity_Request_Public_Short

### Deactivate Legal Entity [PATCH /api/legal_entities/{id}/actions/deactivate]

ESOZ API ID: API-005-035-0005
Scope: legal_entity:deactivate
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570824371/DRAFT+Deactivate+Legal+Entity">Deactivate Legal Entity</a>

Use this method to deactivate MSP.
1. Deactivate emploees by legal entity.
2. Deactivate legal entity.
Update status on CLOSED.

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string,required)

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (object)
            + include Legal_Entity_Request_Public_Short

### Get Related Legal Entities [GET /api/legal_entities/{id}/related]

ESOZ API ID: API-005-035-0006
Scope: related_legal_entities:read
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570922693/DRAFT+Get+legators+Legal+Entities">Get Legators Legal Entities</a>

Use this method to get the list of child legal entities which are related to current legal entity.

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string,required)
    + page: 2 (number) - Page number.
    + page_size: 50 (number) - A limit on the number of objects to be returned,between 1 and 300. Default: 50.

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_Collection_V2)
        + meta (Response__Meta)
            + code: 200 (number)
        + data (array[Legal_Entity_Related])

### Dummy Create or Update Legal Entity V2 [PUT /dummy/legal_entities/v2]

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
    + Attributes (object)
        + include Legal_Entity_Request_Public_V2

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + data (object)
            + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string,required)
            + include Legal_Entity_Response_Public_V2
            + status: ACTIVE (enum,required)
                - ACTIVE
                - CLOSED
                - SUSPENDED
            + nhs_verified: false (boolean,required)
            + nhs_reviewed: false (boolean,required) - flag that shows whether legal entity was reviewed by nhs
            + nhs_comment: comment (string,optional) - nhs's comment
        + urgent (object,optional)
            + security (object)
                + secret_key: secret_key (string,required)
                + client_id: client_id (string,required)
                + redirect_uri: redirect_uri (string,required,fixed) - Redirect uri
            + employee_request_id: `d098aee7-5ab3-4a24-a6ba-811f9cf94c6d` - Employee request identifier

+ Response 201 (application/json)
    + Attributes (Response__Process_OK)
        + data (object)
            + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string,required)
            + include Legal_Entity_Response_Public_V2
            + status: ACTIVE (enum,required)
                - ACTIVE
                - CLOSED
                - SUSPENDED
        + urgent (object,optional)
            + security (object)
                + secret_key: secret_key (string,required)
                + client_id: client_id (string,required)
                + redirect_uri: redirect_uri (string,required,fixed) - Redirect uri
            + employee_request_id: `d098aee7-5ab3-4a24-a6ba-811f9cf94c6d` - Employee request identifier

## Equipment [/admin/equipment]

ESOZ ENT ID: ENT-028
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17479761953/Equipment+ENT-028">Equipment</a>

### Create Equipment [POST /api/equipment]

ESOZ API ID: API-007-028-0001
Scope: equipment:write
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571807355/DRAFT+REST+API+Create+equipment">Create Equipment</a>

This method allows to register equipment and bind it with division of legal entity

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

    + Attributes (object)
        + include Equipment_base_v2

+ Response 201 (application/json)
    + Attributes (Response__Process_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (Equipment_response_v2)

### Get Equipment List [GET /api/equipment{?division_id,device_definition_id,type,status,model_number,manufacturer,availability_status,recorder,inventory_number,serial_number,name,created_from,created_to,page,page_size}]

ESOZ API ID: API-007-028-0003
Scope: equipment:read
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571905656/DRAFT+REST+API+Get+equipment+list">Get Equipment List</a>

+ Parameters
    + division_id: `8be63914-a278-470b-b868-1af5b9087332` (string,optional) - Division identifier
    + device_definition_id: `8be63914-a278-470b-b868-1af5b9087332` (string,optional) - Device definition identifier
    + type: 03221 (string,optional) - `Code from dictionary EQUIPMENT_TYPE`
    + status: ACTIVE (string,optional) - Entity status
    + model_number: PC122345 (string,optional) - Model number
    + manufacturer: `ФОП Виробник` (string,optional) - Manufacturer
    + availability_status: AVAILABLE (string,optional) - Availability status
    + recorder: `8be63914-a278-470b-b868-1af5b9087332` (string,optional) - Employee who created equipment
    + inventory_number: `123-654` (string,optional) - Inventory number
    + serial_number: `8be63914-a278-470b-b868-1af5b9087332` (string,optional) - Serial number
    + name: `8be63914-a278-470b-b868-1af5b9087332` (string,optional) - Name
    + created_from: `2017-08-17` (string,optional) - Start date of the period to find equipments created in this period
    + created_to: `2017-08-20` (string,optional) - End date of the period to find equipments created in this period
    + page: 2 (number,optional) - Page number.
    + page_size: 50 (number,optional) - A limit on the number of objects to be returned,between 1 and 300. Default: 50

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
+ Response 200 (application/json)
    + Attributes (Response_Collection_V2)
        + data (array[Equipment_response_v2])

### Get Equipment Details by Id [GET /api/equipment/{id}]

ESOZ API ID: API-007-028-0004
Scope: equipment:read
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17571709070/DRAFT+REST+API+Get+equipment+details+by+ID">Get Equipment Details by Id</a>

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string,required) - Equipment identifier

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + data (Equipment_response_v2)

### Change Equipment Status [PATCH /api/equipment/{id}/actions/change_status]

ESOZ API ID: API-007-028-0008
Scope: equipment:write
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/18872959018/DRAFT+REST+API+Change+equipment+status">Change Equipment Status</a>

Method to changes equipment status to inactive or entered_in_error.

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string,required) - Equipment identifier

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
    + Attributes (object)
        + status: entered_in_error (string,required) - New equipment status `Dictionary: equipment_statuses`
        + error_reason: `Out of service` (string,optional) - Error reason `Dictionary: equipment_status_reasons`

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + data (Equipment_response_v2)
            - status: entered_in_error (string,required) - New equipment status `Dictionary: equipment_statuses`
            - error_reason: `Out of service` (string,optional) - Error reason `Dictionary: equipment_status_reasons`

### Change Equipment Availability Status [PATCH /api/equipment/{id}/actions/change_availability_status]

ESOZ API ID: API-007-028-0009
Scope: equipment:write
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/18872500325/DRAFT+REST+API+Change+equipment+availability+status">Change Equipment Availability Status</a>

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string,optional) - Equipment identifier

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
    + Attributes (object)
        + availability_status: damaged (string,required) - New equipment status

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + data (Equipment_response_v2)
            - availability_status: damaged (string,required) - New equipment status
            
### Licenses [/admin/licenses]

ESOZ ENT ID: ENT-036
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17358946428/License">License</a>

### Get Licenses [GET /api/licenses{?id,license_number,type,is_primary,page,page_size}]

ESOZ API ID: API-005-036-0001
Scope: license:read
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570824387/DRAFT+Get+licenses">Get Licenses</a>

Use this end-point to obtain all Licenses of the legal entity.

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string,optional)
    + license_number: fd12344344 (string,optional)
    + type: MSP (string,optional) - Dictionary LICENSE_TYPE
    + is_primary: true (boolean,optional) - primary or additional license flag
    + page: 2 (number) - Page number.
    + page_size: 50 (number) - A limit on the number of objects to be returned,between 1 and 300. Default: 50

+ Response 200 (application/json)
    + Attributes (Response_Collection_V2)
        + data (array[crud_licenses_get])

+ Response 200 (application/json)

### Create License [POST /api/licenses]

ESOZ API ID: API-005-036-0002
Scope: license:write
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570758930/DRAFT+Create+license">Create License</a>

This method must be used to create additional licenses for legal entity (`is_primary=false`) in the system.
Primary license must be added with `Create or Update Legal Entity` method.

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

    + Attributes (crud_licenses_post)
        + is_primary: false (boolean,required)

+ Response 201 (application/json)
    + Attributes (Response_OK)
        + data (crud_licenses_get)

+ Response 200 (application/json)

### Update License [PATCH /api/licenses]

ESOZ API ID: API-005-036-0003
Scope: license:write
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17570136425/DRAFT+Update+license">Update License</a>

This method must be used to update additional license (`is_primary=false`) for legal entity in the system.
Primary license must be updated with `Create or Update Legal Entity` method.

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string,required)

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        API-key: uXhEczJ56adsfh3Ri9SUkc4en
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

    + Attributes (crud_licenses_post)
        + is_primary: false (boolean,required)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (crud_licenses_get)

## Contract [/gen/contract]

ESOZ ENT ID: ENT-012
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/18833473537/Contract+ENT-012">Contract</a>

### Get Contracts List [GET /api/contracts/{contract_type}/{?id,contractor_legal_entity_id,edrpou,contractor_owner_id,nhs_signer_id,is_suspended,status,contract_number,date_from_start_date,date_to_start_date,date_from_end_date,date_to_end_date,medical_program_id,page,page_size}]

ESOZ API ID: API-005-012-0001
Scope: contract:read
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17569644549/REST+API+Public.+Get+Contracts+list">Get Contracts List</a>

This method is designed to obtain list of contracts with filters. This method return shorten information about contract,in order to see all information try to use 'get contract details'

+ Parameters
    + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string,optional) - id of contract request
    + contractor_legal_entity_id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string,optional) - id of legal entity which created contract request.
    + edrpou: 5432345432 (string,optional) - contractor legal entity EDRPOU
    + contractor_owner_id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string,optional) - id of legal entity owner.
    + nhs_signer_id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string,optional) - id of nhs employee
    + status: VERIFIED (enum,optional) - current contract status.
        - TERMINATED
        - VERIFIED
    + is_suspended: true (boolean,optional) - wether contract is active
    + date_from_start_date: `2018-01-01` (string,optional)
    + date_to_start_date: `2019-01-01` (string,optional)
    + date_from_end_date: `2018-01-01` (string,optional)
    + date_to_end_date: `2019-01-01` (string,optional)
    + contract_number: `0000-9EAX-XT7X-3115` (string,optional) - human readable number of contract request.
    + medical_program_id: `2075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string,optional) - id of a program that is a subject of a contract
    + page: 2 (number,optional) - Page number.
    + page_size: 50 (number,optional) - A limit on the number of objects to be returned,between 1 and 300. Default: 50

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_Collection_V2)
        + data (array[Contracts_list_capitation])
+ Response 200 (application/json)
    + Attributes (Response_Collection_V2)
        + data (array[Contracts_list_reimbursement])

### Get Contract Details [GET /api/contracts/{contract_type}/{id}]

ESOZ API ID: API-005-012-0002
Scope: contract:read
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17569153045/REST+API+Public.+Get+Contract+Details">Get Contract Details</a>

This method is designed to get full information of contract by id.

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string,required) - contract identifier

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + data (object)
            + include Contract_Details_Capitation
        + urgent (object,required)
            + documents (array[contract_media_content],optional)
+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + data (object)
            + include Contract_Details_Reimbursement
        + urgent (object,required)
            + documents (array[contract_media_content],optional)

### Get Contract Printout Form [GET /api/contracts/{contract_type}/{id}/printout_content]

ESOZ API ID: API-005-012-0003
Scope: contract:read
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17568923680/REST+API+Public.+Get+Contract+printout+form">Get Contract Printout Form</a>

This method is designed to get printout content by contract id.
After contract request was signed by both sides signed contract request with printout content was saved to the storage. This WS extract printout content from the storage.

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string,required) - contract identifier

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + data (object)
            + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string,required) - contract identifier
            + printout_content: `Contract content` (string,required) - HTML document for contract

### Initialize Contract Request [POST /api/contract_requests/{contract_type}]

ESOZ API ID: API-005-012-0004
Scope: contract_request:create
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17569447975/REST+API+Public.+Initialize+Contract+Request">Initialize Contract Request</a>

This web service allows to initialize contract request creation by generating links for contract request documents upload.

+ Parameters
    + contract_type: reimbursement(string,optional) - type of contract {DICTIONARY CONTRACT_TYPE}

+ Request (application/json)
    + Headers
        Authorization: Bearer c2778f3064753ea70de870a53795f5c9
        X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + data (object)
            + include Init_contract_request_response

### Create Contract Request [POST /api/contract_requests/{contract_type}/{id}]

ESOZ API ID: API-005-012-0005
Scope: contract_request:create
Auth: yes
Link to Confluence: <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17569447986/REST+API+Public.+Create+Contract+Request">Create Contract Request</a>

This web service allows to create contract request,using contract_request_id,generated by Initialize Contract Request WS.
As an input parameters should be transfered signed data in PKCS7 format. Digital signiture should be applied to data filled by legal entity owner and MD5 HASH of provided files (statuste and equipment agreement).
In DS EDRPOU/DRFO must be equal to `contractor_legal_entity.edrpou`.

### # Contract_request object scheme to be signed

The following tables describes contract_request object fields and it`s child objects.

There are two types of schemas depending on contract_type - capitation version and reimbursement version
For reimbursement version only documents are optional.

### ## Capitation Contract_request
Attribute |Is required| Description
----------|-----------|-------------
contractor_owner_id|true| підписант,зі сторони мед. закладу
contractor_base|true| на якій підставі діє підписант: закон/домовленість
contractor_payment_details|true| об'єкт,що містить дані по рахунку,на який будуть здійснюватися виплати
previous_request_id | false | опційне поле,яке вказує,що поточний запит на контракт є новою версією вказаного запиту
contractor_divisions|true| масив id відділень мед. закладу,що включаються в договір
external_contractor_flag|false| наявність додатку 2 (підрядники,залучені до надання медичних послуг за Договором)
external_contractors|false|масив об'єктів типу external_contractor objects - підрядники,залучені до надання медичних послуг за Договором
start_date|true| пункт 9.2 - цей договір діє з
end_date|true| пункт 9.2 - цей договір діє по
id_form|true| словник CONTRACT_TYPE,поки що лише один вид Договір на ПМД
contract_number|false| human-redable номер контракту
statute_md5|true| хеш завантаженого документу (статуту)
additional_document_md5|true| хеш завантаженого документу (додатковий документ)
consent_text|true|

### ## Reimbursement Contract_request
Attribute |Is required| Description
----------|-----------|-------------
contractor_owner_id|true| підписант,зі сторони мед. закладу
contractor_base|true| на якій підставі діє підписант: закон/домовленість
contractor_payment_details|true| об'єкт,що містить дані по рахунку,на який будуть здійснюватися виплати
previous_request_id | false | опційне поле,яке вказує,що поточний запит на контракт є новою версією вказаного запиту
start_date|true| пункт 9.2 - цей договір діє з
end_date|true| пункт 9.2 - цей договір діє по
id_form|true| словник REIMBURSEMENT_CONTRACT_TYPE
contract_number|false| human-redable номер контракту
statute_md5|false| хеш завантаженого документу (статуту)o
additional_document_md5|false| хеш завантаженого документу (додатковий документ)
medical_programs|true| масив ідентифікаторів державних програми компенсації,що є субєктом договору
consent_text|true|

### # Contractor_payment_details
Attribute |Is required| Description
----------|-----------|-------------
bank_name|false| назва банку
MFO|false| МФО
payer_account|true| розрахунковий рахунок або міжнародний номер рахунку

### # Contractor_employee_division
Attribute |Is required| Description
----------|-----------|------------
employee_id|true| id запис про медичного працівника в системі
staff_units|true| штатна одиниця
declaration_limit|true| максимальна к-сть пацієнтів,які можуть подати декларації про вибір такого лікаря за Договором
division_id|true| місце надання медичних послуг пов'язаниз з ПМД (підмножина contractor_divisions)
### #External_contractors
Attribute |Is required| Description
----------|-----------|----------
legal_entity_id|true| запис про надавача з системи
contract|true| договір з Підрядником
divisions|true| масив об'єктів типу Division,що зберігає запис про Місце надання медичних послуг з Системи та послугу

### # Contract
Attribute |Is required| Description
----------|-----------|------------
number|true| номер договору з Підрядником
issued_at|true| дата укладення договору з Підрядником
expires_at|true| строк дії договору з Підрядником

### # Division
Attribute |Is required| Description
----------|-----------|------------
id|true| запис про Місце надання медичних послуг з Системи
medical_service|true| послуга,що надається на відділені (словник medical_service)

### # Business ruels

1. Create new or update existsing contract

    > 1.1 In order to create new contract,contract_number should be empty,start_date and end_date should be filled.
    > 1.2 In order to update existing contract,contract_number should be filled,start_date and end_date should be empty. Existing contract must be in VERIFIED status.

2. External contractors

    > 2.1 In case you have external_contractors - external_contractors_flag should be set as TRUE and external_contractors array must be provided (filled).
    > 2.2 In case you don't have external_contractors - external_contractors_flag should be set as FALSE and external_contractors array should not be provided.

### # JSON example

Capitation version:

`
{
  "contractor_owner_id": "df9f70ee-4b12-4740-b0f5-bb5aea116863",
  "contractor_base": "на підставі статуту",
  "previous_request_id": "df9f70ee-4b12-4740-b0f5-bb5aea116863",
  "contractor_payment_details": {
    "payer_account": "UA3412345678901234567890",
    "bank_name": "Банк №1"
  },
  "contractor_divisions": [
    "adeac295-0d39-4a8e-8e16-9526787de3f1"
  ],
  "external_contractor_flag": true,
   "external_contractors": [
    {
      "legal_entity_id": "443e901e-b365-45d2-be14-083ee0aba657",
      "contract": {
        "number": "1234567",
        "issued_at": "2018-01-01",
        "expires_at": "2019-01-01"
      },
      "divisions": [
        {
          "id": "2922a240-63db-404e-b730-09222bfeb2dd",
          "medical_service": "PHC_SERVICES"
        }
      ]
    }
  ],
  "start_date": "2017-04-20",
  "end_date": "2017-04-20",
  "id_form": "PMD_1",
  "contract_number": "0000-9EAX-XT7X-3115",
  "statute_md5": "db218b04eff70f86f40c1572ce8ca16a",
  "additional_document_md5": "ac642b04eff40f86f40c1572ce8ca16a",
[...]
