FORMAT: 1A
HOST: https://api.ehealth.gov.ua

# ESOZ

**Version: 9.11 V3** 2026-03-17

## General Information

Electronic healthcare system of Ukraine (ESOZ) consists of central database and medical information systems (MIS).
Central database belongs to Ukrainian state, represented by the National Healthcare Service of Ukraine (NHSU).

Users of the electronic healthcare system of Ukraine are individuals and
legal entities who are registered in the electronic health system and
have access rights in accordance with the Procedure for the Operation of the electronic healthcare system.

## Abbreviations, acronyms, explanations

See <a href="https://e-health-ua.atlassian.net/wiki/spaces/ESOZ/pages/17536909481">link to Confluence ESOZ Glossary page</a>.

## Interacting with API

Our API is organized around [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer).
It has predictable, resource-oriented URLs, and uses HTTP response codes to indicate API errors.
We use built-in HTTP features, like HTTP authentication and HTTP verbs, which are understood by off-the-shelf HTTP clients.

### Verbs

As per RESTful design patterns, API implements following HTTP verbs:

- HEAD - Can be issued against any resource to get just the HTTP header info.
- GET - Read resources. Should hever change resources on server (idempotency) since most of http proxies and services may reply same request multiple times.
- POST - Create new resources.
- PUT - Replace resources. Idempotent. (Can be used as insert or update method, when we want clients to don't care whenever entity is exists in our system.)
- PATCH - Same as PUT, but replaces subset of fields instead of full entity. Should never be used as insert of update pattern.
- DELETE - Remove resources.

### Status codes

Code  | Description
----- | -----------
200 | Everything worked as expected.
201 | Created.
202 | Accepted.
400 | Bad Request. 
401 | Unauthorized. No valid API key provided or API key doesn't match project.
402 | The parameters were valid but the request failed.
403 | Source or destination account is disabled.
404 | Not Found. The requested resource doesn't exist.
409 | Logical error. For example, odject in current status can not be modified. 
415 | Incorrect Content-Type HTTP header.
422 | Semantic error or similar. For example, value is not included in enum of allowed values.
429 | Too Many Requests. Rate limit is exceeded.
500 502 503 504 | Server Errors. Something went wrong on our end.

### Field naming

Fields are named in snake_case since it's more common for
our stack and [20% easier to read](http://ieeexplore.ieee.org/xpl/articleDetails.jsp?tp=&arnumber=5521745).

### Authentication 

In general there is 3-phase authentication routine:

1) Issuing Session Token (OAuth);
2) Issuing Approval Token (ABAC);
3) Issuing Access Token (JWT).

### Request identifier

Each API request has an associated request identifier.
You can find it in X-Request-ID response header or inside meta.request_id property of returned JSON.

You can also find request identifiers in the URLs of individual request logs in your Dashboard.
If you need to contact us about a specific request, providing the request identifier will
ensure the fastest possible resolution.

All Request Id's are prefixed with a human-readable name of server that served your request.


X-Request-ID: flash-99spDSoim3i


### Content Type

Content-Type header should be always application/json

### Request structure

Request consist with a root object that contain resource and metadata as it's childs:


{
  "resource": {
    "name": "Alex",
    "surname": "Gray",
    "email": "me@example.com",
    "credentials: [
      {"method": "passsword", "password": "notasecret"}
    ]
  },
  "format_response": true,
  "redirect_browser": true
}


### Response structure

Response can consist of 5 root properties:

* meta - contains: 1) URL of the requested resource url;
                     2) requested response type type, may be either list or object;
                     3) HTTP status code;
                     4) idempotency key (idempotency_key);
                     5) request id (request_id).
* urgent - Notifications and counters.
* errors - Error description. MUST be present when status code is not 2XX, 3XX. CAN NOT be present when data is present.
* data - Requested resource. MUST be present when status code is 2XX, 3XX. CAN NOT be present when error is present.
* paging - Pagination data.
* sandbox - Optional data provided by sandbox environment, for development purposes.


{
  "meta": {
    "url": "https://qbill.ly/transactions/",
    "type": "list",
    "code": "200",
    "idempotency_key": "iXXekd88DKqo",
    "request_id": "qudk48fFlaP"
  },
  "urgent": {
    "notifications": ["Read new emails!"],
    "unseen_payments": 10
  },
  "data": {
    "type": "resource_name",
    <...>
  },
  "paging": {
    "limit": 50,
    "cursors": {
      "starting_after": "MTAxNTExOTQ1MjAwNzI5NDE=",
      "ending_before": "NDMyNzQyODI3OTQw"
    },
    "has_more": true
  },
  "sandbox": {
    "debug_varibale": "39384",
    "live": "false"
  }
}


### Errors

All errors is returned in JSON format if another Content-Type is not specified.
This means that your will receive JSON for requests with HTTP 415 code when incorrect Content-Type is provided.

#### Error Object Properties

You can find all necessary information about occurred error in a response error property. It can have following fields:

Fields | Required | Description
--------- | ----------- | -----------
type | true | General error type. You should return human-readable error message based on this field as a key. Type descriptions is listed in next section.
invalid | false | Collection of validation errors for your request.
invalid[].entry_type | true | Type of invalid field.
invalid[].entry | false | Name or JSON path to invalid data property.
invalid[].rules | false| Failed rules for invalid property. You can find supported validation rules at [Request Validators](#request-validators) table. Server may optionally skip this field, when validation rules is perefferd to stay secret or hard to extract from validator.
invalid[].params | false| Optional parameters that can be used in a human-readable error message, to make it easier to understand. Usually it contains limit values for failed validator.
message | false | Human readable message for API developer.

Example error response:


{
    "data": {
        "error": {
            "invalid": [
                {
                    "entry": "$.type",
                    "entry_type": "json_data_property",
                    "rules": [
                        {
                            "description": "Value AMB/ not found in the dictionary eHealth/episode_types",
                            "params": [],
                            "rule": "invalid"
                        }
                    ]
                }
            ],
            "message": "Validation failed. You can find validators description at our API Manifest: http://esoz.docs.apiary.io/#introduction/interacting-with-api/errors.",
            "type": "validation_failed"
        },
        "eta": "2019-04-23T09:13:02.415",
        "status": "failed",
        "status_code": 422
    },
    "meta": {
        "code": 200,
        "request_id": "806e0f81-ac97-470e-988f-6391e9abf642#28157",
        "type": "object",
        "url": "http://api-medical-events.me.svc.cluster.local/api/jobs/5cbed6e2ed59d30001e54b92"
    }
}


#### Error Types

Parameter | Description
--------- | -----------
access_denied | Authorization not passed
forbidden | User does not have permissions to access the resource
content_type_invalid | Invalid HTTP request content-type.
validation_failed | Failed validation on JSON request body or form data. 
request_too_large | Request body was to large to process it.
request_conflict| Request causes logical errors
internal error| Error on the server

#### Error Entry Types

Entry Type | Description
--------- | -----------
json_data_proprty | JSON document is invalid. entry will contain JSON Path to invalid property.
form_data_field | HTTP request field (for form-data requests) is invalid. 
query_param | HTTP query parameter is invalid.
body | Mailformed request body.
header | HTTP request header is invalid.

#### Validation Rules

List of possible validation rules:

Rule | Params | Description
-------------- | ----------- | -----------
cast | [types] | The field type should be in types.
required | [] | The field is required and should not be nil.
format | [patterns] | The field should match all regular expressions in patterns list.
inclusion | [enum] | Field value should be in enum.
invalid| [] | Field value is not valid according to specification
exclusion | [enum] | Field value should NOT be in enum.
subset | [set] | Field value should be subset of set.
length | {min:_, max:_, is:_, exclusive:true|false} | List or string length should be equal to is value, less than max and bigger than min value. Params is optional, but one of them should always be present. exclusive is false by default.
number | {greater_than:_, less_than:_, greater_than_or_equal_to:_, less_than_or_equal_to:_, multiple_of:_} | The field value must be a number that is greater than greater_than and less than less_than.
confirmation | [] | The field value of field must match confirmed field (eg. password_confirmation should match password).
acceptance | [] | The field value should be true.
email | [patterns] | The field value must be a valid email address respectively to patterns.
phone_number | [patterns] | The field value must be a valid phone number respectively to patterns. *Usually it means that is should be in international format (with +3).*
card_number | [] | The field value should be a valid Visa or MasterCard card number. (By luhn algoryghm.)
metadata | [] | The field must be a [valid metadata object](http://esoz.docs.apiary.io/#introduction/optional-features/metadata).
unique | [] | The field must be a list with all it's items unique.
schemata | [] | JSON Schema specific error core.
schema | [] | JSON Schema specific error core.
dependency | [json_paths] | Property expects another property to exist.
json | [] | The field under validation must be a valid JSON string.
authentification_code | {resent: true} | OTP or other authentification code was invalid. User should retry with re-entering it. resent property will tel is code was automatically resent upon failed validation.
date, datetime, timestamp | [after:_,before:_,after_or_at:_,before_or_at:_] | Invalid datetime representation.
url | [patterns] | Field should contain a valid URL.

### Pagination

You can use next search parameters to operate pagination:

Arguments:

- page_number (optional) - A number of a page in the list;
- page_size (optional) -  A limit on the number of objects to be returned, between 1 and 100. Default: 50;

### HTTP Redirects

API uses HTTP redirection where appropriate. Clients should assume that any request may result in a redirection. Receiving an HTTP redirection is not an error and clients should follow that redirect. Redirect responses will have a Location header field which contains the URI of the resource to which the client should repeat the requests.

Status codes:

- 301 - Permanent redirection. The URI you used to make the request has been superseded by the one specified in the Location header field. This and all future requests to this resource should be directed to the new URI.
- 302, 307 - Temporary redirection. The request should be repeated verbatim to the URI specified in the Location header field but clients should continue to use the original URI for future requests.
- 303 - The request was successfully performed, the result can be found by the redirect URI.
Other redirection status codes may be used in accordance with the HTTP 1.1 spec.

### File Uploads

#### For files less than 10 MB

For small files it's appropriate to send base64 encoded file contents as JSON field:


{
    name: "My Name",
    image: "sdasdpjoijhwhwe83280u2380wef=="
}


#### For larger files - Multi-Stage Uploads (Network Transactions)

Multi-stage process:

1). User initiates uploading;
2). Server provides the link to media storage;
3). User upload file using provided link.

## Optional Features

### Rate Limits (Throttling)

We throttle our APIs by default to ensure maximum performance for all developers.

Rate limiting of the API is primarily considered on a per-consumer basis.
All your projects share a same rate limit, to avoid API-consuming fraud.
Rate limits depend on your account type.

Currently free accounts is rate limited to 1000 API calls every 15 minutes,
but this value may be adjusted at our discretion.

### Idempotent Requests

From a RESTful service standpoint, for an operation (or service call) to be idempotent,
clients can make that same call repeatedly while producing the same result.
In other words, making multiple identical requests has the same effect as
making a single request. However, if you are working with async methods,
new job will not be created before previous identical request is not performed.

### Ordering Lists and Collections

By default, all collections are ordered in ascending chronological order.

# Group Authorization
# Data Structures

### TIL_ChildValues
+ description (string) - Опис
+ is_active (boolean) - Ознака активності
+ code (string) - Код
+ child_values (array, optional) - Дочірні значення

### TIL_GetDictionary
+ description (string) - Опис
+ is_active (boolean) - Ознака активності
+ labels (array[string], required) - Мітки
+ name (string) - Назва
+ values (array[TIL_ChildValues]) - Значення

### Response_TIL_GetDictionaries
+ data (array[TIL_GetDictionary])
+ error (Response__Error)

### Response_Collection
+ meta (Response__Meta)
+ data (array, optional)
+ paging (Response__Pagination)

### Response_Collection_V2
+ meta (Response__Meta)
+ data (array, optional)
+ paging (Response__Pagination__V2)

### Response_Collection_OK
+ meta (Response__Meta)
+ data (array, optional)

### Response_OK
+ meta (Response__Meta)
+ data (object)

### Response__Process_OK
+ meta (Response__Meta)

### Response_verification_by_phone
+ phone_number: +380508887700 (string)

### Response_Error
+ meta (Response__Meta)
    + code: 400 (number)
+ error (Response__Error)

### Response__Meta
+ code: 200 (number) - HTTP response code.
+ url: https://example.com/resource (string) - URL to requested resource.
+ type (enum) - Type of data that is located in data attribute.
    - object (string) - data attribute is a JSON object.
    - list (string) - data attribute is a list.
+ request_id: 6617aeec-15e2-4d6f-b9bd-53559c358f97#17810 (string) - [Request ID](https://esoz.docs.apiary.io/#introduction/interacting-with-api/request-id). Send it with X-Request-ID header.

### Response__Error
+ type: type_atom (string) - Atom that represents error type.
+ message: Error description (string) - Human-readable error message. This is for developers, not end-users.

### Response__Error_DuplicateEntity
+ type: object_already_exists (string) - Atom that represents error type.
+ message: This API already exists (string) - Human-readable error message. This is for developers, not end-users.

### Response__Error_ValidationFailed
+ type: validation_failed (string) - type of an error.
+ message: Validation failed. You can find validators description at our API Manifest: https://esoz.docs.apiary.io/#introduction/interacting-with-api/errors. (string)
+ invalid (array)
    + entry_type: json_data_proprty (string) - Type of error.
    + entry: $.cvv (string) - JSON Path to an invalid property.
    + rules (array)
        + rule: required (string) - String constant that represents validation rule type. List of all types can be found in [API Manifest](https://esoz.docs.apiary.io/#introduction/interacting-with-api/errors).
        + params (array) - Validation Parameters.
        
### Response__Error_ValidationFailed_Extended
+ error (object)
    + type: validation_failed (string) - type of an error.
    + message: Validation failed. You can find validators description at our API Manifest: https://esoz.docs.apiary.io/#introduction/interacting-with-api/errors. (string)
    + invalid (array)
        + (object)
            + entry: $.cvv (string) - JSON Path to an invalid property.
            + entry_type: json_data_property (string) - Type of error.
            + rules (array)
                + (object)
                    + description: value is not allowed in enum (string) - value of error might be different
                    + params (object) - Validation Parameters.
                        + values (array)
                    + raw_description: value is not allowed in enum (string) - value of error might be different
                    + rule (enum) - String constant that represents validation rule type. List of all types can be found in [API Manifest](https://esoz.docs.apiary.io/#introduction/interacting-with-api/errors).
                        - required
                        - inclusion

### Response__Pagination
+ limit: 20 (number) - A limit on the number of objects to be returned, between 1 and 100. Default: 50.
+ cursors (object)
    + starting_after: 56c31536a60ad644060041af (string) - A cursor for use in pagination. An object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include starting_after=obj_foo in order to fetch the next page of the list.
    + ending_before: 56c31536a60ad644060041aa (string) - A cursor for use in pagination. An object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_bar, your subsequent call can include ending_before=obj_bar in order to fetch the previous page of the list.
+ size: 50 (number) - Total number of objects in collection.
+ has_more: false (boolean) - Is this collection have more data to load in the same style as last request loaded it.

### Response__Pagination__V2
+ page_number: 2 (number) - Page number.
+ page_size: 50 (number) - A limit on the number of objects to be returned, between 1 and 300. Default: 50
+ total_entries: 1000 (number) - Total number of objects in collection.
+ total_pages: 23 (number) - Total number of pages.

# ## Access_Tokens

### Access_Token
+ value: SnNRdCtvU0tTOENBV2dLRUZwNmIzZz09 (string) - OAuth токен доступу
+ user_id: 3ff33ced-69dc-415a-b231-c6446898335a (string) - Ідентифікатор користувача
+ name: access_token (string) - Ім'я токена
+ id: 3ff33ced-69dc-415a-b231-c6446898335a - Ідентифікатор токена
+ expires_at: 1498749591 (number, required) - Час, коли токен стає невалідним
+ details (object)
    + scope: capitation_contracts:view capitation_contracts:create patients:view patients:create (string) - перелік необхідних доступв через пробіл
    + refresh_token: my-oauth-refresh-token (string) - Оовлюючий токен
    + redirect_uri: https://example.com/ (string) - URI перенаправлення
    + grant_type: authorization_code
    + client_id: d290f1ee-6c54-4b01-90e6-d701748f0851 (string) - Ідентифкатор авторизованого користувача

### Access_Token_1
+ value: SnNRdCtvU0tTOENBV2dLRUZwNmIzZz09 (string) - oAuth access token.
+ user_id: 3ff33ced-69dc-415a-b231-c6446898335a (string) - Ідентифікатор користувача
+ name: change_password_token (string) - Ім'я токена
+ id: 3ff33ced-69dc-415a-b231-c6446898335a - Ідентифікатор токена
+ expires_at: 1498749591 (number, required) - Час, коли токен стає невалідним
+ details (object)
    + scope: capitation_contracts:view capitation_contracts:create patients:view patients:create (string) - перелік необхідних доступв через пробіл
    + grant_type: refresh_token
    + client_id: d290f1ee-6c54-4b01-90e6-d701748f0851 (string) - Ідентифкатор авторизованого користувача

### Legal_Entity_Request_Public_Short
+ name: Клініка Ноунейм (string) - full official name of legal entity
+ short_name: Ноунейм (string) - short name of legal entity
+ public_name: Ноунейм (string) - the name to show on public sources
+ type: MSP (string) - type of legal entity [MSP/PHARMACY]. MIS can't be created using this WS.
+ owner_property_type: STATE (string) - Dictionary OWNER_PROPERTY_TYPE
+ legal_form: 140 (string) - Dictionary LEGAL_FORM
+ edrpou: 5432345432 (string) -  Unified Register of Businesses and Organizations
+ kveds: 86.1 (array, required) - Ukrainian Industry Classification System, there is a check for required kved: 86.10, 86.21, 47.73
+ addresses (array[Address], required)
+ phones (array[Phone], required)
+ email: email@example.com (string) - email to contact person in charge from legal entity
+ website: www.msp.com.ua (string) - legal entity website
+ receiver_funds_code: 12345 (string) - treasure code [Код одержувача/розпорядника бюджетних коштів для Казначейства. Вказується за наявності.]
+ beneficiary: Борисов Борис Борисович (string) - legal owner of legal entity [нформація про власника ЗОЗ,для ФОП не заповнюється]
+ medical_service_provider (MSP)
+ archive(array[Archive], optional)
+ security (object)
    + redirect_uri: redirect_uri (string, required, fixed) - Redirect uri is used in oauth2.0 flow
+ is_active: true (boolean)
+ inserted_by: A65C8369-CE3A-44D6-839B-8856E3DC4CA3 (string)
+ inserted_at: 2005-10-30 10:45 (string) - timestamp
+ created_by_mis_client_id:  A65C8369-CE3A-44D6-839B-8856E3DC4CA3 (string)
+ updated_at: 1991-08-19T00:00:00.000Z (string)
+ updated_by: userid (string)

### Legal_Entity_Request_Public_V2
+ edrpou: 32323454 (string) - Unified Register of Businesses and Organizations
+ type: PRIMARY_CARE (string) - type of legal entity
+ residence_address (Address, optional, required) - address where the legal entity is physically located
+ phones (array[Phone], required)
+ email: email@example.com (string) - email to contact person in charge from legal entity
+ website: www.msp.com.ua (string) - legal entity website
+ receiver_funds_code: 12345 (string) - treasury registration code [Код одержувача/розпорядника бюджетних коштів для Казначейства. Вказується за наявності.]
+ beneficiary: Борисов Борис Борисович (string) - legal owner of legal entity [нформація про власника ЗОЗ,для ФОП не заповнюється]
+ owner(Owner_V2,required)
+ accreditation (MSP_Accreditation, optional)
- One of
    + license (object)
        + type: MSP (string) - License type Dictionary LICENSE_TYPE
        + license_number: fd123443 (string)
        + issued_by: Кваліфікацйна комісія (string)
        + issued_date: 2017-02-28 (string)
        + expiry_date: 2017-02-28 (string)
        + active_from_date: 2017-02-28 (string)
        + what_licensed: реалізація наркотичних засобів (string)
        + order_no: ВА43234 (string) - номер наказу
    + license (object)
        + id: b075f148-7f93-4fc2-b2ec-2d81b19a9b7b (string)
+ archive(array[Archive], optional)
+ security (object)
    + redirect_uri: https://example.com (string, required, fixed) - Redirect uri is used in oauth2.0 flow
+ public_offer(object, required)
    + consent_text: Consent text (string)
    + consent: true (boolean)

### Legal_Entity_Response_Public
+ name: Клініка Ноунейм (string) - full official name of legal entity also the name to show on public sources [as map,portal etc]
+ short_name: Ноунейм (string) - short name of legal entity
+ public_name: Ноунейм (string)
+ type: MSP (string) - type of legal entity [MSP/PHARMACY]. MIS can't be created using this WS.
+ owner_property_type: STATE (string) - Dictionary OWNER_PROPERTY_TYPE State or private type of legal entity
+ legal_form: 140 (string) - Dictionary LEGAL_FORM  - business form [as ТОВ/ФОП/ДП/КП]
+ edrpou: 32323454 (string) - Unified Register of Businesses and Organizations
+ kveds: 86.10 (array, required) - Ukrainian Industry Classification System, there is a check that at least one of next kveds is input: 86.10, 86.21, 47.73.
+ addresses (array[Address], required) - The max items of array is 2: REGISTRATION - required, RESIDENCE - optional. DIVISION is exception: REGISTRATION - optional, RESIDENCE - required
+ phones (array[Phone], required)
+ email: email@example.com (string) - email to contact person in charge from legal entity
+ website: www.msp.com.ua (string) - legal entity website
+ receiver_funds_code: 12345 (string) - treasury registration code [Код одержувача/розпорядника бюджетних коштів для Казначейства. Вказується за наявності.]
+ beneficiary: Борисов Борис Борисович (string) - legal owner of legal entity [нформація про власника ЗОЗ,для ФОП не заповнюється]
+ medical_service_provider (object)
    + licenses (array, required, fixed)
        + (object)
            + license_number: fd123443 (string)
            + type: MSP (string) - License type Dictionary LICENSE_TYPE
            + kveds: 86.10 (array, optional) - Ukrainian Industry Classification System, there is a check that at least one of required kveds provided for specific license type
            + issued_by: Кваліфікаційна комісія (string)
            + issued_date: 2017-02-28 (string)
            + expiry_date: 2017-02-28 (string)
            + active_from_date: 2017-02-28 (string)
            + what_licensed: реалізація наркотичних засобів (string)
            + order_no: ВА43234 (string) - номер наказу
    + accreditation (MSP_Accreditation, optional)
+ archive(array[Archive], optional)
+ security (object)
    + redirect_uri: https://example.com (string, required, fixed) - Redirect uri is used in oauth2.0 flow
+ public_offer(object)
    + consent_text: Consent text (string)
    + consent: true (boolean)

### Legal_Entity_Response_Public_V2
+ edr (edr_data, required)
+ edrpou: 32323454 (string) - Unified Register of Businesses and Organizations
+ type: PRIMARY_CARE (string) - type of legal entity [PRIMARY_CARE/OUTPATIENT/PHARMACY]. MIS can't be created using this WS.
+ residence_address (Address, optional, required) - address where the legal entity is physically located
+ phones (array[Phone], required)
+ email: email@example.com (string) - email to contact person in charge from legal entity
+ website: www.msp.com.ua (string) - legal entity website
+ receiver_funds_code: 12345 (string) - treasury registration code [Код одержувача/розпорядника бюджетних коштів для Казначейства. Вказується за наявності.]
+ beneficiary: Борисов Борис Борисович (string) - legal owner of legal entity [нформація про власника ЗОЗ,для ФОП не заповнюється]
+ accreditation (MSP_Accreditation, optional)
+ license (object)
    + id: b075f148-7f93-4fc2-b2ec-2d81b19a9b7b (string)
    + type: MSP (string) - License type Dictionary LICENSE_TYPE
    + license_number: fd123443 (string)
    + issued_by: Кваліфікацйна комісія (string)
    + issued_date: 2017-02-28 (string)
    + expiry_date: 2017-02-28 (string)
    + active_from_date: 2017-02-28 (string)
    + what_licensed: реалізація наркотичних засобів (string)
    + order_no: ВА43234 (string) - номер наказу
+ archive(array[Archive], optional)
+ public_offer(object, required)
    + consent_text: Consent text (string)
    + consent: true (boolean)

### Archive
+ date: 2017-02-28 (string) - the date when paper documents were transferred to archive
+ place: вул. Грушевського 15 (string) - the address of building where paper documents are

### Phone
+ type: MOBILE (string) - Dictionary PHONE_TYPE type of phone Land Line or Mobile. At least one of type must be present. Each type can be represented only once.
+ number: +380503410870 (string) - phone number in format '+38/'

### Email
+ type: PERSONAL (enum, required)
    - PERSONAL
    - PUBLIC
+ email: email@example.com (string)

### Address
+ type: RESIDENCE (string) - Dictionary ADDRESS_TYPE. 
+ country: UA (enum, required)
    - UA - Dictionary COUNTRY
+ area: Житомирська (string) - one of Ukraianian area
+ region: Бердичівський (string) - district of area
+ settlement: Київ (string) - city name
+ settlement_type: CITY (string) - Dictionary SETTLEMENT_TYPE - type of settlement as city/town/village etc
+ settlement_id: b075f148-7f93-4fc2-b2ec-2d81b19a9b7b (string) - settlement identificator from uaadresses
+ street_type: STREET (string) - Dictionary STREET_TYPE - type of street as street/road/line etc
+ street: вул. Ніжинська (string) - street name
+ building: 15 (string) - number of building
+ apartment: 23 (string) - number of appartment
+ zip: 02090 (string) - system of postal codes

### edr_data
+ id: b075f148-7f93-4fc2-b2ec-2d81b19a9b7b (string)
+ name: Клініка Ноунейм (string) - full official name of legal entity also the name to show on public sources [as map,portal etc]
+ short_name: Ноунейм (string) - short name of legal entity
+ public_name: Ноунейм (string)
+ legal_form: 140 (string) - Business form of legal entity received from edr - Use dictionary LEGAL_FORM to show the name
+ edrpou: 54323454 (string) -  Unified Register of Businesses and Organizations
+ kveds (array, required)
    + (object)
        + name: Діяльність лікарняних закладів (string)
        + code: 86.10 (string)
        + is_primary: true (boolean)
+ registration_address (registration_address, required)
+ state: 1 (number, required)

### registration_address
+ zip: 02090
+ country: УКРАЇНА
+ address: Волинська обл., місто Луцьк ВУЛИЦЯ КОНЯКІНА буд. 14 кв. 144
+ parts (object)
    + atu: Волинська обл., місто Луцьк
    + atu_code: 0710100000
    + street: ВУЛИЦЯ КОНЯКІНА
    + house_type: буд.
    + house: 14
    + building_type: null
    + building: 1
    + num_type: кв.
    + num: 144

# ## Divisions

### Division
+ name: Бориспільське відділення Клініки Ноунейм (string) - the full name of division
+ addresses (array[Address], required)
+ phones (array[Phone], required)
+ email: email@example.com (string) - division's email
+ working_hours (workinghours) - optional field, business hours by each day weekly, doesn't make any influence on business process and will be shown on portal and map.
+ type: CLINIC (enum) - Dictionary DIVISION_TYPE
    - CLINIC
+ legal_entity_id: c8aadb87-ecb9-41ca-9ad4-ffdfe1dd89c9 (string)
+ external_id: 3213213 (string)
+ location (Location, optional) - optional field. geographical location, if it's empty, division won't be shown on a map.

### workinghours
+ mon (array, optional)
    - 08.00,12.00 (array[string])
    - 14.00,18.00 (array[string])
+ tue (array, optional)
    - 08.00,12.00 (array[string])
+ wed (array, optional)
    - 08.00,12.00 (array[string])
+ thu (array, optional)
    - 08.00,12.00 (array[string])
+ fri (array, optional)
    - 08.00,12.00 (array[string])
+ sat (array, optional)
+ sun (array, optional)

### Division_Details
+ id: d290f1ee-6c54-4b01-90e6-d701748f0851 (string)
+ legal_entity_id: c8aadb87-ecb9-41ca-9ad4-ffdfe1dd89c9 (string)
+ include Division
+ dls_id: 2872985 (string)
+ dls_verified: true (boolean)

### Division_Declaration
+ id: d290f1ee-6c54-4b01-90e6-d701748f0851 (string)
+ legal_entity_id: c8aadb87-ecb9-41ca-9ad4-ffdfe1dd89c9 (string)
+ name: Бориспільське відділення Клініки Ноунейм (string) - the full name of division
+ addresses (array[Address], required)
+ phones (array[Phone], required)
+ email: email@example.com (string) - division's email
+ type: clinic (enum) - division type
    - CLINIC
    - AMBULANT_CLINIC
    - FAP
+ external_id: 3213213 (string)
+ dls_id: 2872985 (string)
+ dls_verified: true (boolean)


### Division_Details_Cabinet
+ id: d290f1ee-6c54-4b01-90e6-d701748f0851 (string)
+ name: Бориспільське відділення Клініки Ноунейм (string) - the full name of division
+ addresses (array[Address], required)
+ phones (array[Phone], required)
+ email: email@example.com (string) - division's email
+ location (Location, optional) - geographical location, if it's empty, division won't be shown on a map.


### Division_Short_List
+ id: d290f1ee-6c54-4b01-90e6-d701748f0851 (string)
+ name: Бориспільське відділення Клініки Ноунейм (string)
+ type: clinic (enum)
    - CLINIC
    - AMBULANT_CLINIC
    - FAP
+ status (enum)
    - ACTIVE
    - INACTIVE
        - ACTIVE
+ dls_id: 2872985 (string)
+ dls_verified: true (boolean)

### Division_Short
+ id: d290f1ee-6c54-4b01-90e6-d701748f0851 (string)
+ name: Бориспільське відділення Клініки Ноунейм (string)
+ legal_entity_id: d290f1ee-6c54-4b01-90e6-d701748f0851 (string)
+ type: CLINIC (enum)
    - CLINIC
    - AMBULANT_CLINIC
    - FAP
+ status (enum)
    - ACTIVE
    - INACTIVE
        - ACTIVE
+ mountain_group: false (boolean)
+ dls_id: 2872985 (string)
+ dls_verified: true (boolean)

### crud_division_post
+ include Division

### crud_division_get
+ id: d290f1ee-6c54-4b01-90e6-d701748f0851 (string)
+ include Division
+ status (enum)
    - ACTIVE
    - INACTIVE
        - ACTIVE
+ mountain_group: false (boolean)
+ dls_id: 2872985 (string)
+ dls_verified: true (boolean)

### Location
+ latitude: 30.1233 (number, required)
+ longitude: 50.32423 (number, required)

# ## Medical_Service_Providers

### crud_msp
+ legal_entity_id: 5432345432 (string)
+ accreditation (MSP_Accreditation, optional)
+ licenses (array[MSP_License], required)

### crud_msp_get
+ include crud_msp

### crud_msp_post
+ include crud_msp

### crud_msp_patch
+ accreditation (MSP_Accreditation, optional)
+ licenses (array[MSP_License], required)

### Medical_Service_Provider
+ name: Клініка Ноунейм (string)
+ short_name: Ноунейм (string)
+ legal_form: 140 (string) - Dictionary LEGAL_FORM
+ public_name: ЦПМСД №1 (string)
+ edrpou: 5432345432 (string)
+ licenses (array[MSP_License], required)
+ accreditation (MSP_Accreditation, optional)
+ addresses (array[Address], required)
+ phones (array[Phone], required)
+ email: email@example.com (string)

### MSP_Short
+ id: d290f1ee-6c54-4b01-90e6-d701748f0851
+ name: Клініка Ноунейм (string)
+ short_name: Ноунейм (string)
+ legal_form: 140 (string) - Dictionary LEGAL_FORM
+ edrpou: 5432345432 (string)

### MSP_Details
+ id: d290f1ee-6c54-4b01-90e6-d701748f0851
+ name: Клініка ЦПМСД №1 (string)
+ short_name: ЦПМСД №1 (string)
+ legal_form: 140 (string) - Dictionary LEGAL_FORM
+ public_name: ЦПМСД №1 (string)
+ edrpou: 5432345432 (string)
+ status (enum)
    - ACTIVE
    - INACTIVE
        - ACTIVE
    - CLOSED
+ email: email@example.com (string)
+ phones (array[Phone], required)
+ addresses (array[Address], optional)

### MSP
+ licenses (array[MSP_License], required)
+ accreditation (MSP_Accreditation, optional)

### MSP_V2
+ licenses (array[MSP_License_V2], required)
+ accreditation (MSP_Accreditation, optional)

### MSP_Accreditation
+ category: SECOND (string) - Dictionary ACCREDITATION_CATEGORY category of accreditation legal entity. At least one of type must be present. Each type can be represented only once.
+ issued_date: 2017-02-28 (string) - дата видачі
+ expiry_date: 2017-02-28 (string)
+ order_no: fd123443 (string) - номер наказу МОЗ
+ order_date: 2017-02-28 (string) - дата наказу МОЗ

### MSP_License
+ license_number: fd123443 (string)
+ issued_by: Кваліфікацйна комісія (string)
+ issued_date: 2017-02-28 (string)
+ expiry_date: 2017-02-28 (string)
+ active_from_date: 2017-02-28 (string)
+ what_licensed: реалізація наркотичних засобів (string)
+ order_no: ВА43234 (string) - номер наказу

### MSP_License_V2
+ license_number: fd123443 (string)
+ type: MSP (string) - License type Dictionary LICENSE_TYPE
+ kveds: 86.10 (array, required) - Ukrainian Industry Classification System, there is a check that at least one of required kveds provided for specific license type
+ issued_by: Кваліфікацйна комісія (string)
+ issued_date: 2017-02-28 (string)
+ expiry_date: 2017-02-28 (string)
+ active_from_date: 2017-02-28 (string)
+ what_licensed: реалізація наркотичних засобів (string)
+ order_no: ВА43234 (string) - номер наказу

### Bank_Details
+ MFO: 351005 (string) - bank code
+ name: Публічне акціонерне товариство «УкрСиббанк» (string) - bank name
+ account_number(array, required)
    + 32009102701026 (string) - banks account number

### Owner_V2
+ first_name: Петро (string)
+ last_name: Іванов (string)
+ second_name: Миколайович (string)
+ tax_id: 3015492563 (string)
+ employee_id: 229d6b67-fc18-49ca-be96-7468fc4e1745 (string)
+ no_tax_id: false (boolean) - true if owner doesn't have tax_id and false otherwise
+ birth_date: 1991-08-19 (string)
+ gender: MALE (string) - Dictionary GENDER
+ email: email@example.com (string)
+ documents (array[PartyDocument], required)
+ phones (array[Phone], required)
+ position (string): P6- Dictionary POSITION

### PartyDocument
+ type: PASSPORT (string) - Dictionary DOCUMENT_TYPE
+ number: АА120518 (string) - document issue number
+ issued_by: Рокитнянським РВ ГУ МВС Київської області (string) - authority which issued the document
+ issued_at: 2017-02-28 (string) - the date when document was issued

### Legal_Entity_Related
+ merged_from_legal_entity (object)
    + id: b075f148-7f93-4fc2-b2ec-2d81b19a9b7b (string) - merged_from legal entity id
    + name: Клініка Ноунейм (string) - full official name of legal entity
    + edrpou: 5432345432 (string) -  Unified Register of Businesses and Organizations
+ reason: на підставі наказу №1111 (string) - the legit documents which prove the relationship between legal entities
+ reason_date: 2022-02-10 (string) - the legit documents date
+ type: ACCESSION (string) - reorganization type, dictionary LEGAL_ENTITY_REORGANIZATION_TYPES
+ is_active: true (enum)
    - true - whether relationship between legal entities is active
    - Default: true
+ inserted_at: 2005-10-30 10:45 (string) - timestamp
+ inserted_by: b075f148-7f93-4fc2-b2ec-2d81b19a9b7b (string) - user id

# ## Licenses

### License
+ type: MSP (string) - License type Dictionary LICENSE_TYPE
+ license_number: fd123443 (string)
+ issued_by: Кваліфікацйна комісія (string)
+ issued_date: 2022-02-28 (string)
+ expiry_date: 2026-02-28 (string)
+ active_from_date: 2022-02-28 (string)
+ what_licensed: реалізація наркотичних засобів (string)
+ order_no: ВА43234 (string)

### crud_licenses_get
+ id: d290f1ee-6c54-4b01-90e6-d701748f0851 (string)
+ include License
+ legal_entity_id: 28d9c1be-08f0-403b-aa76-bff228c9904f (string)    
+ is_primary: true (boolean)

### crud_licenses_post
+ include License
+ is_primary: false (boolean)

### Job
+ status: pending (string) - status of request processing.
+ eta: 2018-08-02T10:45:16.000Z (string) - estimated time of arrivals
+ links (array[Link], optional) - links to resources that has been impactedas a job processing result


### Job_Error_403
+ error: Error description (string) - Human-readable error message.
+ eta: 2018-08-02T10:45:16.000Z (string) - estimated time of arrivals
+ status: failed (string) - status of request processing
+ status_code: 403 (string) - processing result

### Job_Error_404
+ error (object) - Error description
    + type: Error_type (string) - Atom that represents error type.

### Job_Error_409
+ error (object) - Error description
    + message: Error description (string) - Human-readable error message.
    + type: Error_type (string) - Atom that represents error type.
+ eta: 2018-08-02T10:45:16.000Z (string) - estimated time of arrivals
+ status: failed (string) - status of request processing
+ status_code: 409 (string) - processing result

### Job_Error_422
+ status: failed (string) - status of request processing
+ status_code: 422 (string) - processing result
+ error (Response__Error_ValidationFailed, required)
+ eta: 2019-04-26T09:16:15.936 (string) 

### Link
+ entity: job (string) - name of the entity that link follows to
+ href: /Jobs/NBXk9EyErUZv1RhXgyvgg (string) - link to entity

### Reference_request
+ identifier (Identifier)

### Reference_response
+ identifier (Identifier)
+ display_value: null (string) - This field is required in the Reference, so it may be returned empty.

### Reference
+ identifier (Identifier)

### Identifier
+ type(Codeable_Concept, required) - Description of identifier
+ value : 9183a36b-4d45-4244-9339-63d81cd08d9c (string)- The value that is unique

### Codeable_Concept
+ coding (array, required)
    + (object)
        + include Coding
+ text (string)

### Coding
+ system : eHealth/resources (string)
+ code : patient (string) - Symbol in syntax defined by the system

### Period
+ start : 2018-08-02T10:45:16.000Z(string, required) - Starting time with inclusive boundary
+ end : 2018-08-02T11:00:00.000Z(string, optional) - End time with inclusive boundary, if not ongoing

### Quantity
+ value : 13,5 (number, required)
+ comparator : > (string)
+ unit : kg (string) - for future use
+ system : eHealth/ucum/units (string)
+ code: kg (string)

### Range
+ low (Quantity, required)
+ high (Quantity, required)

### Timing
+ event: 2018-08-02T10:45:16.000Z
+ repeat (object)
    + include Repeat
+ code: TIMING_ABBREVIATION (string)

### Repeat
+ count: 10 (string) - Number of times to repeat
- One Of
    + bounds_duration (Quantity, optional)
    + bounds_range (Range, optional)
    + bounds_period (Period, optional)
+ count_max: 20 (string) - Maximum number of times to repeat
+ duration: 15 (string) - How long when it happens
+ duration_max: 25 (string) - How long when it happens
+ duration_unit: UNITS_OF_TIME (string) - unit of time dictionary
+ frequency: 1 (string) - Event occurs frequency times per period
+ requency_max: 4 (string) - Event occurs up to requency max times per period
+ period: 1 (string) - Event occurs frequency times per period
+ period_max: 3 (string) - Upper limit of period, 3-4 hours
+ period_unit: UNITS_OF_TIME (string) - unit of time dictionary
+ day_of_week: DAYS_OF_WEEK (string) - DAYS OF WEEK dictionary
+ time_of_day: 15:30 (string) - Time of day for action
+ when: EVENT_TIMING (optional) - Code for time period of occurrence
+ offset: 20 (string) - Minutes from event, before or after

# ## Specimen

### Specimen_Collection_Request
+ collector (Reference_request, required) - Who collected the Specimen.
    + identifier (Identifier, required)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: employee (enum)
                        - employee
                        - patient
- One Of
    + collected_date_time: 2023-04-20T19:14:13Z (string) - The time when Specimen was collected. ISO 8601 date and time in UTC timezone.
    + collected_period (object) - The period of time during which the Specimen was collected
        + start : 2023-04-20T10:45:16.000Z(string, required) - Starting time with inclusive boundary
        + end : 2023-04-20T11:00:00.000Z(string, optional) - End time with inclusive boundary, if not ongoing
+ duration (object) - How long it took to collect Specimen
    + value: 5 (number, required)
    + system: eHealth/ucum/units (string)
    + code: min (string)
    + comparator: > (string)
+ quantity (object) - The quantity of specimen collected
    + value: 20 (number, required)
    + system: eHealth/ucum/units (string)
    + code: g (string)
+ method (Codeable_Concept, optional) - Technique used to perform collection
    + coding (array)
        + (Coding)
            + system: specimen_collection_methods (string)
            + code: default (string)
+ body_site (Codeable_Concept, optional) - Anatomical collection site
    + coding (array)
        + (Coding)
            + system: eHealth/body_sites (string)
            + code: head (string)
+ fasting_status_codeable_concept (Codeable_Concept, optional) - Whether or how long patient abstained from food and/or drink
    + coding (array)
        + (Coding)
            + system: fasting_statuses (string)
            + code: default (string)


### Specimen_Container_Request
+ identifier: 1-3244-ABC (string) - Id for the container
+ description: Some container description (string) - Textual description of the container
+ type (Codeable_Concept, required) - Kind of container directly associated with specimen.
    + coding (array)
        + (Coding)
            + system: specimen_container_types (string)
            + code: default (string)
+ capacity (object) - Container volume or size
    + value: 30000 (number, required)
    + system: eHealth/ucum/units (string)
    + code: mg (string)
+ specimen_quantity (object) - Quantity of specimen within container
    + value: 20 (number, required)
    + system: eHealth/ucum/units (string)
    + code: g (string)
+ additive_codeable_concept (Codeable_Concept, optional) - Additive associated with container.
    + coding (array)
        + (Coding)
            + system: specimen_container_additives (string)
            + code: default (string)

### Specimen_Request
+ id: b075f148-7f93-4fc2-b2ec-2d81b19a9b7b (string) - Specimen Identifier
+ status: available (string) - status of the Specimen according to specimen_statuses
+ type (Codeable_Concept, required)
    + coding (array)
        + (Coding)
            + system: specimen_types (string)
            + code: default (string)
+ condition (Codeable_Concept, optional) - State of the specimen.
    + coding (array)
        + (Coding)
            + system: specimen_conditions (string)
            + code: default (string)
+ note: Some notes (string) - Comments
+ managing_organization (Reference_request, required) - Legal entity where the specimen was created
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: legal_entity (string)
+ registered_by (Reference_request, required) - Who registered the specimen.
    + identifier (Identifier, required)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: employee (string)
+ parent (array, optional) - Specimens from which this Specimen originated
    + (Reference_request)
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: specimen (string)
+ request (array, optional) - Service requests on diagnostic, represents why the Specimen was collected.
    + (Reference_request)
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: service_request (string)
+ collection (Specimen_Collection_Request, required) - Collection details
+ container (array, required) - Direct container of Specimen 
    + (Specimen_Container_Request)

### Specimen_EDP_Request
+ include Specimen_Request
+ context (Reference_request, required)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: encounter (string)
+ collection (Specimen_Collection_Request, required) - Collection details
    + procedure (Reference_request, optional) - Procedure that collects the specimen.
        + identifier (Identifier, required)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: procedure (string)
+ received_time: 2023-04-20T19:14:13Z (string) - The time when Specimen was received for processing
+ status: available (enum) - status of the Specimen according to specimen_statuses
    - available
    - unavailable
+ status_reason (Codeable_Concept, optional) - in case the Specimen has unavailable status
    + coding (array)
        + (Coding)
            + system: specimen_invalidate_reasons (string)
            + code: used (string)

### Specimen_Response
+ include Specimen_Request
+ status: available (enum) - status of the Specimen according to specimen_statuses
    - available
    - unavailable
    - unsatisfactory
    - entered_in_error
+ managing_organization (Reference_response, required) - Legal entity where the Specimen was created
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: legal_entity (string)
    + display_value: Комунальне підприємство Медлаб (string) - This field is filled on creating and never updated after
+ registered_by (Reference_response, required) - Who registered the Specimen.
    + identifier (Identifier, required)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: employee (string)
    + display_value: Тарасенко Максим Петрович (string) - This field is filled on creating and never updated after
+ context (Reference_response, optional) - Encounter if Specimen created using EDP.
    + identifier (Identifier, required)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: encounter (string)
+ accession_identifier: AX64-654T-X654-AX65 (string) - Human readable requisition number
+ received_time: 2023-04-20T19:14:13Z (string) - The time when Specimen was received for processing. ISO 8601 date and time in UTC timezone.
+ parent (array, optional) - Specimens from which this Specimen originated
    + (Reference_response)
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: specimen (string)
+ request (array, optional) - Service requests on diagnostic, represents why the Specimen was collected.
    + (Reference_response)
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: service_request (string)
+ subject (Reference_response, required)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
+ status_reason (Codeable_Concept)
    + coding (array)
        + (Coding)
            + system (enum)
                - specimen_reject_reasons
                - specimen_invalidate_reasons
                - specimen_cancel_reasons
            + code: default (string)
+ collection (Specimen_Collection_Request, required) - Collection details
    + collector (Reference_response, required) - Who collected the Specimen.
        + identifier (Identifier, required)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: employee (enum)
                            - employee
                            - patient
        + display_value: Василенко Олена Павлівна (string) - This field is filled on creating and never updated after
    + duration (object) - How long it took to collect Specimen
        + value: 5 (number, required)
        + system: eHealth/ucum/units (string)
        + code: min (string)
        + comparator: > (string)
        + unit: хв (string)
    + quantity (object) - The quantity of Specimen collected
        + value: 20 (number, required)
        + system: eHealth/ucum/units (string)
        + code: g (string)
        + unit: грам (string)
    + procedure (Reference_response, optional) - Procedure that collects the Specimen.
        + identifier (Identifier, required)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: procedure (string)
+ container (array, required) - Direct container of Specimen 
    + (Specimen_Container_Request)
        + capacity (object) - Container volume or size
            + value: 30000 (number, required)
            + system: eHealth/ucum/units (string)
            + code: mg (string)
            + unit: міліграм (string)
        + specimen_quantity (object) - Quantity of Specimen within container
            + value: 20 (number, required)
            + system: eHealth/ucum/units (string)
            + code: g (string)
            + unit: грам (string)
+ inserted_at: 2017-04-20T19:14:13Z (string) - ISO 8601 date and time in UTC timezone.
+ inserted_by: e1453f4c-1077-4e85-8c98-c13ffca0063e (string)
+ updated_at: 2017-04-20T19:14:13Z (string) - ISO 8601 date and time in UTC timezone.
+ updated_by: 2922a240-63db-404e-b730-09222bfeb2dd (string)  

# ## Diagnosis

### Diagnosis_Request
+ condition (Reference_request, required)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: condition (string)
+ role (Codeable_Concept, required) - Role that this diagnosis has within the episode of care
    + coding (array)
        + (Coding)
            + system: eHealth/diagnosis_roles
            + code: CC
+ rank: 1 (number) - Ranking of the diagnosis. Max value = 10 (for each role type)

### Diagnosis_Referrence_Condition_2
+ condition (Reference_response, required) 
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: condition (string)
+ code (Codeable_Concept, required) 
     + coding (array)
        + (Coding)
            + system: eHealth/ICPC2/conditions,
            + code: A20 - dictionary eHealth/ICPC2/condition_codes or eHealth/ICD10/condition_codes                    
+ role (Codeable_Concept, required) - Role that this diagnosis has within the episode of care
    + coding (array)
        + (Coding)
            + system: eHealth/diagnosis_roles
            + code: CC
+ rank: 1 (number) - Ranking of the diagnosis (for each role type)

### Diagnosis_Referrence_Condition
+ condition (Reference_response, required) 
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: condition (string)
+ code (Codeable_Concept, required) 
     + coding (array)
        + (Coding)
            + system: eHealth/ICPC2/conditions,
            + code: A20 - dictionary eHealth/ICPC2/condition_codes or eHealth/ICD10/condition_codes
+ role (Codeable_Concept, required) - Role that this diagnosis has within the episode of care
    + coding (array)
        + (Coding)
            + system: eHealth/diagnosis_roles
            + code: CC
+ rank: 1 (number) - Ranking of the diagnosis (for each role type)

# ## Episode Of Care

### Episode_Of_Care_Base
+ id: 90a9e15b-b71b-4caf-8f2e-ff247e8a5600 (string)
+ type  (Coding), required)
    + system : eHealth/episode_types (string)
    + code: primary_care (string)
+ status: active (string)- dictionary - eHealth/episode_statuses
+ name: Діабет 2018 (string)
                    
+ patient (Reference_request, required)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    
+ diagnoses_history (array, optional)
    + (object)
        + date: 2018-08-02T10:45:16.000Z (string)
        + evidence (Reference_request, required)
            + identifier (Identifier)
                + type (Codeable_Concept)
                    + coding (array)
                        + (Coding)
                            + code: encounter (string)
        + diagnoses (array, required)
            + (Diagnosis_Referrence_Condition)
            + (Diagnosis_Referrence_Condition_2)
+ managing_organization (Reference_request, required)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: legal_entity (string)
                    
            
+ period (Period, required)
+ care_manager (Reference_request, required)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: employee (string)


### Episode_Of_Care_Request
+ id: 90a9e15b-b71b-4caf-8f2e-ff247e8a5600 (string)
+ type  (Coding), required)
    + system : eHealth/episode_types (string)
    + code: primary_care (string)
+ status: active  (string) - dictionary - eHealth/episode_statuses
+ name: Діабет 2018 (string)
+ managing_organization (Reference_request, required)
     + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: legal_entity (string)
+ period (object , required)
    + start: 2018-08-02T10:45:16.000Z (string)
+ care_manager (Reference_request, required)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: employee (string)


### Episode_Of_Care_Response
+ id: 90a9e15b-b71b-4caf-8f2e-ff247e8a5600 (string)
+ inserted_at: 2018-08-02T10:45:16.000Z (string)
+ updated_at: 2018-08-02T10:45:16.000Z (string)
+ type  (Coding), required)
    + system : eHealth/episode_types (string)
    + code: primary_care (string) 
+ status: active  (string) - dictionary - eHealth/episode_statuses
+ name: Діабет 2018 (string)
+  status_history  (array, optional)
    +(object)
        + status: closed (string)
        + status_reason (Codeable_Concept, optional)
            + coding (array)
                + (Coding)
                    + system: eHealth/episode_closing_reasons (string)
                    + code: cured (string)
        + inserted_at: 2018-08-02T10:45:16.000Z (string)
+ current_diagnoses (array, optional)
    + (Diagnosis_Referrence_Condition_2)
+ diagnoses_history (array, optional)
    + (object)
        + date: 2018-08-02T10:45:16.000Z (string)
        + evidence (Reference_response, required)
            + identifier (Identifier)
                + type (Codeable_Concept)
                    + coding (array)
                        + (Coding)
                            + code: encounter (string)
        + diagnoses (array, required)
            + (Diagnosis_Referrence_Condition)
            + (Diagnosis_Referrence_Condition_2)
+ status_history (array, required)
    + (object)
        + status: active (string)
        + status reason (Codeable_Concept, required)
            + coding (array)
                + (Coding)
                    + system: eHealth/episode_closing_reasons (string)
                    + code: cured (string) \\ wrong_patient, misspelling
        + inserted_at: 2018-08-02T10:45:16.000Z (string)            
+ managing_organization (Reference_response, required)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: legal_entity (string)
    + display_value: Медікал Солюшнc (string) - This field is filled on creating and never updated after
            
+ period (Period, required)
    + end: 2018-08-03T11:00:00.000Z (string)
    + start: 2018-08-02T10:45:16.000Z (string)
+ care_manager (Reference_response, required)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: employee (string)
+ closing_summary: Носові шляхи вільні, горло рожеве, температура в нормі (string)    
+ status_reason (Codeable_Concept, required)
    + coding (array)
        + (Coding)
            + system: eHealth/episode_closing_reasons (string)
            + code: cured (string) \\ wrong_patient, misspelling
+ explanatory_letter: Епізод був відмінений у зв'язку з помилкою при виборі пацієнта  (string)    

### Update_Episode
+ name: Інсулінонезалежний діабет (string)
+ care_manager (Reference_request, optional)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: employee (string)

### Cancel_Episode
+ explanatory_letter: Епізод був відмінений у зв'язку з помилкою при виборі пацієнта  (string)    
+ status_reason (Codeable_Concept, required)
    + coding (array)
        + (Coding)
            + system: eHealth/cancellation_reasons (string)
            + code: misspelling (string) \\ wrong_patient, misspelling
    - text (string)

### Close_Episode
+ period (object)
    + end: 2018-08-02T10:45:16.000Z (string)
+ closing_summary: Носові шляхи вільні, горло рожеве, температура в нормі (string)    
+ status_reason (Codeable_Concept, required)
    + coding (array)
        + (Coding)
            + system: eHealth/episode_closing_reasons (string)
            + code: cured (string) \\ wrong_patient, misspelling
    - text (string)

### Episode_Of_Care_Short
+ id: 90a9e15b-b71b-4caf-8f2e-ff247e8a5600 (string)
+ name: Діабет 2018 (string)
+ status: active (string)
+ period (Period, required)
    + end: 2018-08-03T11:00:00.000Z (string)
    + start: 2018-08-02T10:45:16.000Z (string)
+ inserted_at: 2018-08-02T10:45:16.000Z (string)
+ updated_at: 2018-08-02T10:45:16.000Z (string)

### Episode_Of_Care_Short_With_Diagnoses
+ include Episode_Of_Care_Short
+ managing_organization (Reference_response, required)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: legal_entity (string)
    + display_value: Медікал Солюшнc (string) - This field is filled on creating and never updated after
+ diagnoses (array, required)
    + (Diagnosis_Referrence_Condition_2)  

# ## Encouner

### Encounter_Base (object)
+ id: 465fb6fe-2dea-4b8a-9ef7-58379d1eaab0 (string)
+ status: finised  (string) - dictionary eHealth/encounter_statuses
+ period (object , required)
    + start: 2018-08-02T10:45:16.000Z (string)
    + end: 2018-08-02T11:00:00.000Z (string)                       
+ incoming_referral(Reference_request, optional)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: service_request (string)
+ paper_referral (Paper_referral, optional)
+ visit (Reference_request, required)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: visit (string)
                        
+ episode (Reference_request, required)   
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: episode (string)

+ class  (Coding), required)
    + system : eHealth/encounter_classes (string)
    + code: inpatient (string) - dictionary eHealth/encounter_classes
    
    
+ type (Codeable_Concept, required)
    + coding (array)
        + (Coding)
            + system: eHealth/encounter_types (string) 
            + code: 11429006 (string)- dictionary eHealth/encounter_types
            
+ priority (Codeable_Concept, optional)
    + coding (array)
        + (Coding)
            + system: eHealth/encounter_priority (string) 
            + code: routine (string)- dictionary eHealth/encounter_types
                    
+ performer (Reference_request, required)
     + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: employee (string)
                    
+ reasons (array, optional)
    + (Codeable_Concept)
        + coding (array)
            + (Coding)
             + system: eHealth/ICPC2/reasons (string) 
             + code: A02 (string) - dictionary eHealth/ICPC2/reasons
             
    + (Codeable_Concept)
        + coding (array)
            + (Coding)
                + system: eHealth/ICPC2/reasons (string)
                + code: D09 (string)-  dictionary eHealth/ICPC2/reasons

+ diagnoses (array, required)
    + (Diagnosis_Request)
        
        
+ actions (array, optional) - actions are required for class PHC and forbidden for other classes
    + (Codeable_Concept)
        + coding (array)
            + (Coding)
             + system: eHealth/ICPC2/actions (string)
             + code: T47 (string)- dictionary eHealth/ICPC2/actions
             
    + (Codeable_Concept)
        + coding (array)
            + (Coding)
             + system: eHealth/ICPC2/actions (string)
             + code: T50 (string)- dictionary eHealth/ICPC2/actions
+ action_references (array[Reference_request], optional) - action references are forbidden for class PHC
    + (object)
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: service (string)
                    
+ division (Reference_request, optional)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: division (string)
                    
+ prescriptions: 'Дієта №1, Омепразолу 40 мг 1 раз на добу + амоксициліну 500 мг + метронідазолу 400 мг при необхідності 500 мг або тинідазолу 500 мг 3 рази на добу протягом 1 тижня' (string)
+ supporting_info (array,optional)
    + (Reference_request)
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: observation (string)
    + (Reference_request)
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: diagnostic_report (string)
    + (Reference_request)
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: condition (string)
+ hospitalization (object,optional)
    + admit_source - From where patient was admitted (physician referral, transfer). Field is required if parameter encounter.type.coding.code = discharge.
        + coding (array)
            + (Coding)
                + system: Health/encounter_admit_source (string) 
                + code: default (string)- dictionary eHealth/encounter_admit_source
    + re_admission - The type of hospital re-admission that has occurred
        + coding (array)
            + (Coding)
                + system: Health/encounter_re_admission (string) 
                + code: default (string)- dictionary eHealth/encounter_re_admission

    + destination (Reference_request, optional)
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: division/legal_entity (string)

    + discharge_disposition - Category or kind of location after discharge. Field is required if parameter encounter.type.coding.code = discharge.
        + coding (array)
            + (Coding)
                + system: Health/encounter_discharge_disposition (string) 
                + code: default (string)- dictionary eHealth/encounter_discharge_disposition
    + discharge_department - Department from which patient has been discharged. It is not division. Field is required if parameter encounter.type.coding.code = discharge.
        + coding (array)
            + (Coding)
                + system: Health/encounter_discharge_department (string) 
                + code: default (string)- dictionary eHealth/encounter_discharge_department
    + pre_admission_identifier: 12345 (string) - Pre-admission identifier

### Encounter_Request 
+ encounter (Encounter_Base, required)
+ conditions (array, optional)
    + (Condition_Request)
+ observations (array, optional)
    + (Observation_Request_1)
        + context (Reference_request, required)
            + identifier (Identifier)
                + type (Codeable_Concept)
                    + coding (array)
                        + (Coding)
                            + code: encounter (string)
+ allergy_intolerances (array[Allergy_Intolerance_Request], optional)
+ immunizations (array[Immunization_Request], optional)
+ devices (array[Device_Request], optional)
+ risk_assessments(array[Risk_Assessment_Request], optional)
+ medication_statements (array[Medication_Statement_Request], optional)
+ medication_administrations (array[Medication_Administration_EncounterPCG_Request], optional)
+ diagnostic_reports (array[Diagnostic_Report_EncounterPCG_Request], optional)
+ procedures (array[Procedure_EncounterPCG_Request], optional)
+ clinical_impressions (array[Clinical_Impression_EncounterPCG_Request], optional)
+ specimens (array[Specimen_EDP_Request], optional)
+ device_dispenses(array[Device_Dispense_EncounterPCG_Request], optional)
+ device_associations (array[Device_assosiation_request], optional)
+ detected_issues (array[Detected_issue_Request], optional)

### Encounter_Response
+ id: 465fb6fe-2dea-4b8a-9ef7-58379d1eaab0 (string)
+ origin_episode (Reference_response, optional)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: episode (string)
+ status: finised  (string) - dictionary eHealth/encounter_statuses                   
+ period (object , required)
    + start: 2018-08-02T10:45:16.000Z (string)
    + end: 2018-08-02T11:00:00.000Z (string)                       
+ incoming_referral(Reference_response, optional)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: service_request (string)
+ paper_referral (Paper_referral, optional)
+ inserted_at: 2018-08-02T10:45:16.000Z (string)
+ updated_at: 2018-08-02T10:45:16.000Z (string)
+ visit (Reference_response, required)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: visit (string)
                        
+ episode (Reference_response, required)   
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: episode (string)

+ class  (Coding), required)
    + system : eHealth/encounter_classes (string)
    + code: inpatient (string) - dictionary eHealth/encounter_classes

    
+ type (Codeable_Concept, required)
    + coding (array)
        + (Coding)
            + system: eHealth/encounter_types (string)
            + code: PC (string) - dictionary eHealth/encounter_types


+ performer (Reference_response, required)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: employee (string)
    + display_value: Шевченко Олесь Вікторович (string) - This field is filled on creating and never updated after

+ reasons (array,required)
    + (Codeable_Concept)
        + coding (array)
            + (Coding)
             + system: eHealth/ICPC2/reasons (string) 
             + code: A02 (string) - dictionary eHealth/ICPC2/reasons
             
    + (Codeable_Concept)
        + coding (array)
            + (Coding)
                + system: eHealth/ICPC2/reasons (string)
                + code: D09 (string)-  dictionary eHealth/ICPC2/reasons
        
+ diagnoses (array, optional)
    + (Diagnosis_Referrence_Condition)
        
        
+ actions (array, required)
    + (Codeable_Concept)
        + coding (array)
            + (Coding)
             + system: eHealth/ICPC2/actions (string)
             + code: T47 (string)- dictionary eHealth/ICPC2/actions

    + (Codeable_Concept)
        + coding (array)
            + (Coding)
             + system: eHealth/ICPC2/actions (string)
             + code: T47 (string)- dictionary eHealth/ICPC2/actions

+ action_references  (array[Reference_response], optional)
    + (object)
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: service (string)

+ division (Reference_response, optional)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: division (string)
                    
+ prescriptions: 'Дієта №1, Омепразолу 40 мг 1 раз на добу + амоксициліну 500 мг + метронідазолу 400 мг при необхідності 500 мг або тинідазолу 500 мг 3 рази на добу протягом 1 тижня' (string)
+ supporting_info (array,optional)
    + (Reference_response)
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: observation (string)
    + (Reference_response)
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: diagnostic_report (string)
+ cancellation_reason (Codeable_Concept, optional)
    + coding (array)
        + (Coding)
            + system: eHealth/episode_closing_reasons (string)
            + code: cured (string) - wrong_patient, misspelling
            
+ explanatory_letter: Діагноз був відмінений у зв'язку з помилкою при виборі пацієнта  (string)    
+ hospitalization (object,optional)
    + admit_source - From where patient was admitted (physician referral, transfer)
        + coding (array)
            + (Coding)
                + system: Health/encounter_admit_source (string) 
                + code: default (string)- dictionary eHealth/encounter_admit_source
    + re_admission - The type of hospital re-admission that has occurred
        + coding (array)
            + (Coding)
                + system: Health/encounter_re_admission (string) 
                + code: default (string)- dictionary eHealth/encounter_re_admission

    + destination (Reference_response, optional)
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: division/legal_entity (string)

    + discharge_disposition - Category or kind of location after discharge
        + coding (array)
            + (Coding)
                + system: Health/encounter_discharge_disposition (string) 
                + code: default (string)- dictionary eHealth/encounter_discharge_disposition
    + discharge_department - Department from which patient has been discharged. It is not division
        + coding (array)
            + (Coding)
                + system: Health/encounter_discharge_department (string) 
                + code: default (string)- dictionary eHealth/encounter_discharge_department
    + pre_admission_identifier: 12345 (string) - Pre-admission identifier

### Paper_referral
+ requisition: 1111-2222-3333-4444 (string) - Service request number
+ requester_legal_entity_name: Some clinic (string) - Requester legal entity name
+ requester_legal_entity_edrpou: 12345678 (string) - Requester legal entity edrpou
+ requester_employee_name: John (string) - Requester employee name
+ service_request_date: 2018-10-08 (string) - Service request date
+ note: Some notes (string) - Some notes

### Encounter_Short
+ id: 465fb6fe-2dea-4b8a-9ef7-58379d1eaab0 (string)
+ status: finised  (string) - dictionary eHealth/encounter_statuses                
+ period (object , required)
    + start: 2018-08-02T10:45:16.000Z (string)
    + end: 2018-08-02T11:00:00.000Z (string)                       
+ episode (Reference_request, required)   
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: episode (string)
+ class  (Coding), required)
    + system : eHealth/encounter_classes (string)
    + code: inpatient (string) - dictionary eHealth/encounter_classes
+ type (Codeable_Concept, required)
    + coding (array)
        + (Coding)
            + system: eHealth/encounter_types (string)
            + code: discharge (string) - dictionary eHealth/encounter_types
+ performer_speciality (Codeable_Concept, required)
    + coding (array)
        + (Coding)
            + system: SPECIALITY_TYPE (string) - dictionary
            + code: VIROLOGY (string) - code from dictionary SPECIALITY_TYPE

### Detected_issue_Request                   
+ id: 80a9e15b-b71b-4caf-8f2e-ff247e8a5600 (string)
+ status:  inactive (string) - dictionary - detected_issue_statuses
+ code (Codeable_Concept, optional) - Specific type of detected issue
    + coding (array)
        + (Coding)
            + system: detected_issue_categories (string) 
            + code: default (string)- dictionary -  detected_issue_categories
+ encounter (Reference_request, required)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: encounter (string)
+ identified_date_time : 2018-08-02T10:45:16.000Z,
+ recorder(Reference_request, required) - The employee who registered the issue
    + identifier (Identifier, optional)
        + type (Codeable_Concept, required)
            + coding (array, required)
                + (Coding)
                    + code: employee (string)
+ author(Reference_request, required) - The employee or person who identified the issue
    + identifier (Identifier, required)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: employee (enum)
                        - employee
                        - patient
+ implicated(Reference_request, optional) - device which caused an issue in the subject
    + identifier (Identifier, optional)
        + type (Codeable_Concept, required)
            + coding (array, required)
                + (Coding)
                    + code: device (string)   
+ detail: some description (string)
+ subject (Reference_request, required) - device that has an issue
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: device (string)
+ based_on(Reference_request, optional) - another Detected Issue on which this is based on
    + identifier (Identifier, optional)
        + type (Codeable_Concept, required)
            + coding (array, required)
                + (Coding)
                    + code: detected_issue (string)

### Device_assosiation_request
+ id: 80a9e15b-b71b-4caf-8f2e-ff247e8a5600 (string)
+ device (Reference_request, required) - Item used during observation.
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: device (string) 
+ status:  inactive (string) - dictionary - device_association_statuses
+ body_site (Codeable_Concept, optional) - Anatomical collection site
    + coding (array)
        + (Coding)
            + system: eHealth/body_structures (string)
            + code: head (string)
+ association_date: 2024-08-02 (string) - The date of implantation\attachment or explantation\detachment of the device to the patient
+ recorded: 2024-08-05T09:00:00.000Z (string) - The date of setting the direction of the relationship of the device to the patient
+ context (Reference_request, required)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: encounter (string)
+ recorder(Reference_request, required)
    + identifier (Identifier, optional)
        + type (Codeable_Concept, required)
            + coding (array, required)
                + (Coding)
                    + code: employee (string)

### Device_Dispense_EncounterPCG_Request
+ include Device_Dispense_Base
+ based_on (Reference_request, optional) - Device request
    + identifier (Identifier, required)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: device_request (string)
        + value: b4a6d991-0bf7-476f-b3cf-bec83f044b1b (string)
+ when_handed_over:2018-08-02T10:45:16.000Z (string) 
+ part_of (Reference_response, optional)
    + identifier (Identifier, required)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: procedure (string)
        + value: c5a6d991-0bf7-476f-b3cf-bec83f044b2a (string)
+ encounter (Reference_response, required)
    + identifier (Identifier, required)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: encounter (string)
        + value: c5a6d991-0bf7-476f-b3cf-bec83f044b2a (string)
+ supporting_info (array, optional)
    + (Reference_request)
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: condition (enum)
                            - condition
                            - observation
                            - diagnostic_report
                            - procedure
                            - encounter
                            - episode 
                            - device
                            - device_association
+ details (array[Device_Dispense_Detail_EncounterPCG_Request], fixed, required)

### Device_Dispense_Detail_EncounterPCG_Request
- One Of
    + device (object)
        + identifier (object)
            + type (object)
                + coding (array, required)
                    + (object)
                        + system: eHealth/resources (string)
                        + code: device_definition (enum)
                            - device_definition
                            - device
            + value: b4a6d991-0bf7-476f-b3cf-bec83f044b1b (string)
    + device_code (object)
        + coding (array, optional)
            + (object)
                + system: device_definition_classification_type (string)
                + code: 30221 (string)
+ quantity (object)
    + value: 10 (number, required)
    + system: device_unit (string)
    + code: piece (string)
+ sell_price: 18.65 (number) - price for one device

### Device_Dispense_Base
+ id: b075f148-7f93-4fc2-b2ec-2d81b19a9b7b (string) - Device Dispense Identifier
+ status: completed  (string) 
+ performer (Reference_request, required)
    + identifier (Identifier, required)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: employee (string)
        + value: b4a6d991-0bf7-476f-b3cf-bec83f044b1b (string)
+ location (Reference_request, required)
    + identifier (Identifier, required)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: division (string)
        + value: b4a6d991-0bf7-476f-b3cf-bec83f044b1b (string)
+ note: Some notes (string)

# ## Clinical Impression

### Clinical_Impression_EncounterPCG_Request
+ id: 90a9e15b-b71b-4caf-8f2e-ff247e8a5600 (string)
+ status: completed (string)
+ description: Some description of the clinical impression (string)
+ code (Codeable_Concept, required)
    + coding (array)
        + (Coding)
            + system: eHealth/clinical_impression_patient_categories (string)
            + code: insulin_1 (string)
+ encounter (Reference_request, required)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: encounter (string)
- One Of
    - effective_date_time: 2018-08-02T10:45:16.000Z (string)
    - effective_period (object)
        + start : 2018-08-02T10:45:16.000Z(string, required) - Starting time with inclusive boundary
        + end : 2018-08-02T11:00:00.000Z(string, required) - End time with inclusive boundary
+ assessor (Reference_request, required) - author of the clinical impression
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: employee (string)
    + display_value: Петров Іван Іванович
+ previous (Reference_request, optional) - reference to one of previous clinical impression
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: clinical_impression (string)
+ problems (array, optional) - relevant impressions of patient state
    + (Reference_request)
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: condition (string)
+ summary: Some summary (string)
+ findings (array, optional)
    + (object)
        + item_reference (Reference_request, required)
            + identifier (Identifier)
                + type (Codeable_Concept)
                    + coding (array)
                        + (Coding)
                            + code: condition (enum)
                                - observaton
        + basis: Some basis (string)                    
+ supporting_info (array, optional)
    + (Reference_request)
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: episode_of_care (enum)
                            - procedure
                            - diagnostic_report
                            - encounter
+ note: Some note (string)

### Clinical_Impression_Show
+ include Clinical_Impression_EncounterPCG_Request
+ inserted_at: 2018-08-02T10:55:00.000Z (string)
+ updated_at: 2018-08-02T10:55:00.000Z (string)

### Procedure_EncounterPCG_Request
+ id: 90a9e15b-b71b-4caf-8f2e-ff247e8a5600 (string) - Unique procedure identifier 
+ status : completed (enum) - Status for provided procedure
    - completed
    - entered_in_error
+ status_reason (Codeable_Concept, optional) - Reason why current status was set to procedure. Is mandatory for entered_in_error
    + coding (array)
        + (Coding)
            + system: eHealth/procedure_status_reasons (string)
            + code: default (string)
+ based_on (Reference_request, optional)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: service_request (string)            
+ code (Reference_request, required) - code of procedure
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: service (string)
+ encounter (Reference_request, required)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: encounter (string)
- One Of
    - performed_date_time: 2018-08-02T10:45:16.000Z (string) - date and time when the procedure have been performed
    - performed_period (object , optional) - is required if procedure based on service request with quantity that has code=MINUTE (system=SERVICE_UNIT)
        + start: 2018-08-02T10:45:16.000Z (string)
        + end: 2018-08-12T10:45:16.000Z (string) 
+ recorded_by (Reference_request, required) - employee who submit procedure to e-Health
    + identifier (Identifier, optional)
        + type (Codeable_Concept, required)
            + coding (array, required)
                + (Coding)
                    + code: employee (string)
+ primary_source: true (boolean) - source of procedure information. True - the procedure is done by current doctor, false - according to someone description.
- One Of
    - performer (object) - if primary_source=true
        + identifier (object)
            + type (object)
                + coding (array, optional)
                    + (object)
                        + system: eHealth/resources (string)
                        + code: employee (string)
                + text: Галина Олександрівна (string)
            + value: 97d57238-ffbe-4335-92ea-28d4de117ea2 (string)
    - report_origin (object) - if primary_source=false
        + coding (array, optional)
            + (object)
                + system: eHealth/report_origins (string)
                + code: mother (string)
        + text: зі слів пацієнта (string)
+ division (Reference_request, optional) - Division of legal_entity where procedure have been performed.
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: division (string)
+ managing_organization (Reference_request, required) - Organization where procedure have been performed. Reference to legal_entity
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: legal_entity (string)
+ reason_references (array, optional) - The justification of why the procedure was performed.
    + (Reference_request)
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: condition (string)

+ outcome (Codeable_Concept, optional) - The outcome of the procedure
    + coding (array)
        + (Coding)
            + system: eHealth/procedure_outcomes (string)
            + code: default_outcome (string)

+ complication_details (array[Reference_request], optional) - Any complications that occurred during the procedure, or in the immediate post-performance period. Could be filled only for procedure in encounter package and only with reference to condition from same encounter
    + (Reference_request)
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: condition (string)
+ note: Додаткова інформація по процедурі (string) - Any other notes and comments about the procedure.
+ category (Codeable_Concept, required) - Classification of the procedure
    + coding (array)
        + (Coding)
            + system: eHealth/procedure_categories (string)
            + code: default (string)
+ paper_referral (Paper_referral, optional)
+ used_codes (array,optional)
    + (Codeable_Concept)
        + coding (array)
            + (Coding)
             + system: eHealth/assistive_products (string) 
             + code: 03_05_38 (string)
             
+ used_references (array, optional) - Items used during procedure.
    + (Reference_request)
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: equipment (string) 
+ focal_device (object) - Manipulated, implanted, or removed device
    + action (Codeable_Concept, optional) - Kind of change to Device
        + coding (array)
            + (Coding)
             + system: procedure_focal_device_actions (string) 
             + code: some_action (string)
    + manipulated (Reference_request, required) - Implanted Device used for this procedure
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: device (string) 

# ## Diagnostic Report

### Diagnostic_Report_Base_request
+ id: 90a9e15b-b71b-4caf-8f2e-ff247e8a5600 (string)
+ based_on (Reference_request, optional)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: service_request (string)
+ paper_referral (Paper_referral, optional)
+ status: final (string)
+ code (Reference_request, required)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: service (string)
+ category (array, required)
    + (Codeable_Concept)
        + coding (array)
             + (Coding)
                + system: eHealth/diagnostic_report_categories (string)
                + code: diagnostic_procedure (string)
+ effective_period(Period, optional)
+ issued: 2018-10-08T09:46:37.694Z (string)
+ conclusion: At risk of osteoporotic fracture (string)
+ conclusion_code (Codeable_Concept)
    + coding (array)
        + (Coding)
            + system: eHealth/ICD10_AM/condition_codes (string)
            + code: H04.2 (string)
+ recorded_by (Reference_request, required)
    + identifier (Identifier, optional)
        + type (Codeable_Concept, required)
            + coding (array, required)
                + (Coding)
                    + code: employee (string)
+ specimens (array, optional)
    + (Reference_request)
        + identifier (Identifier, optional)
            + type (Codeable_Concept, required)
                + coding (array, required)
                    + (Coding)
                        + code: specimen (string)
+ used_references (array, optional) - Items used in the report.
    + (Reference_request)
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: equipment (string) 

### Diagnostic_Report_EncounterPCG_Request
+ include Diagnostic_Report_Base_request
+ encounter (Reference_request, required)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: encounter (string)
+ primary_source: true (boolean) - could be false
+ managing_organization (Reference_request, optional)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: legal_enity (string)
+ division (Reference_request, optional) - Division of legal_entity where DR have been performed.
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: division (string)
- One Of
    - performer (optional) - required if primary_source=true
        - One Of
            - reference (object)
                + identifier (object)
                    + type (object)
                        + coding (array, optional)
                            + (object)
                                + system: eHealth/resources (string)
                                + code: employee (string)
                        + text: Галина Олександрівна (string)
                    + value: 97d57238-ffbe-4335-92ea-28d4de117ea2 (string)
            - text: Галина Олександрівна (string)
    - report_origin (object) - if primary_source=false
        + coding (array, optional)
            + (object)
                + system: eHealth/report_origins (string)
                + code: mother (string)
        + text: зі слів пацієнта (string)
+ results_interpreter (optional)
    - One Of
        - reference (object)
            + identifier (object)
                + type (object)
                    + coding (array, optional)
                        + (object)
                            + system: eHealth/resources (string)
                            + code: employee (string)
                + value: 97d57238-ffbe-4335-92ea-28d4de117ea2 (string)
        - text: Опанасенко Олексій Володимирович (string)


### Medication_Administration_EncounterPCG_Request
+ id: 90a9e15b-b71b-4caf-8f2e-ff247e8a5600 (string) - Unique medication admnistration identifier
+ part_of (array, optional) - A larger event of which this particular event is a component or step.
    + (Reference_request)
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: Procedure|Medication administration (string)
+ status : completed (enum) - Status for provided medication administration
    - completed
    - entered_in_error
+ category (Codeable_Concept, required) - Type of medication usage
    + coding (array)
        + (Coding)
            + system: eHealth/SNOMED/medication_administration_categories (string)
            + code: 409063005 (string)
+ medication (Reference_request, required) - What was administered, medication with type BRAND
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: medication (string)
+ context (Reference_request, required) - Encounter or Episode of Care administered as part of
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: encounter (string)
+ performed_date_time: 2018-08-02T10:55:00.000Z (string) - date and time when the procedure have been performed
+ performer (Reference_request, required) - Who performed the medication administration
     + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: employee (string)
+ reason_references (array, optional) - Condition or observation that supports why the medication was administered
    + (Reference_request)
        + identifier (Identifier)
            + type (Codeable_Concept)
                + coding (array)
                    + (Coding)
                        + code: condition|Observation|Diagnostic_report (string)
+ request (Reference_request, optional) - Request administration performed against
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: medication_request (string)
+ note: Some notes (string)
+ dosage (array, required) - Details of how medication was taken. SHALL have at least one of dosage.dose or dosage.rate
    + (Dosage)

### Dosage
+ text: Rapid daily-dose escalation, until tolerated, from 3 mg/d, and then 10 mg/d, to the recommended maintenance dose of 30 mg IV over 120 min, 3 times per wk on alternate days for up to 12 wk (string) - Free text dosage instructions e.g. SIG
+ site (Codeable_Concept) - Body site administered to
    + coding (array)
        + (Coding)
            + system: eHealth/SNOMED/anatomical_structure_administration_site_codes (string)
            + code: 344001 (string)
+ route (Codeable_Concept) - How drug should enter body
    + coding (array)
        + (Coding)
            + system: eHealth/SNOMED/route_codes (string)
            + code: 46713006 (string)
+ method (Codeable_Concept) - Technique for administering medication
    + coding (array)
        + (Coding)
            + system: eHealth/SNOMED/administration_methods (string)
            + code: 419747000 (string)
+ dose (Simple_Quantity) - Amount of medication per dose
- One Of
    + rate_ratio (Ratio)
    + rate_quantity (Simple_Quantity)

### Simple_Quantity
+ value: 13,5 (number, required)
+ unit: mg (string)
+ system: eHealth/ucum/units (string)
+ code: mg (string)

### Ratio
+ numerator (Simple_Quantity, required)
+ denominator (Simple_Quantity, required)

# ## Medication Statement

### Medication_Statement_Request
+ id: 80a9e15b-b71b-4caf-8f2e-ff247e8a5600 (string)
+ based_on (Reference_request, optional)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: medication_request (string)
+ asserted_date: 2018-08-02T10:45:00.000Z (string)
+ status:  active (string) - dictionary - eHealth/medication_satement_statuses
+ context(Reference_request, required)
    + identifier (Identifier)
        + type (Codeable_Concept)
            + coding (array)
                + (Coding)
                    + code: encounter (string)
+ primary_source: true (boolean)
- One Of
    - asserter (object)
        + identifier (object)
            + type (object)
                + coding (array, optional)
                    + (object)
                        + system: eHealth/resources (string)
                        + code: employee (string)
                + text (string)
            + value: 97d57238-ffbe-4335-92ea-28d4de117ea2 (string)                        
    - report_origin (object)
        + coding (array, optional)
[...]
